<div>
<div id="savedesignmodel" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-vertical-center " role="document">
        <form method="post" action="/app/workspace">
            <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-y-20 pd-x-25">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Save Design</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body pd-25">
                    <div class="form-layout">
                        <div class="row mg-b-25">
                            <div class="col-lg-6">
                                <div class="card">
                                    <img src="" id="prevesavdesign">
                                        <input class="form-control" type="hidden" name="json" value="" id="inputcanvasjson" >
                                        <input class="form-control" type="hidden" name="base64" value="" id="inputcanvasbase64" >
                                    </div>

                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row mg-b-25">

                                            <div class="col-lg-12">
                                                <input class="form-control" id="projectname" type="text" name="title" value="" placeholder="Project name">
                                                <input class="form-control" id="projectdesc" type="text" name="name" value="" placeholder="Description"></div>
                                            </div>
                                             


                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="btnSaveDesignPopup" class="btn btn-primary pd-x-20">Save changes</button>
                                            <button type="button" class="btn btn-secondary pd-x-20" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- modal-dialog -->
                        </div>
                        <script>
                            $("#selectCategory").on("change", (e) => {
                                $("#categoryId").val(e.target.value);
                            })
                        </script>
</div>