
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Website is currently down for maintenance.</title>
  </head>
  <body style="background: black;">
   <div style="color:white;text-align: center; width:100%; margin:auto; position:absolute; top: 200px">
   <div style="font-size:50px; ">Kakeprints.com</div>
   <div style="font-size:24px; color:#888"><strong style="color:orange" >Coming soon...</strong> Stay tuned!</div>
   </div>
  </body>
</html>
