<div class="row row-sm ">
    <div class="col-lg-12">
            <%- include('../../partials/client/workspace'); %>
    </div>
    <!-- <%- include('../../partials/client/rightpanel'); %> -->
</div>
