<div class="row row-sm ">
    <div class="col-lg-9">
        <div class="card">
            <%- include('../../partials/client/workspace'); %>
        </div>
    </div>
     <%- include('../../partials/client/rightpanel'); %> 
</div>
