<html lang="en">
    <head><%- include('../../partials/client/head'); %> </head>

  <body data-new-gr-c-s-check-loaded="14.1063.0" data-gr-ext-installed="">
    <form action="/app/login" method="POST">
    <div class="am-signin-wrapper">
        <%- include('../../partials/client/topbar',{user:null}); %>

      <div class="am-signin-box">
        <div class="row no-gutters">
          <div class="col-lg-5">
            <div>
              <h2>KakePrints</h2>
              <p>Welcome to KakePrints.com</p>
              <p>Please enter your login information. <br><br> Or click <a href="/app/register">Sign up</a> to create new account.</p>
            </div>
          </div>
          <div class="col-lg-7">
            <%- include('../../partials/client/messages'); %>
            <br>
            <h5 class="tx-gray-800 mg-b-25">Sign In to Your Account</h5>
           
            <div class="form-group">
              <label class="form-control-label">Email:</label>
              <input type="email" name="email" class="form-control" placeholder="Enter your email address">
            </div><!-- form-group -->

            <div class="form-group">
              <label class="form-control-label">Password:</label>
              <input type="password" name="password" class="form-control" placeholder="Enter your password">
            </div><!-- form-group -->

            <label class="ckbox pd-b-10">
              <input type="checkbox" name="agreeterms" ><span><a href="#" style="text-decoration: underline" data-toggle="modal" data-target="#termspopup">I Agree with Terms and Conditions.</a></span>
            </label>

            <button type="submit" class="btn btn-block">Sign In</button>

            <div class="form-group mg-b-20"><a href="">Reset password</a></div>
          </div><!-- col-7 -->
        </div><!-- row -->
        <p class="tx-center  tx-12 mg-t-15">Copyright © 2022</p>
      </div><!-- signin-box -->
    </div><!-- am-signin-wrapper -->
</form>
<%- include('../../partials/client/popups/terms'); %>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/popper.js"></script>

<script src="/js/bootstrap.js"></script>
<script src="../js/amanda.js"></script>
  

</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>