
<div class="row">
<div class="col-lg-9 pd-r-0">
    <div class="workarea">
        <div  id="canvas-holder">
            <div class="content tx-center">
                <canvas id="client-main-canvas"  ></canvas>
                <canvas id="client-main-canvas-logo"  ></canvas>                    
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 pd-x-0 mg-t-1" id="workspace-right-panel">
    <div class="pd-10 mg-b-1 tx-center card img-ctrl hidden"> 
        <div class="tx-12 tx-normal" >
            <a href="#" id="btn-download-pdf" class="start-over bg-primary">Download</a>
            <a href="#" id="btn-download-pdf" class="start-over bg-primary">Save</a>
        </div>  

    </div>
        <div class="pd-10 tx-center mg-b-1 card img-ctrl hidden">


            <div  id="repeatdesign">
        
                <div class="toggle toggle-light primary mg-auto disabled" style="height: 22px; width: 50px;">
                    <div class="toggle-slide">
                        <div class="toggle-inner" style="width: 78px; margin-left: 0px;">
                            <div class="toggle-on active" style="height: 22px; width: 39px; text-indent: -7.33333px; line-height: 22px;">ON</div>
                            <div class="toggle-blob" style="height: 22px; width: 22px; margin-left: -11px;"></div>
                            <div class="toggle-off" style="height: 22px; width: 39px; margin-left: -11px; text-indent: 7.33333px; line-height: 22px;">OFF</div>
                        </div>
                    </div>
                </div>
                <div class="pd-y-10">Repeat to each logo.</div>
                
                
            </div>
          
            <div id="repeat-image-ctrl"  style="display: none">
                <a href="#" class="apply">Apply to All</a>
                <a href="#" class="cancel">Cancel</a>
            </div>
    </div>
    <div class="card pd-x-20 pd-y-10 mg-b-1 ">
        <%- include('../../partials/admin/layers'); %>
    </div>
    <div class="card pd-20 bg-b-1 img-ctrl hidden">
        <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Color & Brightness</h6>        
        <div class="tx-12" >
            <div ><b>Brightness <span id="brightnessVal"></span></b></div>
            <input type="range" min="-1" max="1" value="0.0" class="slider " step="0.003921" style="width:100%;height:2px" id="brightness-value">
            <div><b>Contrast <span id="contrastVal"></span></b></div>
            <input type="range" min="-1" max="1" value="0.0" class="slider" step="0.003921" style="width:100%;height:2px" id="contrast-value">          
            <b class="ion-record tx-22" id="btnGrayscale"></b> &nbsp; Grayscale
        </div>
    </div>
    <div class="card pd-20 mg-t-1 img-ctrl hidden">
        <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Size</h6>
        <div class="d-flex mg-b-10">
            <div class="bd-r pd-r-10">
              <label class="tx-12 ">Crop</label>
              <p class="tx-center tx-22">
                <i class="ion-crop" id="crop"></i>
              </p>
              
            </div>
            <div class="bd-r pd-x-10">
              <label class="tx-12 " >Rotate</label>
              <p class="tx-center tx-22">
                <i class="ion-loop " id="rotate"></i>
              </p>                
            </div>
           
            <div class="pd-x-10 bd-r">
                <label class="tx-12" >FlipX</label>
                <p class="tx-center tx-22">
                  <i class="ion-arrow-swap" id="flipW"></i>
                </p>
              </div>
              <div class="pd-l-10">
                <label class="tx-12" >FlipY</label>
                <p class="tx-center tx-22" style="transform:rotate(90deg)">
                    <i class="ion-arrow-swap" id="flipH" ></i>
                </p>
              </div>
          </div>        
    </div>
   
</div>
</div>
<script> 
 $(".tab-content .tab-pane").each((i,e)=>
    { $(e).removeClass("active"); })
   $("#uploadpanel").addClass("active");
window.onload = function()
{
   var code = '<%=template.code%>' || 'default'
    loadSVGTemplate(code);
}
 </script>

