
<div class="row">
<div class="col-lg-12">
    <div class="workarea">
        <div  id="canvas-holder">
            <button id="btn-download-pdf">Download PDF</button>
            <div class="content tx-center">
                <canvas id="client-main-canvas"  ></canvas>                
            </div>
        </div>
    </div>
</div>
</div>

