<div id="edituser" class="modal fade show">

    <div class="modal-dialog modal-ms" role="document">
        <div class="modal-content tx-size-sm">
            <form method="post" action="/app/admin/workspace">

                <div class="modal-header pd-x-20">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Edit User </h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body pd-20">
                    <div class="form-layout" id="edit-user-container">
                        <div class="row mg-b-25">
                            <!-- col-8 -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label ">User name</label>
                                    <input class="form-control fname" readonly type="text">
                                </div>

                            </div>
                            <!-- <div class="col-lg-6">
                                    <label class="form-control-label ">Last name</label>
                                        <input class="form-control lname" readonly  type="text"   >
                                </div> -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label ">Email</label>
                                    <input class="form-control email" readonly type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label ">Company</label>
                                    <input class="form-control company" readonly type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label ">Created Date</label>
                                    <input class="form-control created_dt" readonly type="text">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label ">Project Limit</label>
                                    <input class="form-control project_lmt" type="number">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group d-md-flex align-items-center h-100" style="gap: 20px">
                                    <!-- <label class="ckbox">
                                        <input type="checkbox" class="is_admin" ><span>Admin</span>
                                      </label> -->
                                    <label class="ckbox">
                                        <input type="checkbox" class="is_active"><span>Active</span>
                                    </label>
                                    <label class="ckbox">
                                        <input type="checkbox" class="watermark"><span>Watermark</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal-body -->
                <div class="modal-footer">
                    <button type="button" id="btnEditUser" class="btn btn-primary tx-bold tx-uppercase tx-12 pd-x-20" data-dismiss="modal">Save Changes</button>
                    <button type="button" class="btn btn-secondary pd-x-20 tx-bold tx-uppercase tx-12" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
    <!-- modal-dialog -->

</div>