<div class="tpr-flex-container">
    <ul class="tpr-fonts-list tpr-text-format-option tpr-has-scrollbar" data-key="font-family" data-type="1">
                    <li class="tpr-font-option tpr-text-format-option__item" data-value="Arial">
            <img src="/cliparts/1.jpg">
        </li>
                    
                </ul>
    <div class="tpr-text-edit-options">
        <div class="textObjectPreviewWrapper">
            <div class="textObjectPreview"></div>
        </div>
        <div class="tpr-input tpr-text-input-field">
            <textarea placeholder="Write your text here" data-label="text" maxlength="256"></textarea>
            <hr>
        </div>

        <div class="tpr-form-field tpr-text-format-options">
            <div class="tpr-form-field__label">Formatting</div>
            <div class="tpr-form-field__content">
                <div class="tpr-text-format-option tpr-text-format-option_weight" data-key="font-weight" data-type="0+">
                    <button type="button" class="tpr-text-format-option__item tpr-button" data-value="bold">
                        <i class="ico-bold"></i>
                    </button>
                </div><!--
             --><div class="tpr-text-format-option tpr-text-format-option_style" data-key="font-style" data-type="0+">
                    <button type="button" class="tpr-text-format-option__item tpr-button" data-value="italic">
                        <i class="ico-italic"></i>
                    </button>
                </div><!--
             --><div class="tpr-text-format-option tpr-text-format-option_decoration" data-key="text-decoration" data-type="0+">
                    <button type="button" class="tpr-button tpr-text-format-option__item" data-value="underline">
                        <i class="ico-underline"></i>
                    </button>
                </div><!--
             --><div class="tpr-text-format-option tpr-text-format-option_alignment" data-key="text-align" data-type="1">
                    <button type="button" class="tpr-button tpr-text-format-option__item tpr-selected" data-value="left">
                        <i class="ico-paragraph-left"></i>
                    </button><!--
                    --><button type="button" class="tpr-button tpr-text-format-option__item" data-value="center">
                        <i class="ico-paragraph-center"></i>
                    </button><!--
                    --><button type="button" class="tpr-button tpr-text-format-option__item" data-value="right">
                        <i class="ico-paragraph-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="tpr-form-field">
            <div class="tpr-form-field__label">Font size</div>
            <div class="tpr-form-field__content">
                <div class="tpr-range-input">
                    <input type="range" class="tpr-text-format-option" data-key="font-size" data-suffix="px" min="10" max="100" step="1" value="28">
                    <div class="tpr-value-indicator tpr-font-size-indicator" style="left: 20%;">28</div>
                </div>
            </div>
        </div>
        <div class="tpr-form-field">
            <div class="tpr-form-field__label curvature">Curvature</div>
            <div class="tpr-form-field__content curvature">
                <div class="tpr-range-input">
                    <input type="range" class="tpr-text-format-option" data-key="text-curvature" data-suffix="" min="-10" max="10" step="0.25" value="0">
                    <div class="tpr-value-indicator tpr-text-curvature-indicator" style="left: 50%;">0</div>
                </div>
            </div>
        </div>
        <div class="tpr-form-field">
            <div class="tpr-form-field__label">Color</div>
            <div class="tpr-form-field__content">
                <div class="tpr-text-format-option tpr-format-option_color" data-key="color" data-type="1">
                    <button type="button" class="tpr-button tpr-selected tpr-text-format-option__item tpr-text-format-option__item_color tpr-color-picker">
                </button></div>
            </div>
        </div>
        <div class="buttonsWrapper">
            <button type="submit" class="tpr-button">Add text</button>
            <button type="button" class="tpr-button tpr-button__light lightboxClose">Cancel</button>

            <div class="loader">
                <span class="graphic"></span>
                Loading images...                </div>
        </div>
    </div>
</div>