<script>
    var _tprcfg = {options: {}, data: {}};

    _tprcfg.options.editor = true;
    _tprcfg.data.tpl = true;
    _tprcfg.options.forcePreviewBeforeSubmit = true;
    _tprcfg.data.dl = true;
    _tprcfg.options.saveCustomTemplates = false;
    _tprcfg.options.tabsDisabled = [3, 4];

    var page = (function($) {

        var $topperoo = $('#topperoo');

        function hideOtherSupplierProducts() {
            $topperoo.find('.product').each(function(i, product) {
                var $product = $(product);
                var isCurrentSupplierExclusive = 0;
                var icingSupplier = ["other"];
                var exclusiveSuppliers = [];
                var referrerTypes = ["other"];

                // Hide all other supplier`s product that don't have same code, except the product doesn't have code.
                if ($product.hasClass('tpr-public-product') &&
                        product.hasAttribute('data-supplier-code') &&
                        icingSupplier.indexOf($product.attr('data-supplier-code')) < 0
                ) {
                    if ('other' !== 'other') {
                        $product.hide();
                    } else if (exclusiveSuppliers.indexOf($product.attr('data-supplier-code')) >= 0) {
                        $product.hide();
                    }

                    // Show again the template if the data supplier code = the current user's referrer type
                    if ('other' == 'other' && referrerTypes !== null && referrerTypes.indexOf($product.attr('data-supplier-code')) >= 0) {
                        $product.show();
                    }
                }

                // Hide all other supplier's products without exception, if current supplier is exclusive.
                if (isCurrentSupplierExclusive &&
                        $product.hasClass('tpr-public-product') &&
                        icingSupplier.indexOf($product.attr('data-supplier-code')) < 0
                ) {
                    $product.hide();
                }
            });
        }

        function changeDesignPreviewPopupTemplate() {
            var template = $('#tpr-designForcePreviewDialog');
            var html_text = template.html();

            html_text = html_text.replace(/tpr-designPreviewConfirmBtn/, 'tpr-designPreviewDenyDownload');
            template.html(html_text);

            $(document).on('click', '#tpr-designPreviewDenyDownload', function(event) {
                event.preventDefault();
                event.stopPropagation();

                $.magnificPopup.open({
                    items: {
                        src: '#paidUserOnlyModal',
                        type: 'inline',
                    },
                    type: 'inline',
                    overflowY: 'scroll',
                    closeOnBgClick: true,
                });
            });
        }

        function addLinkToCakeMyFace() {
                    }

        return {
            hideOtherSupplierProducts: hideOtherSupplierProducts,
            changeDesignPreviewPopupTemplate: changeDesignPreviewPopupTemplate,
            addLinkToCakeMyFace: addLinkToCakeMyFace
        };
    })(jQuery);
</script>
<script>
    (function(t, o, pp, e, r, oo) {
        t.tprSettings = {
            tpriid: '54f00c6f90b40b6227966d41a34e5e22',
        };
        t.tprCallbacks = {
            'topperoo.dashboard.loaded': function() {
                page.hideOtherSupplierProducts();
                page.changeDesignPreviewPopupTemplate();
                page.addLinkToCakeMyFace();
            },
        };
        r = o.getElementsByTagName('head')[0];
        oo = o.createElement('script');
        oo.async = 1;
        oo.src = e;
        oo.crossorigin = "anonymous";
        r.appendChild(oo);
    })(window, document, 'script', '/scripts/topperoo.js?with-mobile-ui=yes');

    window.addEventListener('load', function(event) {
        setTimeout(function() {
            window.CMF.viewport; // If topperoo.js script not loaded, then CMF object will be undefined.
        }, 1000);
    });
</script>
<footer id="colophon" class="">
    <div class="container">
        <div class="copyright">
            <div class="site-info">
                Copyright © 2022 by
                <a href="/" title="Photo Cake Printing Software | DigiTrendz – Simple Online Designer">Edible Image Software</a>.
                <br>
                Photo Cake Printing Software | DigiTrendz – Simple Online Designer                </div>
            <a href="/privacy-policy" title="Our Privacy Policy">Privacy Policy</a>
        </div>

          <ul class="list-inline social-inline">
<li class="social facebook"><a href="/"><i class="fa fa-facebook"></i></a></li>    <li class="social twitter"><a href="/"><i class="fa fa-twitter"></i></a></li>        <li class="social youtube"><a href="/"><i class="fa fa-youtube"></i></a></li>        <li class="social instagram"><a href="/"><i class="fa fa-instagram"></i></a></li>    <li class="social pinterest"><a href="/"><i class="fa fa-pinterest"></i></a></li>  </ul>        </div>
</footer>


    <script>
        window.RS_MODULES = window.RS_MODULES || {};
        window.RS_MODULES.modules = window.RS_MODULES.modules || {};
        window.RS_MODULES.waiting = window.RS_MODULES.waiting || [];
        window.RS_MODULES.defered = true;
        window.RS_MODULES.moduleWaiting = window.RS_MODULES.moduleWaiting || {};
        window.RS_MODULES.type = 'compiled';
    </script>
    <script data-cfasync="false">
document.onreadystatechange = function () {
if (document.readyState == "complete") {
  var logout_link = document.querySelectorAll('a[href*="wp-login.php?action=logout"]');
  if (logout_link) {
    for(var i=0; i < logout_link.length; i++) {
      logout_link[i].addEventListener( "click", function() {
        Intercom('shutdown');
      });
    }
  }
}
};
</script>
<script data-cfasync="false">
window.intercomSettings = {"app_id":"bhrl9uv8"};
</script>
<script data-cfasync="false">(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/bhrl9uv8';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
<!-- Modal -->

<div id="modal-post" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-inner">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>

        <div class="modal-body">

            <h3 class="modal-title"></h3>

            <div class="modal-image"></div>

            <div class="modal-data"></div>

            <div class="modal-content"></div>

            <div class="modal-data-button"></div>

        </div>

    </div>

</div>

<link rel="stylesheet" id="rs-plugin-settings-css" href="/css/rs6.css?ver=6.5.14" type="text/css" media="all">
<style id="rs-plugin-settings-inline-css" type="text/css">
.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}@import url(http://fonts.googleapis.com/css?family=Dancing+Script);@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600);.down-button a{color:#fff !important;  width:36px !important;   height:36px!important ;  background:rgba(0,0,0,0.15);  border-radius:90%}.down-button i{margin-left:10px}.down-button a:hover{background:rgba(224,64,40,0.75)}.tp-caption.big_caption_3,.tp-caption.big_caption_2,.tp-caption.big_caption_4,.tp-caption.big_caption_5,.tp-caption.big_caption_6,.tp-caption.big_caption_7,.tp-caption.big_caption_8,.tp-caption.big_caption_9,.tp-caption.big_caption_10,.tp-caption.big_caption_11,.tp-caption.big_caption_13,.tp-caption.big_caption_15,.tp-caption.big_caption_3_white,.tp-caption.big_caption_2_white,.tp-caption.big_caption_4_white{position:absolute; color:#e14f4f; text-shadow:none; font-size:80px; line-height:80px; font-family:"Open Sans";border-width:0px; border-style:none}.tp-caption.big_caption_2,.tp-caption.big_caption_2_white{font-size:48px}.tp-caption.big_caption_4,.tp-caption.big_caption_4_white{font-size:124px; color:#fff}.tp-caption.big_caption_5{line-height:24px;font-size:15px;color:#999}.tp-caption.big_caption_6{font-size:120px;color:#fff}.tp-caption.big_caption_7,.tp-caption.big_caption_7_red{font-size:72px;color:#fff;font-weight:bold}.tp-caption.big_caption_7_red{background:#E04028;padding:10px 20px;line-height:72px}.tp-caption.big_caption_8{font-size:24px;color:#fff;font-family:"Open Sans"}.tp-caption.big_caption_9{font-size:50px;color:#333}.tp-caption.big_caption_10{font-size:55px;color:#333;font-weight:bold}.tp-caption.big_caption_11{font-size:24px;color:#fff;background:#379BDE;background:rgba(55,155,222,0.8);padding:10px 20px;line-height:30px}.tp-caption.big_caption_12{font-size:212px;color:#333}.tp-caption.big_caption_13{font-size:36px;font-weight:800;color:#fff}.tp-caption.big_caption_15{font-size:30px;font-weight:800;color:#fff}.tp-caption.big_caption_14{line-height:30px;font-size:16px;font-weight:700;color:#fff;text-transform:uppercase}.tp-caption.handwriting,.tp-caption.handwriting_white{position:absolute; color:#fff; text-shadow:none; font-size:144px; line-height:44px; font-family:"Dancing Script";padding:15px 40px 15px 40px;margin:0px; border-width:0px; border-style:none}.tp-caption.store_button a{position:absolute; color:#fff; text-shadow:none; height:19px;font-size:18px; line-height:18px; font-weight:bold; font-family:"Open Sans";padding:20px 35px 20px 35px !important;margin:0px;  cursor:pointer;   background:#E04028;  border-radius:5px;   border-bottom:4px solid #cd2e16}.tp-caption.store_button_white a{position:absolute; color:#fff; text-shadow:none;   font-size:14px;  font-weight:normal;  padding:15px 35px !important;   background:none;   border:2px solid #fff;   border-radius:40px ; height:24px !important}.tp-caption.store_button_white a:hover{background:#E04028}.tp-caption.store_button a,.tp-caption.store_button_white a{color:#fff !important}.tp-caption.store_button_white a{color:#fff !important}.tp-caption.store_button a:hover{background:#cd2e16;border-bottom:4px solid #E04028}.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}.tp-caption.big_caption_3_white,.tp-caption.big_caption_2_white,.tp-caption.big_caption_4_white,.tp-caption.handwriting_white{color:#fff}.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}.largeredbtn{font-family:"Raleway",sans-serif;font-weight:900;font-size:16px;line-height:60px;color:#fff !important;text-decoration:none;padding-left:40px;padding-right:80px;padding-top:22px;padding-bottom:22px;background:rgb(234,91,31); background:-moz-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(234,91,31,1)),color-stop(100%,rgba(227,58,12,1))); background:-webkit-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); background:-o-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); background:-ms-linear-gradient(top,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); background:linear-gradient(to bottom,rgba(234,91,31,1) 0%,rgba(227,58,12,1) 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea5b1f',endColorstr='#e33a0c',GradientType=0 )}.largeredbtn:hover{background:rgb(227,58,12); background:-moz-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(227,58,12,1)),color-stop(100%,rgba(234,91,31,1))); background:-webkit-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); background:-o-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); background:-ms-linear-gradient(top,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); background:linear-gradient(to bottom,rgba(227,58,12,1) 0%,rgba(234,91,31,1) 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e33a0c',endColorstr='#ea5b1f',GradientType=0 )}.fullrounded img{-webkit-border-radius:400px;-moz-border-radius:400px;border-radius:400px}
</style>
<script type="text/javascript" src="/scripts/regenerator-runtime.min.js?ver=0.13.9" id="regenerator-runtime-js"></script>
<script type="text/javascript" src="/scripts/wp-polyfill.min.js?ver=3.15.0" id="wp-polyfill-js"></script>
<script type="text/javascript" id="contact-form-7-js-extra">
/* <![CDATA[ */
var wpcf7 = {"api":{"root":"https:\/\/topperoo.com\/wp-json\/","namespace":"contact-form-7\/v1"},"cached":"1"};
/* ]]> */
</script>
<script type="text/javascript" src="/scripts/index.js?ver=5.5.6" id="contact-form-7-js"></script>
<script type="text/javascript" id="disqus_count-js-extra">
/* <![CDATA[ */
var countVars = {"disqusShortname":"topperoo"};
/* ]]> */
</script>
<script type="text/javascript" src="/scripts/comment_count.js?ver=3.0.22" id="disqus_count-js"></script>
<script type="text/javascript" id="disqus_embed-js-extra">
/* <![CDATA[ */
var embedVars = {"disqusConfig":{"integration":"wordpress 3.0.22"},"disqusIdentifier":"12 https:\/\/topperoo.com\/?page_id=12","disqusShortname":"topperoo","disqusTitle":"Design","disqusUrl":"https:\/\/topperoo.com\/design\/","postId":"12"};
/* ]]> */
</script>
<script type="text/javascript" src="/scripts/comment_embed.js?ver=3.0.22" id="disqus_embed-js"></script>
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js?ver=1.1" id="tikemp_search_scroll-js"></script>
<script type="text/javascript" src="/scripts/script.js?ver=1.2" id="tikemp_script-js"></script>
<script type="text/javascript" src="/scripts/rbtools.min.js?ver=6.5.14" defer="" async="" id="tp-tools-js"></script>
<script type="text/javascript" src="/scripts/rs6.min.js?ver=6.5.14" defer="" async="" id="revmin-js"></script>
<script type="text/javascript" src="/scripts/page-design.js?ver=1603442863" id="page-design-js"></script>
<script type="text/javascript" src="/scripts/page-design-mobile.js?ver=1601032344" id="page-design-mobile-js"></script>
    

<!-- Cache served by breeze CACHE - Last modified: Fri, 13 May 2022 13:05:49 GMT -->

<script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","//connect.facebook.net/en_US/fbevents.js");fbq("init","1443301075972680");fbq("track","PageView");</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebookx.com/tr?id=1443301075972680&amp;ev=PageView&amp;noscript=1"></noscript>

<script type="text/javascript" id="" src=""></script>
<script type="text/javascript" id="">_refersion();</script>
<style>
@keyframes intercom-lightweight-app-launcher {
from {
  opacity: 0;
  transform: scale(0.5);
}
to {
  opacity: 1;
  transform: scale(1);
}
}

@keyframes intercom-lightweight-app-gradient {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

@keyframes intercom-lightweight-app-messenger {
from {
  opacity: 0;
  transform: translateY(20px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}

.intercom-lightweight-app {
position: fixed;
z-index: 2147483001;
width: 0;
height: 0;
font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
}

.intercom-lightweight-app-gradient {
position: fixed;
z-index: 2147483002;
width: 500px;
height: 500px;
bottom: 0;
right: 0;
pointer-events: none;
background: radial-gradient(
  ellipse at bottom right,
  rgba(29, 39, 54, 0.16) 0%,
  rgba(29, 39, 54, 0) 72%);
animation: intercom-lightweight-app-gradient 200ms ease-out;
}

.intercom-lightweight-app-launcher {
position: fixed;
z-index: 2147483003;
bottom: 20px;
right: 20px;
width: 60px;
height: 60px;
border-radius: 50%;
background: #f68712;
cursor: pointer;
box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
animation: intercom-lightweight-app-launcher 250ms ease;
}

.intercom-lightweight-app-launcher:focus {
outline: none;

}

.intercom-lightweight-app-launcher-icon {
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 0;
left: 0;
width: 60px;
height: 60px;
transition: transform 100ms linear, opacity 80ms linear;
}

.intercom-lightweight-app-launcher-icon-open {

    opacity: 1;
    transform: rotate(0deg) scale(1);
  
}

.intercom-lightweight-app-launcher-icon-open svg {
width: 28px;
height: 32px;
}

.intercom-lightweight-app-launcher-icon-open svg path {
fill: rgb(255, 255, 255);
}

.intercom-lightweight-app-launcher-icon-self-serve {

    opacity: 1;
    transform: rotate(0deg) scale(1);
  
}

.intercom-lightweight-app-launcher-icon-self-serve svg {
height: 56px;
}

.intercom-lightweight-app-launcher-icon-self-serve svg path {
fill: rgb(255, 255, 255);
}

.intercom-lightweight-app-launcher-custom-icon-open {
max-height: 36px;
max-width: 36px;

    opacity: 1;
    transform: rotate(0deg) scale(1);
  
}

.intercom-lightweight-app-launcher-icon-minimize {

    opacity: 0;
    transform: rotate(-60deg) scale(0);
  
}

.intercom-lightweight-app-launcher-icon-minimize svg {
width: 16px;
}

.intercom-lightweight-app-launcher-icon-minimize svg path {
fill: rgb(255, 255, 255);
}

.intercom-lightweight-app-messenger {
position: fixed;
z-index: 2147483003;
overflow: hidden;
background-color: white;
animation: intercom-lightweight-app-messenger 250ms ease-out;

    width: 376px;
    height: calc(100% - 120px);
    max-height: 704px;
    min-height: 250px;
    right: 20px;
    bottom: 100px;
    box-shadow: 0 5px 40px rgba(0,0,0,0.16);
    border-radius: 8px;
  
}

.intercom-lightweight-app-messenger-header {
height: 75px;
background: linear-gradient(
  135deg,
  rgb(255, 255, 255) 0%,
  rgb(204, 204, 204) 100%
);
}

@media print {
.intercom-lightweight-app {
  display: none;
}
}
</style>


<script src="/theme/assets/js/jquery.js"></script>
        <script src="/theme/assets/js/popper.js"></script>
        <script src="/theme/assets/js/bootstrap.js"></script>
        <script src="/theme/assets/js/perfect-scrollbar.jquery.js"></script>
        <script src="/theme/assets/js/toggles.min.js"></script>
        <script src="/theme/assets/js/d3.js"></script>
        <script src="/theme/assets/js/rickshaw.min.js"></script>
        <script src="/theme/assets/js"></script>
        <script src="/theme/assets/js/gmaps.js"></script>
        <script src="/theme/assets/js/jquery.flot.js"></script>
        <script src="/theme/assets/js/jquery.flot.pie.js"></script>
        <script src="/theme/assets/js/jquery.flot.resize.js"></script>
        <script src="/theme/assets/js/jquery.flot.spline.js"></script>
        <script src="/theme/assets/js/amanda.js"></script>
        <script src="/theme/assets/js/ResizeSensor.js"></script>
        <script src="/theme/assets/js/dashboard.js"></script>