
<div class="card pd-20 mg-t-15 context_panel" id="canvas_panel">
    <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Canvas Settings</h6>
    <div class="pd-x-10 pd-b-10 ">
        <label class="tx-12 ">Title</label>
        <input  class="form-control" placeholder="Input box" type="text" id="canvas_title" type="text" />
    </div>
    <div class="d-flex mg-b-10">
        <div class="bd-r pd-x-10 ">
            <label class="tx-12">Width</label>
            <input  class="form-control" placeholder="Input box" type="text" id="canvas_width" type="text" pattern="[0-9]*" value="800" />
        </div>
        <div class="pd-x-10 ">
            <label class="tx-12">Height</label>
            <input  class="form-control" placeholder="Input box" type="text" id="canvas_height" type="text" pattern="[0-9]*" value="600" />
        </div>
    </div>
    <div class="pd-x-10 pd-b-10 ">
        <label class="tx-12">Sizes</label>
        <select id="resolution" class="form-control select2" data-placeholder="Choose Sizes">

            <option id="selectedPredefined" selected="selected">Custom</option>
            <option id="fitToContent" value="content">Fit to Content</option>
  
            <optgroup label="Social Media">
              <option value="1012x506">Twitter Post (1012 × 506)</option>
              <option value="1500x500">Twitter Header (1500 × 500)</option>
              <option value="1200x630">Facebook Post (1200 × 630)</option>
              <option value="820x312">Facebook Cover (820 × 312)</option>
              <option value="1080x1080">Instagram Post (1080 × 1080)</option>
              <option value="1080x1920">Instagram Story (1080 × 1920)</option>
              <option value="300">Dribble Shot (400 × 300)</option>
              <option value="800x600">Dribble Shot HD (800 × 600)</option>
              <option value="1584x396">LinkedIn Cover (1584 × 396)</option>
            </optgroup>
  
            <optgroup label="Presentation">
              <option value="1920x1080">16:9 (1920 × 1080)</option>
              <option value="1024x768">4:3 (1024 × 768)</option>
            </optgroup>
            
            <optgroup label="Desktop">
              <option value="1140x1024">Desktop (1140 × 1024)</option>
              <option value="375x700">MacBook (834 × 1194)</option>
              <option value="1440x900">MacBook Pro (1024 × 1366)</option>
              <option value="1500x1000">Surface Book (1440 × 990)</option>
              <option value="1280x720">iMac (1368 × 912)</option>
            </optgroup>
  
  
            <optgroup label="Tablet">
              <option value="414x896">iPad Mini (768 × 1024)</option>
              <option value="375x812">iPad Pro 11" (834 × 1194)</option>
              <option value="375x812">iPad Pro 12.9" (1024 × 1366)</option>
              <option value="414x736">Surface Pro 3 (1440 × 990)</option>
              <option value="414x736">Surface Pro 4 (1368 × 912)</option>
            </optgroup>
  
            <optgroup label="Phone">
              <option value="414x896">iPhone 11 ProMax (414 × 896)</option>
              <option value="375x812">iPhone 11 Pro / X (375 × 812)</option>
              <option value="414x736">iPhone 8 Plus (414 × 736)</option>
              <option value="375x667">iPhone 8 (375 × 667)</option>
              <option value="411x731">Google Pixel 2 (411 × 731)</option>
              <option value="411x823">Google Pixel XL (411 × 823)</option>
              <option value="360x640">Android (360 × 640)</option>
            </optgroup>
            
            <optgroup label="Paper">
              <option value="595x842">A4 (595 × 842)</option>
              <option value="420x595">A5 (420 × 595)</option>
              <option value="297x420">A6 (297 × 420)</option>
              <option value="612x792">Letter (612 × 792) </option>
              <option value="792x1224">Tabloid (792 × 1224)</option>
              
            </optgroup>
          </select>
          <label id="resolution_label" style="display: none">Custom</label>
          <label data-title="Change canvas color" class="draginput" style="display: none">
            <span>Color</span>
            <div id="color_canvas_tools">
              <div class="color_tool active" id="tool_canvas">
                <div class="color_block">
                  <div id="canvas_bg"></div>
                  <div id="canvas_color"></div>
                </div>
              </div>
            </div>
          </label>
    </div>
</div>
<!-- <div id="canvas_panel" class="context_panel">
      
  <h4>Canvas</h4>

  <div class="draginputs">


    <label class="draginput twocol textcontent" data-title="Change Content">
      <input id="canvas_title" type="text" />
      <span>Title</span>
    </label>


    <label data-title="Change canvas width" class="draginput">
      <input id="canvas_width" type="text" pattern="[0-9]*" value="800" />
      <span class="icon_label">Width</span>
    </label>

    <label data-title="Change canvas height" class="draginput">
      <input id="canvas_height" type="text" pattern="[0-9]*" value="600" />
      <span class="icon_label">Height</span>
    </label>
    
    <label data-title="Change canvas color" class="draginput">
      <span>Color</span>
      <div id="color_canvas_tools">
        <div class="color_tool active" id="tool_canvas">
          <div class="color_block">
            <div id="canvas_bg"></div>
            <div id="canvas_color"></div>
          </div>
        </div>
      </div>
    </label>

    <div class="draginput">
      <span>Sizes</span>
      <select id="resolution">

        <option id="selectedPredefined" selected="selected">Custom</option>
        <option id="fitToContent" value="content">Fit to Content</option>

        <optgroup label="Social Media">
          <option value="1012x506">Twitter Post (1012 × 506)</option>
          <option value="1500x500">Twitter Header (1500 × 500)</option>
          <option value="1200x630">Facebook Post (1200 × 630)</option>
          <option value="820x312">Facebook Cover (820 × 312)</option>
          <option value="1080x1080">Instagram Post (1080 × 1080)</option>
          <option value="1080x1920">Instagram Story (1080 × 1920)</option>
          <option value="300">Dribble Shot (400 × 300)</option>
          <option value="800x600">Dribble Shot HD (800 × 600)</option>
          <option value="1584x396">LinkedIn Cover (1584 × 396)</option>
        </optgroup>

        <optgroup label="Presentation">
          <option value="1920x1080">16:9 (1920 × 1080)</option>
          <option value="1024x768">4:3 (1024 × 768)</option>
        </optgroup>
        
        <optgroup label="Desktop">
          <option value="1140x1024">Desktop (1140 × 1024)</option>
          <option value="375x700">MacBook (834 × 1194)</option>
          <option value="1440x900">MacBook Pro (1024 × 1366)</option>
          <option value="1500x1000">Surface Book (1440 × 990)</option>
          <option value="1280x720">iMac (1368 × 912)</option>
        </optgroup>


        <optgroup label="Tablet">
          <option value="414x896">iPad Mini (768 × 1024)</option>
          <option value="375x812">iPad Pro 11" (834 × 1194)</option>
          <option value="375x812">iPad Pro 12.9" (1024 × 1366)</option>
          <option value="414x736">Surface Pro 3 (1440 × 990)</option>
          <option value="414x736">Surface Pro 4 (1368 × 912)</option>
        </optgroup>

        <optgroup label="Phone">
          <option value="414x896">iPhone 11 ProMax (414 × 896)</option>
          <option value="375x812">iPhone 11 Pro / X (375 × 812)</option>
          <option value="414x736">iPhone 8 Plus (414 × 736)</option>
          <option value="375x667">iPhone 8 (375 × 667)</option>
          <option value="411x731">Google Pixel 2 (411 × 731)</option>
          <option value="411x823">Google Pixel XL (411 × 823)</option>
          <option value="360x640">Android (360 × 640)</option>
        </optgroup>
        
        <optgroup label="Paper">
          <option value="595x842">A4 (595 × 842)</option>
          <option value="420x595">A5 (420 × 595)</option>
          <option value="297x420">A6 (297 × 420)</option>
          <option value="612x792">Letter (612 × 792) </option>
          <option value="792x1224">Tabloid (792 × 1224)</option>
          
        </optgroup>
      </select>
      <div class="caret"></div>
      <label id="resolution_label">Custom</label>
    </div>

  </div>
</div> -->