
<div class="tpr-dialog lightbox addClipArtDialog mfp-hide" id="addClipArtDialog">

    <form action="http://localhost:8080/api/cliparts" id="clipArtSelectionForm" enctype="multipart/form-data" method="post" accept-charset="utf-8">

    <div class="gallery tpr-clipart-gallery">
        <p>Click on the images to select/de-select them.:</p>
        <div class="galleryContainer tpr-clipart_gallery__containerx tpr-lazy-containerx tpr-has-scrollbarx">
                            <!-- <img class="tpr-lazy-image" data-src="https://app.topperoo.com/gallery/54f00c6f90b40b6227966d41a34e5e22/viewport/cmf_597a52de1b9068511.png" data-original="https://app.topperoo.com/gallery/54f00c6f90b40b6227966d41a34e5e22/viewport/cmf_597a52de1b9068511.png" data-id="0" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"> -->
                            <img class="tpr-lazy-image" src="/cliparts/1.jpg">
                            <img class="tpr-lazy-image" src="/cliparts/2.jpg">
                            <img class="tpr-lazy-image" src="/cliparts/3.jpg">
                            <img class="tpr-lazy-image" src="/cliparts/4.jpg">
                            <img class="tpr-lazy-image" src="/cliparts/5.jpg">
                            <img class="tpr-lazy-image" src="/cliparts/6.jpg">
                            <img class="tpr-lazy-image" src="/cliparts/7.jpg">
                            <img class="tpr-lazy-image" src="/cliparts/8.jpg">
                            <img class="tpr-lazy-image" src="/cliparts/9.jpg">
                            <img class="tpr-lazy-image" src="/cliparts/10.jpg">
                            <img class="tpr-lazy-image" src="/cliparts/11.jpg">
                            <img class="tpr-lazy-image" src="/cliparts/12.jpg">
                            <img class="tpr-lazy-image" src="/cliparts/13.jpg">
                    </div>
    </div>

    <input type="file" name="userimages[]" class="tpr-hidden" multiple="">
    <button type="submit" class="tpr-button">Add image(s)</button>

    </form></div>