<meta
http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Required meta tags -->
<meta
name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Twitter -->


<title>Editable Image Software.</title>

<!-- vendor css -->
<link href="/theme/assets/css/font-awesome.css" rel="stylesheet">
<link href="/theme/assets/css/ionicons.css" rel="stylesheet">
<link href="/theme/assets/css/perfect-scrollbar.css" rel="stylesheet">
<link href="/theme/assets/css/toggles-full.css" rel="stylesheet">
<link
href="/theme/assets/css/rickshaw.min.css" rel="stylesheet">

<!-- Main CSS -->
<link rel="stylesheet" href="/theme/assets/css/amanda.css">
<script type="text/javascript" charset="UTF-8" src="/theme/assets/common.js"></script>
<script type="text/javascript" charset="UTF-8" src="/theme/assets/util.js"></script>
