<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

<title>Editable Image Software.</title>

<!-- vendor css -->

<link href="/css/ionicons.css" rel="stylesheet">
<link href="/css/perfect-scrollbar.css" rel="stylesheet">
<link href="/css/toggles-full.css" rel="stylesheet">
<link
href="/css/rickshaw.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/amanda.css">
<link rel="stylesheet" href="/css/dt.css">

<meta http-equiv="X-UA-Compatible" content="chrome=1"/>
  <link rel="icon" href="images/favicon.svg" sizes="any" type="image/svg+xml">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <title>Method Draw Vector Editor</title>
  <meta charset="utf-8">
  <meta name="description" content="Method Draw is an open source SVG editor for the web, you can use it online without signing up.">

  <!-- build:css all.css -->
  <link rel="stylesheet" href="/css/svgeditor/base.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/method-draw.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/jpicker.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/jgraduate.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/fonts.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/dropdown.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/draginput.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/menu.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/rulers.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/palette.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/color-tool.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/context-menu.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/shapelib.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/modal.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/source.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/keyboard.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/dialog.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/app.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/tools.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/button.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/select.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/panel.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/align_buttons.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/text.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/sponsors.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/zoom-dropdown.css" type="text/css"/>
  <link rel="stylesheet" href="/css/svgeditor/loading.css" type="text/css"/>

<link href="/css/font-awesome.css" rel="stylesheet">