<div id="popup-preview-design" class="modal"  >
    <div class="modal-dialog preview-design"  >
      <div class="modal-content" style="background-color:#eee">
        <div class="modal-header pd-x-20" style="background-color:white">
          <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Preview Design</h6>
          <div class="ml-auto">
            <button type="button" class="btn-shadow  hand soft btn  btn-success tx-14 tx-uppercase tx-bold  bd-0 pd-10" onclick="$('#ws-btn-download').click()"  >Finalize & Download Your Pdf</button>
            <button type="button" class="btn-shadow hand soft btn  btn-success tx-14 tx-uppercase tx-bold  bd-0 pd-10"  data-dismiss="modal" >Edit Preview</button>
            <button type="button" class="btn-shadow  hand soft btn btn-danger tx-14  tx-uppercase tx-bold  bd-0 pd-10" data-dismiss="modal" aria-label="Close" onclick="backFromPreview();" translate>Continue Editing Your Design</button>
  
        </div>
        </div>
        <div class="modal-body" style="margin:20px auto;">
          <div class="d-flex">
            <div>
              <img src="" id="img-preview" style="max-height:500px; max-width: 500px;background-color:#b8b8b8" />      
            </div>
            <div class="mg-x-20" id="template-detail-preview"></div>
        </div>
        </div>
      </div>
     </div>
  </div>