<div id="downloadPDFModel" class="modal fade">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content bd-0 tx-14 " style="box-shadow:1px 2px 5px 2px #666">
        <div class="modal-header pd-x-20">
          <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Finalize Your Design</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pd-20">
          <input type="text" id="downloadFileName" class="form-control" placeholder="Enter File Name">
          <span class="error hidden tx-12 tx-bold pd-y-5">Please Enter File Name</span>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" id="btnGenerateAndDownloadPDF"  class=" hand soft tx-bold btn-sm tx-12 tx-uppercase btn btn-success pd-x-20">
            Download your design <br> as a ready to print PDF</button>
          <button type="button" id="btnRFQ" class=" hand soft tx-bold btn btn-sm tx-12 tx-uppercase btn-primary pd-x-20">
            Send your design to <br>Kopykake for a Printing Quote</button>
        </div>
      </div>
    </div>
  </div>