 <div id="menu_bar">
<ul class="nav am-sideleft-tab main-buttons">
    <li class="nav-item">
        <a href="#mainMenu" class="nav-link" >
            <i class="icon ion-ios-home-outline tx-24"></i>
        </a>
       
    </li>
    <li class="nav-item">
        <a href="#templatemenu" class="nav-link active">
            <i class="icon ion-ios-keypad-outline tx-24"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="#chatMenu" class="nav-link" >
            <i class="icon ion-ios-paw-outline tx-24"></i>
        </a>
    </li>
    <li class="nav-item">
      <a href="#textmenu" class="nav-link" id="textbox">
          <i class="icon ion-social-tumblr-outline tx-24"></i>
      </a>
  </li>
    <li class="nav-item" >
        <a href="#settingMenu" class="nav-link " >
            <i class="icon ion-ios-cloud-upload-outline tx-24"></i>
        </a>
       
    </li>
</ul>
</div> 

<!-- 
<div id="menu_bar">
    <a class="menu">
      <div class="menu_title" id="logo">
        <svg viewBox="0 0 16 16" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
          <path d="M-.1 16.1L16 .04V16.1H-.1z"></path>
          <path d="M0 16.1V.1l16 16H0z" fill="var(--z7)"></path>
        </svg>
      </div>
      <div class="menu_list inverted-undo">
        <div id="modal_about" class="menu_item" data-action="about">About this app...</div>
        <div class="separator"></div>
        <div id="modal_preferences" class="menu_item" data-action="configure">Configure...</div>
        <div id="modal_shortcuts" class="menu_item" data-action="shortcuts">Keyboard Shortcuts...</div>
        <div id="modal_donate" class="menu_item" data-action="donate">Donate or sponsor...</div>
      </div>
    </a>
  
    <div class="menu">
      <div class="menu_title">File</div>
      <div class="menu_list inverted-undo" id="file_menu"> 
        <div data-action="clear" id="tool_clear" class="menu_item">New Document</div>
        
        <div id="tool_open" class="menu_item">
          <input type="file" accept="image/svg+xml" id="tool_open_input" />
          Open SVG... <span class="shortcut" style="display: none;">⌘O</span>
        </div>
        
        <div id="tool_import" class="menu_item">
          <input type="file" accept="image/*"  id="tool_import_input" />
          Place Image... <span class="shortcut" style="display: none;">⌘K</span>
        </div>
        <div data-action="save" id="tool_save" class="menu_item">Save Image... <span class="shortcut">⌘S</span></div>
        <div data-action="export" id="tool_export" class="menu_item">Export as PNG</div>
      </div>
    </div>
  
    <div class="menu">
      <div class="menu_title">Edit</div>
      <div class="menu_list inverted-undo" id="edit_menu">
        <div data-action="undo" class="menu_item" id="tool_undo">Undo <span class="shortcut">⌘Z</span></div>
        <div data-action="redo" class="menu_item" id="tool_redo">Redo <span class="shortcut">⌘Y</span></div>
        <div class="separator"></div>
        <div data-action="cutSelected" class="menu_item action_selected disabled" id="tool_cut">Cut <span class="shortcut">⌘X</span></div>
        <div data-action="copySelected" class="menu_item action_selected disabled" id="tool_copy">Copy <span class="shortcut">⌘C</span></div>
        <div data-action="pasteSelected" class="menu_item action_selected disabled" id="tool_paste">Paste <span class="shortcut">⌘V</span></div>
        <div data-action="duplicateSelected" class="menu_item action_selected disabled" id="tool_clone">Duplicate <span class="shortcut">⌘D</span></div>
        <div data-action="deleteSelected" class="menu_item action_selected disabled" id="tool_delete">Delete <span>⌫</span></div>
      </div>
    </div>
    
    <div class="menu">
      <div class="menu_title">Object</div>
      <div class="menu_list inverted-undo" id="object_menu">
        <div class="menu_item action_selected disabled" id="tool_move_top">Bring to Front <span class="shortcut">⌘⇧↑</span></div>
        <div class="menu_item action_selected disabled" id="tool_move_up">Bring Forward <span class="shortcut">⌘↑</span></div>
        <div class="menu_item action_selected disabled" id="tool_move_down">Send Backward <span class="shortcut">⌘↓</span></div>
        <div class="menu_item action_selected disabled" id="tool_move_bottom">Send to Back <span class="shortcut">⌘⇧↓</span></div>
        <div class="separator"></div>
        <div class="menu_item action_multi_selected disabled" id="tool_group">Group Elements <span class="shortcut">⌘G</span></div>
        <div class="menu_item action_group_selected disabled" id="tool_ungroup">Ungroup Elements <span class="shortcut">⌘⇧G</span></div>
        <div class="separator"></div>
        <div class="menu_item action_path_convert_selected disabled" id="tool_topath">Convert to Path</div>
        <div class="menu_item action_path_selected disabled" id="tool_reorient">Reorient path</div>
      </div>
    </div>
  
    <div class="menu">
      <div class="menu_title">View</div>
      <div class="menu_list inverted-undo" id="view_menu">
          <div class="menu_item push_button_pressed" id="tool_rulers">View Rulers <span class="shortcut">⇧R</span></div>
          <div class="menu_item" id="tool_wireframe">View Wireframe</div>
          <div class="separator"></div>
          <div class="menu_item" id="tool_source" data-action="source">Source... <span class="shortcut">⌘U</span></div>
      </div>
    </div>
  
    <div class="sponsors" id="sponsors">
      <div class="sponsor">
        <a href="https://deta.space/discovery/method-draw?ref=method.ac" class="deta">
          <span></span><span></span><span></span><span></span>
          Install
        </a>
        <div class="sponsor-description inverted-undo">
            <strong>Install Method Draw on Deta Space</strong>
            <span>With Method Draw on Deta Space, you can securely save, open, and share your designs in the cloud.</span>
            <p>These designs are available to you across your devices, over the internet, for free.</p><p> Click the button to try Method Draw on Deta Space!</p>
            <svg class="sponsor-logo" width="100%" height="100%" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 225" preserveAspectRatio="xMidYMid meet"><g clip-path="url(#deta_new_svg__clip0)"><path d="M111.14 0c61.38 0 111.139 49.705 111.139 111.02S172.52 222.04 111.14 222.04C49.759 222.04 0 172.335 0 111.02S49.759 0 111.14 0z" fill="#EF39A8"></path><path d="M111.404 21.676c49.689 0 89.97 40.237 89.97 89.873s-40.281 89.873-89.97 89.873-89.97-40.237-89.97-89.873 40.281-89.873 89.97-89.873z" fill="#BD399C"></path><path d="M111.404 45.465c36.536 0 66.154 29.586 66.154 66.084 0 36.497-29.618 66.083-66.154 66.083S45.25 148.046 45.25 111.549c0-36.498 29.618-66.084 66.154-66.084z" fill="#93388E"></path><path d="M110.874 65.555c24.844 0 44.985 20.119 44.985 44.937 0 24.817-20.141 44.936-44.985 44.936s-44.985-20.119-44.985-44.936c0-24.818 20.141-44.937 44.985-44.937z" fill="#6030A2"></path><path d="M339 170.836h49.915c23.004 0 40.365-5.842 51.867-17.745 11.719-11.902 17.579-25.752 17.579-41.983 0-16.23-5.86-30.296-17.579-42.199-11.502-11.902-28.863-17.745-51.867-17.745H339v119.672zm96.574-59.728c0 11.686-3.907 21.641-11.719 29.864-7.596 8.007-19.315 12.119-34.94 12.119h-27.779V68.909h27.779c15.625 0 27.344 4.112 34.94 12.119 7.812 8.223 11.719 18.178 11.719 30.08zm40.582 10.388c0 30.08 19.098 51.504 52.302 51.504 22.136 0 39.931-10.604 47.744-30.513h-24.523c-5.426 8.44-13.022 12.768-23.221 12.768-16.928 0-27.778-10.82-29.732-27.7h79.212v-6.059c0-29.648-19.966-51.505-50.782-51.505-31.034 0-51 21.208-51 51.505zm78.995-8.224h-56.208c2.388-14.932 11.936-25.535 28.213-25.535 15.843 0 25.608 10.387 27.995 25.535zm73.353 20.992V88.386h24.957v-16.23h-24.957V49h-21.702v23.155h-16.06v16.23h16.06v45.879c0 14.499 3.038 24.237 9.332 29.431 6.293 5.193 15.191 7.79 26.693 7.79 3.69 0 6.944-.216 9.766-.865l4.123-.866v-17.096l-4.123.433c-2.822.433-6.076.649-9.766.649-11.719 0-14.323-6.059-14.323-19.476zm93.101-63.624c-14.54 0-25.825 3.03-33.638 9.306-8.029 6.276-11.936 13.85-11.936 22.723h22.136c0-10.388 11.719-14.283 23.438-14.283 14.757 0 23.872 5.193 23.872 18.827v6.059h-26.693c-26.259 0-46.659 6.709-46.659 28.782 0 20.342 15.625 30.946 38.847 30.946 14.973 0 25.607-3.679 31.901-11.037l3.039-3.678c0 4.111 1.735 10.387 2.386 12.551H770v-1.731l-1.519-4.761c-.868-3.246-1.302-8.223-1.302-15.148v-38.088c0-28.998-16.493-40.468-45.574-40.468zm23.872 57.131c0 19.693-9.982 29.864-28.863 29.864-12.37 0-22.354-4.111-22.354-14.499 0-11.902 10.852-15.365 24.524-15.581l26.693.216z" fill="#000"></path></g><defs><clipPath id="deta_new_svg__clip0"><path fill="#fff" d="M0 0h770v222.04H0z"></path></clipPath></defs></svg>
            <div class="sponsor-disclaimer">Deta is a sponsor of Method Draw</div>
  
        </div>
      </div>
    </div>
    <div class="menu-right">
    <button class="menu-icon" id="darkmode-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M17.66 7.93L12 2.27 6.34 7.93c-3.12 3.12-3.12 8.19 0 11.31C7.9 20.8 9.95 21.58 12 21.58c2.05 0 4.1-.78 5.66-2.34 3.12-3.12 3.12-8.19 0-11.31zM12 19.59c-1.6 0-3.11-.62-4.24-1.76C6.62 16.69 6 15.19 6 13.59s.62-3.11 1.76-4.24L12 5.1v14.49z"></path></svg>
    </button>
  </div>
  </div> -->