<div class=" bg-primary" id="quick-tool">
  <ul class="nav nav-white-800 flex-column flex-md-row justify-content-center" style="flex-wrap:nowrap" role="tablist">
    <!-- <li class="nav-item bd-r"><span  class=" nav-link pd-x-7 pd-y-5 lh-1 tx-center tx-bold tx-uppercase tx-11"  >      <input type="checkbox"  id="btnDisplayBorder" ><br><span>Border</span></span></li> -->
    <li class="nav-item bd-r"><span  class=" nav-link pd-x-7 pd-y-5 lh-1 tx-center tx-bold tx-uppercase tx-11"  >      <input type="checkbox"  id="btnDisplayGrid" ><br><span>Grid</span></span></li>
    <li class="nav-item bd-r"><span class=" nav-link pd-x-7 pd-y-5 lh-1 tx-center tx-bold tx-uppercase tx-11" ><input type="checkbox"  id="btnDisplayRuler" ><br><span>Ruler</span></span></li>
    <li class="nav-item bd-r"><a id="btnToolbarLarger" class=" nav-link pd-x-7 pd-y-5 lh-1 tx-center tx-bold tx-uppercase tx-11"  data-toggle="tab" href="#" role="tab"><i class="ion-android-add-circle tx-22"></i> <br>Larger</a></li>
    <li class="nav-item bd-r"><a id="btnToolbarSmaller"  class=" nav-link pd-x-7 pd-y-5 lh-1 tx-center tx-bold tx-uppercase tx-11" data-toggle="tab" href="#" role="tab"><i class="ion-android-remove-circle tx-22"></i><br>Smaller</a></li>
    <li class="nav-item bd-r"><a id="btnToolbarRotate" class=" nav-link pd-x-7 pd-y-5 lh-1 tx-center tx-bold tx-uppercase tx-11" data-toggle="tab" href="#" role="tab"><i class="ion-android-refresh tx-22"></i><br>Rotate</a></li>
    <li class="nav-item bd-r"><a id="btnToolbarFlip" class=" nav-link pd-x-7 pd-y-5 lh-1 tx-center tx-bold tx-uppercase tx-11" data-toggle="tab" href="#" role="tab"><i class="ion-arrow-swap tx-22"></i><br>Flip</a></li>
    <li class="nav-item bd-r"><a id="btnToolbarDelete" class=" nav-link pd-x-7 pd-y-5 lh-1 tx-center tx-bold tx-uppercase tx-11" data-toggle="tab" href="#" role="tab"><i class="ion-trash-a tx-22"></i><br>Delete</a></li>
    <li class="nav-item bd-r"><a  class=" nav-link pd-x-7 pd-y-5 lh-1 tx-center tx-bold tx-uppercase tx-11" id="undo" data-toggle="tab" href="#" role="tab"><i class="ion-reply tx-22"></i> <br>Undo</a></li>
    <li class="nav-item"><a  class=" nav-link pd-x-7 pd-y-5 lh-1 tx-center tx-bold tx-uppercase tx-11" id="redo" data-toggle="tab" href="#" role="tab"><i class="ion-forward tx-22"></i><br>Redo</a></li>
  </ul>
</div>