<!-- <div class="card-header bg-transparent pd-20">
    <h6 class="card-title tx-uppercase tx-12 mg-b-0">User Transaction History</h6>
</div> -->
<!-- card-header -->
<!-- <div class="workspace-ruler">
    <ul class="ruler-x">
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    </ul>
    <ul class="ruler-y">
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    </ul>
    



</div> -->
<div class="table-responsive grp-bg" style="height: 600px;" >
    
</div>
<!-- table-responsive -->
