@font-face{
    font-family:"Segoe Script";
    src:url("https://app.topperoo.com/fonts/print/segoescript.eot");
    src:url("https://app.topperoo.com/fonts/print/segoescript.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/segoescript.woff") format("woff"),url("https://app.topperoo.com/fonts/print/segoescript.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}

/* 
@font-face{
    font-family:"icomoon";
    src:url("https://app.topperoo.com/fonts/app/icomoon.ttf") format("truetype"),url("https://app.topperoo.com/fonts/app/icomoon.woff") format("woff"),url("https://app.topperoo.com/fonts/app/icomoon.svg#icomoon") format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Open Sans";
    font-style:normal;
    font-weight:300;
    src:local("Open Sans Light"),local("OpenSans-Light"),url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
    unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000
}
@font-face{
    font-family:"Open Sans";
    font-style:normal;
    font-weight:400;
    src:local("Open Sans"),local("OpenSans"),url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
    unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000
}
@font-face{
    font-family:"Open Sans";
    font-style:normal;
    font-weight:600;
    src:local("Open Sans Semibold"),local("OpenSans-Semibold"),url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
    unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000
}
@font-face{
    font-family:"Open Sans";
    font-style:normal;
    font-weight:700;
    src:local("Open Sans Bold"),local("OpenSans-Bold"),url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
    unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000
}
@font-face{
    font-family:"Open Sans";
    font-style:italic;
    font-weight:400;
    src:local("Open Sans Italic"),local("OpenSans-Italic"),url(https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
    unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000
 }
@font-face{
    font-family:"Comic Sans";
    src:url("https://app.topperoo.com/fonts/print/comicsans.eot");
    src:url("https://app.topperoo.com/fonts/print/comicsans.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/comicsans.woff") format("woff"),url("https://app.topperoo.com/fonts/print/comicsans.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Comic Sans";
    src:url("https://app.topperoo.com/fonts/print/comicsans_bold.eot");
    src:url("https://app.topperoo.com/fonts/print/comicsans_bold.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/comicsans_bold.woff") format("woff"),url("https://app.topperoo.com/fonts/print/comicsans_bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Comic Sans";
    src:url("https://app.topperoo.com/fonts/print/comicsans_bold_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/comicsans_bold_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/comicsans_bold_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/comicsans_bold_italic.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Comic Sans";
    src:url("https://app.topperoo.com/fonts/print/comicsans_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/comicsans_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/comicsans_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/comicsans_italic.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Impact";
    src:url("https://app.topperoo.com/fonts/print/impact.eot");
    src:url("https://app.topperoo.com/fonts/print/impact.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/impact.woff") format("woff"),url("https://app.topperoo.com/fonts/print/impact.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Impact";
    src:url("https://app.topperoo.com/fonts/print/impact_bold.eot");
    src:url("https://app.topperoo.com/fonts/print/impact_bold.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/impact_bold.woff") format("woff"),url("https://app.topperoo.com/fonts/print/impact_bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Impact";
    src:url("https://app.topperoo.com/fonts/print/impact_bold_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/impact_bold_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/impact_bold_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/impact_bold_italic.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Impact";
    src:url("https://app.topperoo.com/fonts/print/impact_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/impact_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/impact_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/impact_italic.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Times New Roman";
    src:url("https://app.topperoo.com/fonts/print/timesnewroman.eot");
    src:url("https://app.topperoo.com/fonts/print/timesnewroman.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/timesnewroman.woff") format("woff"),url("https://app.topperoo.com/fonts/print/timesnewroman.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Times New Roman";
    src:url("https://app.topperoo.com/fonts/print/timesnewroman_bold.eot");
    src:url("https://app.topperoo.com/fonts/print/timesnewroman_bold.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/timesnewroman_bold.woff") format("woff"),url("https://app.topperoo.com/fonts/print/timesnewroman_bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Times New Roman";
    src:url("https://app.topperoo.com/fonts/print/timesnewroman_bold_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/timesnewroman_bold_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/timesnewroman_bold_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/timesnewroman_bold_italic.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Times New Roman";
    src:url("https://app.topperoo.com/fonts/print/timesnewroman_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/timesnewroman_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/timesnewroman_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/timesnewroman_italic.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Segoe Script";
    src:url("https://app.topperoo.com/fonts/print/segoescript.eot");
    src:url("https://app.topperoo.com/fonts/print/segoescript.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/segoescript.woff") format("woff"),url("https://app.topperoo.com/fonts/print/segoescript.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Segoe Script";
    src:url("https://app.topperoo.com/fonts/print/segoescript_bold.eot");
    src:url("https://app.topperoo.com/fonts/print/segoescript_bold.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/segoescript_bold.woff") format("woff"),url("https://app.topperoo.com/fonts/print/segoescript_bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Segoe Script";
    src:url("https://app.topperoo.com/fonts/print/segoescript_bold_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/segoescript_bold_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/segoescript_bold_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/segoescript_bold_italic.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Segoe Script";
    src:url("https://app.topperoo.com/fonts/print/segoescript_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/segoescript_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/segoescript_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/segoescript_italic.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Cloister Black";
    src:url("https://app.topperoo.com/fonts/print/cloisterblack.eot");
    src:url("https://app.topperoo.com/fonts/print/cloisterblack.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/cloisterblack.woff") format("woff"),url("https://app.topperoo.com/fonts/print/cloisterblack.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Cloister Black";
    src:url("https://app.topperoo.com/fonts/print/cloisterblack_bold.eot");
    src:url("https://app.topperoo.com/fonts/print/cloisterblack_bold.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/cloisterblack_bold.woff") format("woff"),url("https://app.topperoo.com/fonts/print/cloisterblack_bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Cloister Black";
    src:url("https://app.topperoo.com/fonts/print/cloisterblack_bold_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/cloisterblack_bold_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/cloisterblack_bold_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/cloisterblack_bold_italic.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Cloister Black";
    src:url("https://app.topperoo.com/fonts/print/cloisterblack_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/cloisterblack_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/cloisterblack_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/cloisterblack_italic.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"New Shape";
    src:url("https://app.topperoo.com/fonts/print/newshape.eot");
    src:url("https://app.topperoo.com/fonts/print/newshape.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/newshape.woff") format("woff"),url("https://app.topperoo.com/fonts/print/newshape.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"New Shape";
    src:url("https://app.topperoo.com/fonts/print/newshape_bold.eot");
    src:url("https://app.topperoo.com/fonts/print/newshape_bold.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/newshape_bold.woff") format("woff"),url("https://app.topperoo.com/fonts/print/newshape_bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"New Shape";
    src:url("https://app.topperoo.com/fonts/print/newshape_bold_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/newshape_bold_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/newshape_bold_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/newshape_bold_italic.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"New Shape";
    src:url("https://app.topperoo.com/fonts/print/newshape_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/newshape_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/newshape_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/newshape_italic.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Verdana";
    src:url("https://app.topperoo.com/fonts/print/verdana.eot");
    src:url("https://app.topperoo.com/fonts/print/verdana.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/verdana.woff") format("woff"),url("https://app.topperoo.com/fonts/print/verdana.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Verdana";
    src:url("https://app.topperoo.com/fonts/print/verdana_bold.eot");
    src:url("https://app.topperoo.com/fonts/print/verdana_bold.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/verdana_bold.woff") format("woff"),url("https://app.topperoo.com/fonts/print/verdana_bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Verdana";
    src:url("https://app.topperoo.com/fonts/print/verdana_bold_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/verdana_bold_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/verdana_bold_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/verdana_bold_italic.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Verdana";
    src:url("https://app.topperoo.com/fonts/print/verdana_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/verdana_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/verdana_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/verdana_italic.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Sickness";
    src:url("https://app.topperoo.com/fonts/print/sickness.eot");
    src:url("https://app.topperoo.com/fonts/print/sickness.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/sickness.woff") format("woff"),url("https://app.topperoo.com/fonts/print/sickness.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Sickness";
    src:url("https://app.topperoo.com/fonts/print/sickness.eot");
    src:url("https://app.topperoo.com/fonts/print/sickness.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/sickness.woff") format("woff"),url("https://app.topperoo.com/fonts/print/sickness.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Sickness";
    src:url("https://app.topperoo.com/fonts/print/sickness.eot");
    src:url("https://app.topperoo.com/fonts/print/sickness.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/sickness.woff") format("woff"),url("https://app.topperoo.com/fonts/print/sickness.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Sickness";
    src:url("https://app.topperoo.com/fonts/print/sickness.eot");
    src:url("https://app.topperoo.com/fonts/print/sickness.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/sickness.woff") format("woff"),url("https://app.topperoo.com/fonts/print/sickness.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"England";
    src:url("https://app.topperoo.com/fonts/print/england.eot");
    src:url("https://app.topperoo.com/fonts/print/england.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/england.woff") format("woff"),url("https://app.topperoo.com/fonts/print/england.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"England";
    src:url("https://app.topperoo.com/fonts/print/england.eot");
    src:url("https://app.topperoo.com/fonts/print/england.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/england.woff") format("woff"),url("https://app.topperoo.com/fonts/print/england.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"England";
    src:url("https://app.topperoo.com/fonts/print/england.eot");
    src:url("https://app.topperoo.com/fonts/print/england.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/england.woff") format("woff"),url("https://app.topperoo.com/fonts/print/england.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"England";
    src:url("https://app.topperoo.com/fonts/print/england.eot");
    src:url("https://app.topperoo.com/fonts/print/england.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/england.woff") format("woff"),url("https://app.topperoo.com/fonts/print/england.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Messy";
    src:url("https://app.topperoo.com/fonts/print/messy.eot");
    src:url("https://app.topperoo.com/fonts/print/messy.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/messy.woff") format("woff"),url("https://app.topperoo.com/fonts/print/messy.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Messy";
    src:url("https://app.topperoo.com/fonts/print/messy.eot");
    src:url("https://app.topperoo.com/fonts/print/messy.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/messy.woff") format("woff"),url("https://app.topperoo.com/fonts/print/messy.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Messy";
    src:url("https://app.topperoo.com/fonts/print/messy.eot");
    src:url("https://app.topperoo.com/fonts/print/messy.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/messy.woff") format("woff"),url("https://app.topperoo.com/fonts/print/messy.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Messy";
    src:url("https://app.topperoo.com/fonts/print/messy.eot");
    src:url("https://app.topperoo.com/fonts/print/messy.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/messy.woff") format("woff"),url("https://app.topperoo.com/fonts/print/messy.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Pacifico";
    src:url("https://app.topperoo.com/fonts/print/pacifico.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/pacifico.woff") format("woff"),url("https://app.topperoo.com/fonts/print/pacifico.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Pacifico";
    src:url("https://app.topperoo.com/fonts/print/pacifico.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/pacifico.woff") format("woff"),url("https://app.topperoo.com/fonts/print/pacifico.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Pacifico";
    src:url("https://app.topperoo.com/fonts/print/pacifico.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/pacifico.woff") format("woff"),url("https://app.topperoo.com/fonts/print/pacifico.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Pacifico";
    src:url("https://app.topperoo.com/fonts/print/pacifico.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/pacifico.woff") format("woff"),url("https://app.topperoo.com/fonts/print/pacifico.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Handlee";
    src:url("https://app.topperoo.com/fonts/print/handlee.woff") format("woff"),url("https://app.topperoo.com/fonts/print/handlee.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Handlee";
    src:url("https://app.topperoo.com/fonts/print/handlee.woff") format("woff"),url("https://app.topperoo.com/fonts/print/handlee.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Handlee";
    src:url("https://app.topperoo.com/fonts/print/handlee.woff") format("woff"),url("https://app.topperoo.com/fonts/print/handlee.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Handlee";
    src:url("https://app.topperoo.com/fonts/print/handlee.woff") format("woff"),url("https://app.topperoo.com/fonts/print/pacifico.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Graduate";
    src:url("https://app.topperoo.com/fonts/print/graduate.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/graduate.woff") format("woff"),url("https://app.topperoo.com/fonts/print/graduate.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Graduate";
    src:url("https://app.topperoo.com/fonts/print/graduate.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/graduate.woff") format("woff"),url("https://app.topperoo.com/fonts/print/graduate.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Graduate";
    src:url("https://app.topperoo.com/fonts/print/graduate.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/graduate.woff") format("woff"),url("https://app.topperoo.com/fonts/print/graduate.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Graduate";
    src:url("https://app.topperoo.com/fonts/print/graduate.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/graduate.woff") format("woff"),url("https://app.topperoo.com/fonts/print/graduate.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Londrina";
    src:url("https://app.topperoo.com/fonts/print/londrina.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/londrina.woff") format("woff"),url("https://app.topperoo.com/fonts/print/londrina.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Londrina";
    src:url("https://app.topperoo.com/fonts/print/londrina.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/londrina.woff") format("woff"),url("https://app.topperoo.com/fonts/print/londrina.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Londrina";
    src:url("https://app.topperoo.com/fonts/print/londrina.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/londrina.woff") format("woff"),url("https://app.topperoo.com/fonts/print/londrina.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Londrina";
    src:url("https://app.topperoo.com/fonts/print/londrina.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/londrina.woff") format("woff"),url("https://app.topperoo.com/fonts/print/londrina.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Bungee";
    src:url("https://app.topperoo.com/fonts/print/bungee.eot");
    src:url("https://app.topperoo.com/fonts/print/bungee.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/bungee.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/bungee.woff") format("woff"),url("https://app.topperoo.com/fonts/print/bungee.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Bungee";
    src:url("https://app.topperoo.com/fonts/print/bungee_bold.eot");
    src:url("https://app.topperoo.com/fonts/print/bungee_bold.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/bungee_bold.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/bungee_bold.woff") format("woff"),url("https://app.topperoo.com/fonts/print/bungee_bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Bungee";
    src:url("https://app.topperoo.com/fonts/print/bungee_bold_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/bungee_bold_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/bungee_bold_italic.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/bungee_bold_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/bungee_bold_italic.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Bungee";
    src:url("https://app.topperoo.com/fonts/print/bungee_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/bungee_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/bungee_italic.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/bungee_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/bungee_italic.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Luckiest Guy";
    src:url("https://app.topperoo.com/fonts/print/luckiestguy.eot");
    src:url("https://app.topperoo.com/fonts/print/luckiestguy.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/luckiestguy.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/luckiestguy.woff") format("woff"),url("https://app.topperoo.com/fonts/print/luckiestguy.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Luckiest Guy";
    src:url("https://app.topperoo.com/fonts/print/luckiestguy_bold.eot");
    src:url("https://app.topperoo.com/fonts/print/luckiestguy_bold.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/luckiestguy_bold.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/luckiestguy_bold.woff") format("woff"),url("https://app.topperoo.com/fonts/print/luckiestguy_bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Luckiest Guy";
    src:url("https://app.topperoo.com/fonts/print/luckiestguy_bold_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/luckiestguy_bold_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/luckiestguy_bold_italic.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/luckiestguy_bold_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/luckiestguy_bold_italic.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Luckiest Guy";
    src:url("https://app.topperoo.com/fonts/print/luckiestguy_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/luckiestguy_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/luckiestguy_italic.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/luckiestguy_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/luckiestguy_italic.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Old Typewriter";
    src:url("https://app.topperoo.com/fonts/print/oldtypewriter.eot");
    src:url("https://app.topperoo.com/fonts/print/oldtypewriter.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/oldtypewriter.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/oldtypewriter.woff") format("woff"),url("https://app.topperoo.com/fonts/print/oldtypewriter.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Old Typewriter";
    src:url("https://app.topperoo.com/fonts/print/oldtypewriter_bold.eot");
    src:url("https://app.topperoo.com/fonts/print/oldtypewriter_bold.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/oldtypewriter_bold.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/oldtypewriter_bold.woff") format("woff"),url("https://app.topperoo.com/fonts/print/oldtypewriter_bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Old Typewriter";
    src:url("https://app.topperoo.com/fonts/print/oldtypewriter_bold_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/oldtypewriter_bold_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/oldtypewriter_bold_italic.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/oldtypewriter_bold_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/oldtypewriter_bold_italic.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Old Typewriter";
    src:url("https://app.topperoo.com/fonts/print/oldtypewriter_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/oldtypewriter_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/oldtypewriter_italic.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/oldtypewriter_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/oldtypewriter_italic.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Permanent Marker";
    src:url("https://app.topperoo.com/fonts/print/permanentmarker.eot");
    src:url("https://app.topperoo.com/fonts/print/permanentmarker.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/permanentmarker.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/permanentmarker.woff") format("woff"),url("https://app.topperoo.com/fonts/print/permanentmarker.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Permanent Marker";
    src:url("https://app.topperoo.com/fonts/print/permanentmarker_bold.eot");
    src:url("https://app.topperoo.com/fonts/print/permanentmarker_bold.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/permanentmarker_bold.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/permanentmarker_bold.woff") format("woff"),url("https://app.topperoo.com/fonts/print/permanentmarker_bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Permanent Marker";
    src:url("https://app.topperoo.com/fonts/print/permanentmarker_bold_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/permanentmarker_bold_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/permanentmarker_bold_italic.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/permanentmarker_bold_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/permanentmarker_bold_italic.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Permanent Marker";
    src:url("https://app.topperoo.com/fonts/print/permanentmarker_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/permanentmarker_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/permanentmarker_italic.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/permanentmarker_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/permanentmarker_italic.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Shojumaru";
    src:url("https://app.topperoo.com/fonts/print/shojumaru.eot");
    src:url("https://app.topperoo.com/fonts/print/shojumaru.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/shojumaru.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/shojumaru.woff") format("woff"),url("https://app.topperoo.com/fonts/print/shojumaru.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Shojumaru";
    src:url("https://app.topperoo.com/fonts/print/shojumaru_bold.eot");
    src:url("https://app.topperoo.com/fonts/print/shojumaru_bold.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/shojumaru_bold.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/shojumaru_bold.woff") format("woff"),url("https://app.topperoo.com/fonts/print/shojumaru_bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}
@font-face{
    font-family:"Shojumaru";
    src:url("https://app.topperoo.com/fonts/print/shojumaru_bold_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/shojumaru_bold_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/shojumaru_bold_italic.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/shojumaru_bold_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/shojumaru_bold_italic.ttf") format("truetype");
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:"Shojumaru";
    src:url("https://app.topperoo.com/fonts/print/shojumaru_italic.eot");
    src:url("https://app.topperoo.com/fonts/print/shojumaru_italic.eot?#iefix") format("embedded-opentype"),url("https://app.topperoo.com/fonts/print/shojumaru_italic.woff2") format("woff2"),url("https://app.topperoo.com/fonts/print/shojumaru_italic.woff") format("woff"),url("https://app.topperoo.com/fonts/print/shojumaru_italic.ttf") format("truetype");
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:"Material Icons";
    font-style:normal;
    font-weight:400;
    src:url("https://app.topperoo.com/fonts/app/MaterialIcons-Regular.eot");
    src:local("Material Icons"),local("MaterialIcons-Regular"),url("https://app.topperoo.com/fonts/app/MaterialIcons-Regular.woff2") format("woff2"),url("https://app.topperoo.com/fonts/app/MaterialIcons-Regular.woff") format("woff"),url("https://app.topperoo.com/fonts/app/MaterialIcons-Regular.ttf") format("truetype")
} */

.workarea{
    width: 100%;
    height: 900px;
    background-image: url('/images/grid-trans.png');

}
.admin-template-designer-bg{
    width: 100%;
    height: 100%;
    background-image: url('/images/grid-trans.png');

}
.drag-drop-input:hover{

   color:#333;
    cursor: pointer;
    

}

#templateconatiner {
    background-color: #8cffa0;
    height:600px;
}


.text-section .font-style .fa{

    width: 28px;
    height: 28px;
    /* margin: 0px 5px; */
    /* border: dashed 1px #494699; 
    border-radius: 50%;*/
    line-height: 28px;
    text-align: center;
    background: #d8d8df;
    color: #494698;
    cursor: pointer;
}
.text-section .font-style .fa:hover{

   
    background: #2d3a50;
    color: #d8dce3;
    /* border: solid 1px #2d3a50; */
}

/* .canvas-container {
    background-color: white;

} */


/*  */

#layers .layer-item{
    border:dashed 1px #bcbbd5;
    margin-top: 1px;
    cursor: pointer;
    background-color: white;
    padding:5px;
}

.selected-layer{
    z-index: 2;
    box-shadow: rgb(67 64 141) 0px 1px 3px, rgb(72 69 150) 0px 1px 2px;
}
.repeat-design {
    /* border: dashed 1px #b2b0ef; */
}

#layers .layer-item .img{
width:30px; 
height:30px; 
overflow: hidden;


}


#layers .layer-item i:hover
{
color:#0900fd;

}
#layers .layer-item i{
    
    margin-right    : 10px;
    line-height     : 30px;
    font-size       : 20px;
    color           : #494699;

    }
#layers .layer-item .layer-label{
    line-height: 30px;
    width:130px        
}
    
.template-image{
    width: 120px;
    float: left;
    border: dashed 1px #ccc;
    margin: 5px 5px;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    background-color: whitesmoke;
    height: 169px;
}

#templatepreview{
    background-color: white;
    border:dashed 1px #ccc;
    transition: all 0.2s ease-in-out;
    margin:auto;

}
.hidden {
    display: none !important;
}

#lbltemplatepreview{
    font-size: 11px;
    font-weight: bold;
    width:200px;
    margin: auto;
    text-align: center;
}

#lbltemplatepreview:after { content: '';
    position: absolute;
    border-right: 2px green solid;
    height: 200px;
    width: 200px;
    transform: translateX(-50%);
  }
  #lbltemplatepreview:before { content: '';
    content: '';
    position: absolute;
    border-bottom: 1px #898484 solid;
    height: 20px;
    width: 130px;
    margin-left: 134px;
    transform: translateY(-50%);
     }

     /**/
     #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
      }
      
      #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
        z-index: 10;
      }
      
      @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
     /**/

     .sidebar{
      background-color:   #494699 !important;
      height:100%;
      width:72px;

     }
     .sidebar li{
        border-bottom: solid 1px #6462a5;
        width:72px;
         padding: 10px 0px;
     } 
     
     .sidebar .nav-link{

        padding:0px;
     }

     .sidebar .my-proj .tag{
        background-color: #d50000;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        display: block;
        line-height: 18px;
        font-weight: bold;
        font-size: 11px;
        text-align: center;
        left: 40px;
        top: -45px;
        margin-bottom: -18px;
     }
     .viewport-container{
        border-bottom: solid 1px #dbdbdb;
     }

     .viewport-container .viewport{
        /* border-radius: 50%;
    border: solid 1px #ccc;
    width: 250px;
    height: 250px;
    margin: auto;
    background-color: white; */
     }

     .icon-imgupload{
        border: solid 1px #494699;
        cursor: pointer;
        width: 80px;
        height: 80px;
        line-height: 50px;
        border-radius: 50%;
        padding: 16px;
        color: #494699;
        /* background-color: #c9c8f3; */
        margin: auto;
        font-size: 50px;
     }

     .icon-imgupload:hover{
        background-color: gray;
     }

     .image-tools i {
        font-size: 24px;
    color: #494699;
    cursor: pointer;
     }

     .image-tools > div {
        line-height: 14px;
        padding-top: 10px;
        font-size: 12px;
        color: #494699;
        padding-right: 20px;
        text-align: center;
        padding-bottom: 10px;
     }
     .svg-templates{
        flex-wrap: wrap;
     }
     .svg-templates{
        flex-wrap: wrap;
     }
     .cliparts{
        flex-wrap: wrap;
     }
     .svg-template-txt {
        max-width: 50px;
        max-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
     }

     .svg-templates > div{
        border: dashed 1px #ccc;
        padding: 10px;
        cursor: pointer;
        max-width: 120px;
     }
     .svg-templates > div:hover , .svg-templates > div:focus{
        border: dashed 1px #494699;
        padding: 10px;
        cursor: pointer;
     }

     .cliparts > div{
        border: dashed 1px #494699;
        cursor: pointer;
        max-width: 80px ;
        max-height: 80px;
        overflow: hidden;
        border-radius: 8px;
        margin:1px;
     }
     .cliparts > div:hover{
        border: dashed 1px #494699;
        cursor: pointer;
     }
/* 
     #template-container{

        margin: 0px -15px 0px 15px;
     } */

     #repeat-image-ctrl .apply{
        background-color: #494699;
        color: white;
        padding: 5px 15px;
        border-radius: 50px;
        font-size: 12px;
        line-height: 1px;
     }
     #repeat-image-ctrl .apply:hover{
        background-color: #6461b1;
        
     }

     #repeat-image-ctrl .cancel{
        background-color: #999;
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 12px;
    line-height: 1px;
    }

    #repeat-image-ctrl .cancel:hover{
        background-color: #c5c5c5;
    
    }


    #save-image-ctrl .apply{
        background-color: #494699;
        color: white;
        padding: 5px 15px;
        border-radius: 50px;
        font-size: 12px;
        line-height: 1px;
     }
     #save-image-ctrl .apply:hover{
        background-color: #6461b1;
        
     }

     #save-image-ctrl .cancel{
        background-color: #999;
    color: white;
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 12px;
    line-height: 1px;
    }

    #save-image-ctrl .cancel:hover{
        background-color: #c5c5c5;
    
    }

.upload-icon{
    color: #494698;
    border: dashed 1px;
    width: 80px;
    height: 80px;
    font-size: 50px;
    margin: auto;
    line-height: 80px;
    border-radius: 50%;
}
.upload-icon:hover{
    background-color: #d4d4db;
}


.btn-upload{
    background-color: #494698;
    border:0px;
    color:white;
    margin: auto;
    border-radius: 30px;
    padding:5px 50px;
}
.btn-upload:hover{
    background-color: #d4d4db;
      border:0px;
}

/*client text area: */


  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #494699;
    cursor: pointer;
  }
  
   .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #494699;
    cursor: pointer;
  }

  .border-dash{
    border: dashed 1px #a4a2db;
    margin-top: -1px;
  }
  .overlay {
    left: 0;
    z-index: 300000;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #8e8bc9;
    opacity: .5;
    
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 4px;
    border-color: #494699;
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}



/*admin*/
.disable-badge {
    font-weight: bold;
    background-color: #ed8383;
    color: white;
    padding: 3px 10px;
    border-radius: 10px;
}

.default-badge {
    font-weight: bold;
    background-color: #fba200;
    color: white;
    padding: 3px 10px;
    border-radius: 10px;
}
/**/

.start-over{
    background-color: #ffbc00;
    padding: 6px 30px;
    border-radius: 50px;
    color: white;
    font-size: 14px;
}
.start-over:hover{
    background-color: #ffcb38;
    padding: 6px 30px;
    border-radius: 50px;
    color: white;
    font-size: 14px;
}

.template-small{
    padding:5px !important;
     max-width: 105px !important;
       overflow: hidden !important;
}
.template-small > img{
    width: 93px !important;
}

.bg-light-blue{
   background-color: #edecff;
}

#font-list-container .fontfamily {
    cursor: pointer;
}

.arrow {
    /* margin: 1em; */
  }
  
  .arrow::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: .4em solid transparent;
    border-left-color: #494699;
    transform-origin: 0 50%;
    transition: transform .25s;
  }
  
  .arrow.down::before {
    transform: rotate(90deg);
    transition: transform .25s;
  }
  #font-panel i{
    padding:0px 10px;
  }