.workarea{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}
.drag-drop-input:hover{
    border:dashed 1px #d8dce3;
    background-color: #ebeff5;
    cursor: pointer;
    

}
.maska48i1c{  
    background-color: #ffffff;
        -webkit-mask-image: url(/images/test.svg),linear-gradient(rgba(0,0,0,0.4) 0 0);
        mask-image: url(/images/test.svg),linear-gradient(rgba(0,0,0,0.4) 0 0);
        height:600px;
    
}

.maska43i6c {
    background-color: #ffffff;
    -webkit-mask-image: url(/images/a43i6c.svg),linear-gradient(rgba(0,0,0,0.4) 0 0);
    mask-image: url(/images/a43i6c.svg),linear-gradient(rgba(0,0,0,0.4) 0 0);
    height:600px;
    
}

#templateconatiner {
    background-color: #8cffa0;
    height:600px;
}

.object-options, i
{
 font-size: 30px;
 cursor: pointer;
}

.text-section .font-style .fa{

    padding: 0px 5px;
    margin:0px 5px;
    border: solid 1px #bec4cf;
    border-radius: 50%;
    line-height: 20px;
    background: #d8dce3;
    color: #2d3a50;
}
.text-section .font-style .fa:hover{

   
    background: #2d3a50;
    color: #d8dce3;
    border: solid 1px #2d3a50;
}
/*  */