@font-face{
    font-family:"Bungee Shade";
    src:url("../fonts/Bungee-Regular.ttf");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"Luckiest Guy";
    src:url("../fonts/LuckiestGuy-Regular.ttf");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"BlackHanSans";
    src:url("../fonts/BlackHanSans-Regular.ttf");
    font-weight:normal;
    font-style:normal
}

@font-face{
    font-family:"Creepster";
    src:url("../fonts/Creepster-Regular.ttf");
    font-weight:normal;
    font-style:normal
}


@font-face{
    font-family:"LondrinaSolid";
    src:url("../fonts/LondrinaSolid-Regular.ttf");
    font-weight:normal;
    font-style:normal
}

@font-face{
    font-family:"RockSalt";
    src:url("../fonts/RockSalt-Regular.ttf");
    font-weight:normal;
    font-style:normal
}

@font-face{
    font-family:"Shrikhand";
    src:url("../fonts/Shrikhand-Regular.ttf");
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:"PermanentMarker";
    src:url("../fonts/PermanentMarker-Regular.ttf");
    font-weight:normal;
    font-style:normal
}



.workarea{
    width: 100%;
    height: 800px;
    background-image: url('/images/grid-trans.png');

}
.admin-template-designer-bg{
    width: 100%;
    height: 100%;
    background-image: url('/images/grid-trans.png');

}
.drag-drop-input:hover{

   color:#333;
    cursor: pointer;
    

}

#templateconatiner {
    background-color: #8cffa0;
    height:600px;
}


.text-section .font-style .fa{

    width: 28px;
    height: 28px;
    /* margin: 0px 5px; */
    /* border: dashed 1px #494699; 
    border-radius: 50%;*/
    line-height: 28px;
    text-align: center;
    background: #d8d8df;
    color: #494698;
    cursor: pointer;
}
.text-section .font-style .fa:hover{

   
    background: #2d3a50;
    color: #d8dce3;
    /* border: solid 1px #2d3a50; */
}

/* .canvas-container {
    background-color: white;

} */


/*  */

#layers .layer-item{
  border: solid 1px #b3b3b3;
  
  cursor: pointer;
  padding: 5px;
 box-shadow: 1px 1px 1px #ccc;
}

.selected-layer{
    z-index: 2;
    box-shadow: rgb(67 64 141) 0px 1px 3px, rgb(72 69 150) 0px 1px 2px;
    background-color: #cac8ff; 

}
.repeat-design {
    /* border: dashed 1px #b2b0ef; */
}

#layers .layer-item .img{
width:30px; 
height:30px; 
overflow: hidden;


}


#layers .layer-item i:hover
{
color:#0900fd;

}
#layers .layer-item i{
    
    margin-left    : 10px;
    line-height     : 30px;
    font-size       : 24px;
    color           : #494699;

    }
#layers .layer-item .layer-label{
    line-height: 30px;
    width:130px        
}
    
.template-image{
    width: 120px;
    float: left;
    border: dashed 1px #ccc;
    margin: 5px 5px;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    background-color: whitesmoke;
    height: 169px;
}

#templatepreview{
    background-color: white;
    border:dashed 1px #ccc;
    transition: all 0.2s ease-in-out;
    margin:auto;

}
.hidden {
    display: none !important;
}

#lbltemplatepreview{
    font-size: 11px;
    font-weight: bold;
    width:200px;
    margin: auto;
    text-align: center;
}

#lbltemplatepreview:after { content: '';
    position: absolute;
    border-right: 2px green solid;
    height: 200px;
    width: 200px;
    transform: translateX(-50%);
  }
  #lbltemplatepreview:before { content: '';
    content: '';
    position: absolute;
    border-bottom: 1px #898484 solid;
    height: 20px;
    width: 130px;
    margin-left: 134px;
    transform: translateY(-50%);
     }

     /**/
     #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
      }
      
      #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
        z-index: 10;
      }
      
      @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
     /**/

     .sidebar{
      background-color:   #494699 !important;
      height:100%;
      width:72px;

     }
     .sidebar li{
        border-bottom: solid 1px #6462a5;
        width:72px;
         padding: 5px 0px;
     } 
     
     .sidebar .nav-link{

        padding:0px;
     }

     .sidebar .my-proj .tag{
        background-color: #d50000;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        display: block;
        line-height: 18px;
        font-weight: bold;
        font-size: 11px;
        text-align: center;
        left: 40px;
        top: -45px;
        margin-bottom: -18px;
     }
     .viewport-container{
        border-bottom: solid 1px #dbdbdb;
     }

     .viewport-container .viewport{
        /* border-radius: 50%;
    border: solid 1px #ccc;
    width: 250px;
    height: 250px;
    margin: auto;
    background-color: white; */
     }

     .icon-imgupload{
        border: solid 1px #494699;
        cursor: pointer;
        width: 80px;
        height: 80px;
        line-height: 50px;
        border-radius: 50%;
        padding: 16px;
        color: #494699;
        /* background-color: #c9c8f3; */
        margin: auto;
        font-size: 50px;
     }

     .icon-imgupload:hover{
        background-color: gray;
     }

     .image-tools i {
        font-size: 24px;
    color: #494699;
    cursor: pointer;
     }

     .image-tools > div {
        line-height: 14px;
        padding-top: 10px;
        font-size: 12px;
        color: #494699;
        padding-right: 20px;
        text-align: center;
        padding-bottom: 10px;
     }
     .svg-templates{
        flex-wrap: wrap;
     }
     .svg-templates{
        flex-wrap: wrap;
     }
     .cliparts{
        flex-wrap: wrap;
     }
     .svg-template-txt {
        max-width: 50px;
        max-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
     }

     .svg-templates > div{
        border: dashed 1px #ccc;
        padding: 10px;
        cursor: pointer;
        max-width: 120px;
     }
     .svg-templates > div:hover , .svg-templates > div:focus{
        border: dashed 1px #494699;
        padding: 10px;
        cursor: pointer;
     }

     .cliparts > div{
        border: dashed 1px #494699;
        cursor: pointer;
        max-width: 80px ;
        max-height: 80px;
        overflow: hidden;
        border-radius: 8px;
        margin:1px;
     }
     .cliparts > div:hover{
        border: dashed 1px #494699;
        cursor: pointer;
     }
/* 
     #template-container{

        margin: 0px -15px 0px 15px;
     } */

     #repeat-image-ctrl .apply{
        background-color: #494699;
        color: white;
        padding: 5px 15px;
        border-radius: 50px;
        font-size: 12px;
        line-height: 1px;
     }
     #repeat-image-ctrl .apply:hover{
        background-color: #6461b1;
        
     }

     #repeat-image-ctrl .cancel{
        background-color: #999;
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 12px;
    line-height: 1px;
    }

    #repeat-image-ctrl .cancel:hover{
        background-color: #c5c5c5;
    
    }


    #save-image-ctrl .apply{
        background-color: #494699;
        color: white;
        padding: 5px 15px;
        border-radius: 50px;
        font-size: 12px;
        line-height: 1px;
     }
     #save-image-ctrl .apply:hover{
        background-color: #6461b1;
        
     }

     #save-image-ctrl .cancel{
        background-color: #999;
    color: white;
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 12px;
    line-height: 1px;
    }

    #save-image-ctrl .cancel:hover{
        background-color: #c5c5c5;
    
    }

.upload-icon{
    color: #494698;
    border: dashed 1px;
    width: 80px;
    height: 80px;
    font-size: 50px;
    margin: auto;
    line-height: 80px;
    border-radius: 50%;
}
.upload-icon:hover{
    background-color: #d4d4db;
}


.btn-upload{
    background-color: #494698;
    border:0px;
    color:white;
    margin: auto;
    border-radius: 30px;
    padding:5px 50px;
}
.btn-upload:hover{
    background-color: #d4d4db;
      border:0px;
}

/*client text area: */


  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #494699;
    cursor: pointer;
  }
  
   .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #494699;
    cursor: pointer;
  }

  .border-dash{
    border: dashed 1px #a4a2db;
    margin-top: -1px;
  }
  .overlay {
    left: 0;
    z-index: 300000;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #8e8bc9;
    opacity: .5;
    
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 4px;
    border-color: #494699;
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}



/*admin*/
.disable-badge {
    font-weight: bold;
    background-color: #ed8383;
    color: white;
    padding: 3px 10px;
    border-radius: 10px;
}

.default-badge {
    font-weight: bold;
    background-color: #fba200;
    color: white;
    padding: 3px 10px;
    border-radius: 10px;
}
/**/

.start-over{
    background-color: #ffbc00;
    padding: 6px 30px;
    border-radius: 50px;
    color: white;
    font-size: 14px;
}
.start-over:hover{
    background-color: #ffcb38;
    padding: 6px 30px;
    border-radius: 50px;
    color: white;
    font-size: 14px;
}

.template-small{
    padding:5px !important;
     max-width: 105px !important;
       overflow: hidden !important;
}
.template-small > img{
    width: 93px !important;
}

.project-thumb > img {
  width: 100px !important;
}

.bg-light-blue{
   background-color: #edecff;
}
.bg-light-blue{
  background-color: #edecff;
}
#font-list-container .fontfamily {
    cursor: pointer;
}

.arrow {
    /* margin: 1em; */
  }
  
  .arrow::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: .4em solid transparent;
    border-left-color: #494699;
    transform-origin: 0 50%;
    transition: transform .25s;
  }
  
  .arrow.down::before {
    transform: rotate(90deg);
    transition: transform .25s;
  }
  #font-panel i{
    padding:0px 10px;
  }

  #btnDisplayGrid,#btnDisplayRuler{
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    padding: 12px;
    cursor: pointer;
  }

  .leftpanel{
    max-height: 700px;
    overflow-y: auto;     
  }

  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaa; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .bg-menu-highlight{
    background-color: #6b68c9;
  }
  .menu-num{
    font-size: 14px;
    font-weight: bold;
    color: #45447e;
    background-color: #6663b1;
    width: 22px;
    height: 21px;
    border-radius: 50%;
    display: block;
    margin: 1px auto;
  }

  .next-step{
    background-color: #494699;
    color: white;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }

  /*steps*/
  .step {
    list-style: none;
    margin: 5px -40px;
    line-height: 13px;
    font-size: 12px;
    width: 100%;
    font-weight: bold;
  }
  
  .step .step-item {
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    position: relative; 
    text-align: center;
  }
  
  .step .step-item:not(:first-child)::before {
    background: #ff7000;
    content: "";
    height: 2px;
    left: -50%;
    position: absolute;
    top: 9px;
    width: 100%;
  }
  
  .step .step-item a {
    color: #fff;
    display: inline-block;
    padding: 20px 5px 0;
    text-decoration: none;
  }
  
  .step .step-item a::before {
    background: #ff7000;
    /* border: .1rem solid #fff; */
    border-radius: 50%;
    content: "";
    display: block;
    height: .9rem;
    left: 50%;
    position: absolute;
    top: .2rem;
    transform: translateX(-50%);
    width: .9rem;
    z-index: 1;
  }
  
  .step .step-item.active a::before {
    background: #494699;
    border: .1rem solid #494699;
  }
  
  .step .step-item.active ~ .step-item::before {
    background: #494699;
  }
  
  .step .step-item.active ~ .step-item a::before {
    background: #494699;
  }

  #uploadpanel .nav-link a{
color:#494699;
font-weight: bold;
  }