.page {
    color: rgba(0,0,0,.87);
    font-weight: 400;
}

.section {
    padding: 0 0;
}

.section:first-child {
    /* padding: 20px 30px; */
}

/*.container {*/
/*    min-width: 940px;*/
/*}*/

#topperoo .tpr-order-form {
    display: none;
}

.tpr-trial-welcome-msg {
    display: block;
    padding: 15px 20px;
    background: #2b965b;
    color: #cae6c3;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.tpr-plan-notice {

}

.tpr-plan-name {
    font-style: italic;
    font-weight: 600;
}

.tpr-plan-ends {
    font-weight: bold;
}

@keyframes tpr-notice-animation {
    0% { background-color: #B2DFDB; }
    50% { background-color: #df4b3d; color: #FFF; }
    100% { background-color: #B2DFDB; }
}

.tpr-allowance-notice {
    background: #B2DFDB;
    font-size: 14px;
    padding: 1em;
    line-height: 1.5;
}

.tpr-allowance-notice.animate {
    animation: tpr-notice-animation 1.5s ease;
}

.tpr-allowance-notice a {
    border-bottom: 1px solid;
    color: #0449cc;
    font-weight: 600;
}