<%if( user != null)  {%>
<div class="am-header-right">
    <a href="#" data-toggle="modal" data-target="#termspopup" class="tx-white tx-underline tx-bold mg-r-5 nav-link nav-link-profile ">Terms and Conditions</a>
    <a href="#" data-toggle="modal" data-target="#faqPopup"  class="tx-white tx-underline tx-bold mg-r-5 nav-link nav-link-profile">FAQ</a>    
    <div class="dropdown dropdown-profile">
        <a href="#" class="nav-link nav-link-profile" data-toggle="dropdown" aria-expanded="false">

            <span class="logged-name">
                <span class="hidden-xs-down"><%= user.fname %></span>
                <i class="fa fa-angle-down mg-l-3"></i>
            </span>
        </a>

        <div class="dropdown-menu wd-200" x-placement="bottom-start" style="position: absolute; transform: translate3d(20px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
            <ul class="list-unstyled user-profile-nav">
                <!-- <li>
                    <a href="/app/profile">
                        <i class="icon ion-ios-person-outline"></i>
                        Edit Profile</a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon ion-ios-gear-outline"></i>
                        Settings</a>
                </li>
               -->                
                <li>
                    <a href="/app/signout">
                        <i class="icon ion-power"></i>
                        Sign Out</a>
                </li>
            </ul>
        </div>
        <!-- dropdown-menu -->
    </div>

    <!-- dropdown -->
</div>
<%}%>