<div class="viewport-container   tx-center">
    <div class="viewport">  <canvas id="p"></canvas></div>
    <div class="pd-y-10">A4 Size: 6" diameter circle</div>
    <div class="toggle toggle-light warning mg-auto" style="height: 22px; width: 50px;" id="repeatdesign">
        <div class="toggle-slide">
            <div class="toggle-inner" style="width: 78px; margin-left: 0px;">
                <div class="toggle-on " style="height: 22px; width: 39px; text-indent: -7.33333px; line-height: 22px;">REPEAT</div>
                <div class="toggle-blob" style="height: 22px; width: 22px; margin-left: -11px;"></div>
                <div class="toggle-off active" style="height: 22px; width: 39px; margin-left: -11px; text-indent: 7.33333px; line-height: 22px;">REPEAT</div>
            </div>
           
        </div>
      
    </div>
    
    <p class="pd-y-15 tx-12 tx-center">Repeat same design on each logo.</p>
</div>