<div class="pd-x-15 toolpanel" id="shapes-panel">
    <div class="content">
        <label class="tx-uppercase tx-11 mg-t-10 tx-orange mg-b-15 tx-medium">Patterns</label>
        <div class="list-group list-group-chat">
          
        </div>
    </div>
</div>
