    <div class="row" >
      <%cliparts?.forEach(item=>{%>
         
    <div class="col-lg-3 pd-0 bd clipart" >
      <div class="card bg-gray-200 ht-120 ">
        <div class="card-body pd-5">
          <img class="card-img-top img-fluid pd-b-10" src="<%=item.base64 %>" alt="Image">
          <h5 class="card-body-title tx-12 tx-center" style="height:28px;overflow:hidden"><%=item.title %></h5>
          <p class="card-subtitle tx-normal"</p>
        </div>
      </div>
    </div>

      <%})%>
      
    </div>

