    <div class="d-flex cliparts tx-center pd-10ad" >
      <%cliparts?.forEach(item=>{%>
         <div id="" class="clipart"> 
            <img src="<%=item.base64 %>" style="width:100px"> 
         </div>
      <%})%>
      
    </div>