<div id="accordion" class="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h6 class="mg-b-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="tx-gray-800 transition tx-bold">
       <span class="design-steps tx">1</span> Add Photos
        </a>
      </h6>
    </div><!-- card-header -->

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
      <div class="card-body tx-center">
        <p class="">Add Photos, Pdf or copy from Clipboard.</p>
        <button type="button" class="btn btn-primary wd-100 " id="btn-upload-img" >Browse</button>
        
        <input id="btn-upload-img-hidden" type="file" accept="image/*,application/pdf" multiple="multiple" hidden="hidden">      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h6 class="mg-b-0">
        <a class="transition collapsed tx-bold" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <span class="design-steps">2</span>  Choose Clip Arts       </a>
      </h6>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" style="">
      <div class="card-body" id="clipartmenu">
        <%- include('../../partials/client/clipart'); %>     
       </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h6 class="mg-b-0">
        <a class="transition collapsed tx-bold"  data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span class="design-steps">3</span>  Add Text      </a>
        </a>
      </h6>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" style="">
      <div class="card-body">
        <%- include('../../partials/client/typo'); %> 
      </div>
    </div><!-- collapse -->
  </div><!-- card -->
</div>