<!-- <div class="pd-15">
    <div class="pd-15 text-center drag-drop-input">
        <h1 class="ion-ios-cloud-upload icon-imgupload"></h1>
        <br>
            <p class="tx-12  ">Drag & drop files
                                  or click to browse.<br>JPG, PNG or SVG only!</p>

                                
              
            </div>
            
        </div> -->

        <div class="card pd-t-20 pd-0" >
            <button type="button" class="btn-upload" id="btn-upload-img"> Upload Image</button>
            <p class="tx-12 pd-t-20 pd-x-30 tx-center">Upload (SVG,JPG,PNG)  or Select design from library below.</p>
            <input id="btn-upload-img-hidden" type="file" accept="image/*" multiple="multiple" hidden="hidden">
        </div>

    <!-- <div class="pd-t-15" ><div class="text-center drag-drop-input">
        <h1 class="ion-ios-cloud-upload upload-icon" ></h1>
        <br>
            <p class="tx-12 ">Upload JPG, PNG, SVG Only.</p>
        </div>
       
    </div>   
</div>-->
   

   
 