
    <ul class="nav nav-tabs tx-12 bold" role="tablist">
      <li class="nav-item" id="panel-photos">
        <a class="nav-link active " data-toggle="tab" href="#home"><i class="ion-images pd-x-5 tx-16"></i>PHOTOS</a>
      </li>
      <li class="nav-item" id="menu-clipart">
        <a class="nav-link" data-toggle="tab" href="#clipartmenu"><i class="ion-ios-paw pd-x-5 tx-16"></i> CLIP ART</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2"><i class="ion-social-tumblr pd-x-5 tx-16"></i> TEXT</a>
      </li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="home" class="container tab-pane active">
        <div class="card pd-t-20 pd-0 tx-center " >
            <i class="tx-80  tx-gray-800 icon-imgupload ion-images" id="btn-upload-img"></i>
            <p class="tx-12 pd-t-20 pd-x-30 tx-center">Upload Photos </p>
            <input id="btn-upload-img-hidden" type="file" accept="image/*,application/pdf" multiple="multiple" hidden="hidden">
        </div>
      </div>
      <div id="clipartmenu" class="container tab-pane fade"><%- include('../../partials/client/clipart'); %>

      </div>
      <div id="menu2" class="container tab-pane fade"><br>
        <%- include('../../partials/client/typo'); %>           

      </div>
    </div>

        


   
 