<!-- <div class="pd-15">
    <div class="pd-15 text-center drag-drop-input">
        <h1 class="ion-ios-cloud-upload icon-imgupload"></h1>
        <br>
            <p class="tx-12  ">Drag & drop files
                                  or click to browse.<br>JPG, PNG or SVG only!</p>

                                
              
            </div>
            
        </div> -->


<div class="pd-15" id="btn-upload-img">
    <div class="pd-15 text-center drag-drop-input">
        <h1 class="ion-ios-cloud-upload"></h1>
        <br>
            <p class="tx-12 ">Upload JPG, PNG, SVG Only.</p>
        </div>
    </div>
    <input id="btn-upload-img-hidden" type="file" accept="image/*" multiple="multiple" hidden="hidden">

    <div class="pd-10 tx-center repeat-design" id="repeatdesign">

        <div class="toggle toggle-light primary mg-auto " style="height: 22px; width: 50px;">
            <div class="toggle-slide">
                <div class="toggle-inner" style="width: 78px; margin-left: 0px;">
                    <div class="toggle-on active" style="height: 22px; width: 39px; text-indent: -7.33333px; line-height: 22px;">ON</div>
                    <div class="toggle-blob" style="height: 22px; width: 22px; margin-left: -11px;"></div>
                    <div class="toggle-off" style="height: 22px; width: 39px; margin-left: -11px; text-indent: 7.33333px; line-height: 22px;">OFF</div>
                </div>
            </div>
        </div>
        <span>Same design on each logo.</span>

    </div>
