<div id="accordion-left" class="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="addphotos-headingOne">
      <h6 class="mg-b-0 tx-uppercase tx-bold">
        <a data-toggle="collapse"  data-parent="#accordion-left" href="#addphotos-collapseOne" aria-expanded="true" aria-controls="addphotos-collapseOne" class="tx-gray-800 transition tx-bold accordion-left-menu">
       <span class="design-steps tx ">1</span> Add Images
        </a>
      </h6>
    </div>

    <div id="addphotos-collapseOne" class="collapse show" role="tabpanel" aria-labelledby="addphotos-headingOne" style="">
      <div class="card-body tx-center">
        <p class="">Add Images, PDF or Paste from Clipboard.</p>
        <button type="button" class="btn btn-primary wd-100 " id="btn-upload-img" >Browse</button>
        
        <input id="btn-upload-img-hidden" type="file" accept="image/*,application/pdf" multiple="multiple" hidden="hidden">      </div>
        <div class="pd-20" >
          <label class="ckbox mg-b-0">
            <input type="checkbox" id="ackUploadImage"><span class="text-danger tx-12 tx-bold">
              
              I confirm I have obtained any required permissions or rights to upload or paste these images subject to KakePrints’ 
              <a href="#" class="tx-bold tx-underline"  data-toggle="modal" data-target="#termspopup">Terms and Conditions.</a>

            </span>
          </label>
  
        </div>
       
        

      </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="addtext-headingThree">
      <h6 class="mg-b-0 tx-uppercase tx-bold">
        <a class="transition collapsed tx-bold accordion-left-menu"  data-toggle="collapse" data-parent="#accordion-left" href="#addtext-collapseThree" aria-expanded="false" aria-controls="addtext-collapseThree">
          <span class="design-steps">2</span>  Add Text      </a>
        </a>
      </h6>
    </div>
    <div id="addtext-collapseThree" class="collapse" role="tabpanel" aria-labelledby="addtext-headingThree" >
      <div class="card-body">
        <%- include('../../partials/client/typo'); %> 
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="addclipart-headingTwo">
      <h6 class="mg-b-0 tx-uppercase tx-bold ">
        <a class="transition collapsed tx-bold accordion-left-menu" data-toggle="collapse" data-parent="#accordion-left" href="#addclipart-collapseTwo" aria-expanded="false" aria-controls="addclipart-collapseTwo ">
          <span class="design-steps">3</span>  ADD ClipArt       </a>
      </h6>
    </div>
    <div id="addclipart-collapseTwo" class="collapse" role="tabpanel" aria-labelledby="addclipart-headingTwo" style="">
      <div class="card-body" id="clipartmenu">
        <%- include('../../partials/client/clipart'); %>     
       </div>
    </div>
  </div>
 
</div>
