<div class="pd-15">
    <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Layers</h6>
</div>

<div class="card pd-20"  style="display: none">
    <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Layers</h6>
    <div>
        <div id="layers">
        </div><!-- list-group-item -->
      </div>
</div>
<script type="text/template" id="layerItems">
    <div class="media d-block d-flex layer-item object-options" id='{id}'  >
        <div class="d-block mg-sm-r-10 img"> <img src="{src}" class="wd-40" alt="Image" ></div>
        <small class="d-sm-flex layer-label">Layer {index}</small>
        <div class="d-sm-flex layers-controls" style="display:none !important">
        <i class='ion-ios-copy-outline duplicate main-tool-button'  id='duplicate' title='duplicate' ></i>
        <i class='ion-ios-upload-outline' ></i>
        <i class='ion-ios-download-outline' ></i>
        <i class='ion-ios-arrow-thin-up' title="top"></i>
        <i class='ion-ios-arrow-thin-down' title="down" ></i>
        <i class='ion-ios-trash-outline delete main-tool-button' id='delete' title='delete' ></i>
        </div>
    </div>
</script>
