<div class="am-sideleft" id="toolbar">
    <!-- <%- include('../../partials/client/toolbar'); %> -->

    <div class="d-flex flex-column flex-shrink-0 bg-light sidebar " >
       
        <ul id="workspace-menu" class="nav nav-pills nav-flush flex-column mb-auto text-center main-buttons am-sideleft-tab">
          <li class="nav-item bg-menu-highlight" id="menu-templates">
            <span class="menu-num">1</span>
            <a href="#templatepanel" id="btnTemplate" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-ios-keypad tx-24 tx-white"></i>
                <div class="visually-hidden tx-14 tx-white my-proj">Choose Template</div>
            </a>
          </li>
          <li class="nav-item" id="menu-upload">
            <span class="menu-num" >2</span>
            <a href="#uploadpanel" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-images tx-24 tx-white"></i>
                <div class="visually-hidden tx-14 tx-white my-proj pd-x-10">Create Design</div>
            </a>
          </li>
          <li class="nav-item" id="menu-preview" >
            <span class="menu-num">3</span>
            <a href="#" id="btn-menu-peview"  class="  lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-eye tx-24 tx-white"></i>
                <div class="visually-hidden tx-14 tx-white my-proj">Preview Design</div>
            </a>
          </li>
          <li class="nav-item" id="menu-download">
            <span class="menu-num">4</span>
            <a href="#" id="btn-download-pdf" class=" lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-ios-download tx-24 tx-white"></i>
                <div class="visually-hidden tx-14 tx-white">Download PDF</div>
            </a>
          </li>
          <li class="nav-item mg-t-50 bd-t" >
            <a href="#savedesign" id="menu-save-design"  class="nav-link  lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-bookmark tx-24 tx-white"></i>
                <div class="visually-hidden tx-14 tx-white my-proj" >Save as Project</div>
            </a>
          </li>
          <li class="nav-item hidden"  >
            <a href="#myprojects" id="myProjectLink" class="hidden nav-link " > </a>
           <a href="#library" id="libraryLink" class="hidden nav-link " > </a>
          </li>
          

          <li class="nav-item" id="btnMyProjects" >
            <a   class="pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="ion-folder tx-24 tx-white"></i>
                <div class="visually-hidden tx-14 tx-white my-proj">My Saved <br>Projects</div>
            </a>
          </li>
          <li class="nav-item mg-t-25 bd-t" id="btnLibrary">
            <a >
                <i class="ion-social-dropbox tx-24 tx-white"></i>
                <div class="visually-hidden tx-14 tx-white">KakePrint Designs</div>
            </a>
        </li>
        </ul>
      </div>
</div>

