 <!-- <div class="card pd-20" id="maintools">
    <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Canvas Setting</h6>
    <div class="d-flex mg-b-10 object-options">
        <div class="bd-r pd-r-10 main-tool-button" >
            <label class="tx-12" >Width (cm) </label>
         <input type="text" pattern="[0-9]" class="form-control">
        </div>
        <div class="pd-x-10 main-tool-button" >
            <label class="tx-12">Height (cm) </label>
            <input type="text" pattern="[0-9]" class="form-control">
        </div>
    
    </div>
    <div class="d-flex mg-b-10 object-options">
        <div class="bd-r pd-r-10 main-tool-button" id="undo" >
            <i  class="ion-ios-undo-outline undo"  title="undo" ></i>
        </div>
        <div class="bd-r pd-x-10 main-tool-button" id="redo">
            <i  class="ion-ios-redo-outline redo"  title="redo"></i>
        </div>
        <div class="bd-r pd-x-10 main-tool-button"  id="download">
            <i  class="ion-ios-download-outline" title="download"></i>
        </div>
        <div class="pd-l-10">
            <i  class="ion-ios-trash-outline delete" id="delete" title="delete"></i>
        </div>
    </div>
</div> -->
<div id="maintools">
    <div class="d-flex image-tools  object-options hidden"  >
        <div id="undo" class="main-tool-button">
            <i class="ion-reply"></i>
            <div>Undo</div>
        </div>
        <div id="redo" class="main-tool-button">
            <i class="ion-forward"></i>
            <div>Redo</div>
        </div>
        
        <div id="rotate" class="main-tool-button" >
            <i class="ion-ios-refresh"></i>
            <div>Rotate</div>
        </div>
        
        
        <div>
            <i class="ion-arrow-swap"></i>
            <div>Flip</div>
        </div>
        
        <div>
            <i class="ion-android-sunny"></i>
            <div>Brightness</div>
        </div>

        <div>
            <i class="ion-android-sunny"></i>
            <div>Brightness</div>
        </div>
        <div id="download" class="main-tool-button">
            <i class="ion-ios-cloud-download"></i>
            <div>Download PDF</div>
        </div>
        
        
    </div>
</div >
