 
<div id="maintools">
    <span id="page-title"> <%=pagetitle %></span>
    <div class="d-flex image-tools  object-options hidden"  >
        <div id="btnUndo" class="main-tool-button">
            <i class="ion-reply"></i>
            <div>Undo</div>
        </div>
        <div id="btnRedo" class="main-tool-button">
            <i class="ion-forward"></i>
            <div>Redo</div>
        </div>
        
        <div id="rotate" class="main-tool-button" >
            <i class="ion-ios-refresh"></i>
            <div>Rotate</div>
        </div>
        
        
        <div id="btnFlipX">
            <i class="ion-arrow-swap"></i>
            <div>Flip</div>
        </div>
        
        <div>
            <i class="ion-android-sunny"></i>
            <div>Brightness</div>
        </div>

        <div id="btnGrayScale">
            <i class="ion-record"></i>
            <div>Grayscale</div>
        </div>

      

        <div id="btn-download-pdf" class="main-tool-button" >
            <i class="ion-ios-cloud-download"></i>
            <div>Download</div>
        </div>
        <div id="btn-save-design" class="main-tool-button"  >
            <i class="ion-ios-bookmarks"></i>
            <div>Save Design</div>
        </div>
    </div>
    <span id="save-browser-txt" style="display:none;width:100px; right: -40px;position: absolute;top: 9px; font-weight: bold">Saved!</span>
</div>

