 <div class="col-lg-3 mg-t-15 mg-sm-t-20 mg-lg-t-0 toolpanel" >
    <div id="select-panel">
        <%- include('../../partials/client/layers'); %>
        <%- include('../../partials/client/maintools'); %>

        <div class="card pd-20 mg-t-15" id="objectoptions">
            <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">View Options</h6>
            <div class="d-flex mg-b-10 object-options">
               
                
                <div class="bd-r pd-x-10 ">
                    <i class="ion-ios-copy-outline " id="duplicate" title="duplicate"></i>
                </div>
                <div class="bd-r pd-x-10 " id="flip-h">
                    <i class="ion-ios-arrow-thin-left flip-h"  title="flip left" title="flip left/right"></i>
                    <i class="ion-ios-arrow-thin-right flip-h" style="margin-left:-25px" title="flip left/right"></i>
                </div>
                <div class="bd-r pd-x-10 " id="flip-v">
                    <i class="ion-ios-arrow-thin-up flip-v"  title="flip up" title="flip up/down"></i>
                    <i class="ion-ios-arrow-thin-down flip-v" style="margin-left:-10px"  title="flip up/down"></i>
                </div>
                
            </div>
            <div class="progress mg-b-10">
                <div class="floating-zoom-level-container"></div>
            </div>
            <p class="tx-12 mg-b-0">Maecenas tempus, tellus eget condimentum rhoncus</p>
        </div>
    </div>

    <div class="card pd-20 mg-t-15">
        <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Canvas Size</h6>
        <div class="d-flex mg-b-10">
            <div class="bd-r pd-r-10">
                <label class="tx-12">Page</label>
                <p class="tx-lato tx-inverse tx-bold">A4</p>
            </div>
            <div class="bd-r pd-x-10">
                <label class="tx-12">Type</label>
                <p class="tx-lato tx-inverse tx-bold">Cicle</p>
            </div>
            <div class="pd-l-10">
                <label class="tx-12">Dimension</label>
                <p class="tx-lato tx-inverse tx-bold">8" 1 Cricle</p>
            </div>
        </div>
        <div class="progress mg-b-10">
            <div class="floating-zoom-level-container"></div>
        </div>
        <p class="tx-12 mg-b-0">Maecenas tempus, tellus eget condimentum rhoncus</p>
    </div>

 
</div>