<div class="pd-x-15 toolpanel" id="shapes-panel">
    <div class="content">
        <label class="tx-uppercase tx-11 mg-t-10 tx-orange mg-b-15 tx-medium">Templates</label>

        <div class="list-group list-group-chat">
            <a href="#" class="list-group-item">
                <div class="d-flex align-items-center button" id="maska48i1c" path="a48i1c">

                    <svg id="SvgjsSvg1001" width="70.68376068376068" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs">
                        <defs id="SvgjsDefs1002">
                            <mask id="SvgjsMask1009">
                                <rect id="SvgjsRect1010" width="70.68376068376068" height="100" fill="#ffffff"></rect>
                                <circle id="SvgjsCircle1013" r="34.059829059829056" cx="34.82905982905983" cy="50.57264957264957" fill="#000000"></circle>
                            </mask>
                        </defs>
                        <rect id="SvgjsRect1008" width="70.68376068376068" height="100" fill="#8cffa0" fill-opacity="0.9" mask="url(&quot;#SvgjsMask1009&quot;)"></rect>
                    </svg>

                    <div class="mg-l-10">
                        <h6>A4 Size Paper</h6>
                        <span>8" Diameter Circle</span>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="d-flex align-items-center button" id="maska43i6c">

                    <svg id="SvgjsSvg1044" width="70.70897117933808" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs">
                        <defs id="SvgjsDefs1045">
                            <mask id="SvgjsMask1047">
                                <rect id="SvgjsRect1048" width="70.70897117933808" height="100" fill="#ffffff"></rect>
                                <circle id="SvgjsCircle1051" r="13.88865132985547" cx="19.105447703754383" cy="21.901992645172324" fill="#000000"></circle>
                                <circle id="SvgjsCircle1053" r="13.88865132985547" cx="51.09039596339691" cy="21.901992645172324" fill="#000000"></circle>
                                <circle id="SvgjsCircle1055" r="13.88865132985547" cx="19.105447703754383" cy="52.70674762678526" fill="#000000"></circle>
                                <circle id="SvgjsCircle1057" r="13.88865132985547" cx="51.09039596339691" cy="52.70674762678526" fill="#000000"></circle>
                                <circle id="SvgjsCircle1059" r="13.88865132985547" cx="19.105447703754383" cy="83.51150260839819" fill="#000000"></circle>
                                <circle id="SvgjsCircle1061" r="13.88865132985547" cx="51.09039596339691" cy="83.51150260839819" fill="#000000"></circle>
                            </mask>
                        </defs>
                        <rect id="SvgjsRect1046" width="70.70897117933808" height="100" fill="#8cffa0" fill-opacity="0.9" mask="url(&quot;#SvgjsMask1047&quot;)"></rect>
                    </svg>

                    <div class="mg-l-10">
                        <h6>A4 Size Paper</h6>
                        <span>3" Diameter 6 Circles</span>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="d-flex align-items-center button" id="rect">

                    <svg id="SvgjsSvg1001" width="70.94017094017094" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs">
                        <defs id="SvgjsDefs1002">
                            <mask id="SvgjsMask10091">
                                <rect id="SvgjsRect1010" width="70.94017094017094" height="100" fill="#ffffff"></rect>
                                <rect id="SvgjsRect1013" width="67.52136752136752" height="93.16239316239316" fill="#000000" x="1.7094017094017104" y="3.418803418803428"></rect>
                            </mask>
                        </defs>
                        <rect id="SvgjsRect1008" width="70.94017094017094" height="100" fill="#8cffa0" fill-opacity="0.9" mask="url(&quot;#SvgjsMask10091&quot;)"></rect>
                    </svg>

                    <div class="mg-l-10">
                        <h6>A4 Size Paper</h6>
                        <span>Rectangular</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
