<div id="toolbar">
<ul class="nav am-sideleft-tab main-buttons">
    <li class="nav-item">
        <a href="#mainMenu" class="nav-link active" >
            <i class="icon ion-ios-home-outline tx-24"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="#templatemenu" class="nav-link ">
            <i class="icon ion-ios-keypad-outline tx-24"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="#clipartmenu" class="nav-link" >
            <i class="icon ion-ios-paw-outline tx-24"></i>
        </a>
    </li>
    <li class="nav-item">
      <a href="#textmenu" class="nav-link" id="textbox">
          <i class="icon ion-social-tumblr-outline tx-24"></i>
      </a>
  </li>
    <li class="nav-item">
        <a href="#settingMenu" class="nav-link " id="upload">
            <i class="icon ion-ios-cloud-upload-outline tx-24"></i>
        </a>
    </li>
</ul>
</div>