<div class="am-header">
    <div class="am-header-left">
        <a id="naviconLeft" href="/app" class="am-navicon d-none d-lg-flex">
            <i class="icon ion-navicon-round"></i>
        </a>
        <a id="naviconLeftMobile" href="http://themepixels.me/demo/amanda/app/index.html?storefront=envato-elements" class="am-navicon d-lg-none">
            <i class="icon ion-navicon-round"></i>
        </a>
        <a href="http://themepixels.me/demo/amanda/app/index.html" class="am-logo">KakePrints</a>
    </div>
    <!-- am-header-left -->
    <%- include('../../partials/client/authmenu'); %>
    <!-- am-header-right -->
</div>