<div class="pd-x-15 toolpanel" id="font-panel">
    <div class="content">
        <label class="tx-uppercase tx-11 mg-t-10 tx-orange tx-medium">Add Text</label>

<div class="text-section">
  <div class="pd-y-10">
    <textarea id="textarea" rows="4" class="form-control " placeholder="Enter your text here..">Type your text here..</textarea>
  </div>

    <div class="font-style">
        <i class="fa fa-bold" id="bold" title="bold"></i>
        <i class="fa fa-italic" id="italic" title="italic"></i>
        <i class="fa fa-underline" id="underline" title="underline"></i>
        <i class="fa fa-subscript" id="subscript" title="subscript"></i>
        <i class="fa fa-superscript" id="superscript" title="superscript"></i>
  
    </div>
    <div class="family pd-y-10">
      <div class="input-container">
      <!-- <select id="font-family">
        <option value=""></option>
        <option value="'Open Sans', sans-serif">Open Sans</option>
        <option value="'Oswald', sans-serif">Oswald</option>
        <option value="'Playfair Display', serif">Playfair Display</option>
        <option value="'Cormorant Garamond', serif">Cormorant Garamond</option>
        <option value="Impact, Charcoal, sans-serif">Impact</option>
        <option value="'Lucida Console', Monaco, monospace">Lucida Console</option>
        <option value="'Comic Sans MS', 'Comic Sans', cursive, sans-serif">Comic Sans</option>
        <option value="'Dancing Script', cursive">Dancing Script</option>
        <option value="'Indie Flower', cursive">Indie Flower</option>
        <option value="'Amatic SC', cursive">Amatic SC</option>
        <option value="'Permanent Marker', cursive">Permanent Marker</option>
      </select> -->
      <div >
        <select class="form-control select2-show-search select2-hidden-accessible" data-placeholder="Choose one (with searchbox)" tabindex="-1" aria-hidden="true">
          <option label="Font Family"></option>
          <option value=""></option>
          <option value="'Open Sans', sans-serif">Open Sans</option>
          <option value="'Oswald', sans-serif">Oswald</option>
          <option value="'Playfair Display', serif">Playfair Display</option>
          <option value="'Cormorant Garamond', serif">Cormorant Garamond</option>
          <option value="Impact, Charcoal, sans-serif">Impact</option>
          <option value="'Lucida Console', Monaco, monospace">Lucida Console</option>
          <option value="'Comic Sans MS', 'Comic Sans', cursive, sans-serif">Comic Sans</option>
          <option value="'Dancing Script', cursive">Dancing Script</option>
          <option value="'Indie Flower', cursive">Indie Flower</option>
          <option value="'Amatic SC', cursive">Amatic SC</option>
          <option value="'Permanent Marker', cursive">Permanent Marker</option>
        </select><span class="select2 select2-container select2-container--default select2-container--below select2-container--open select2-container--focus" dir="ltr" style="width: 303px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="true" tabindex="0" aria-labelledby="select2-gsug-container" aria-owns="select2-gsug-results" aria-activedescendant="select2-gsug-result-kjvj-Firefox"><span class="select2-selection__rendered" id="select2-gsug-container"><span class="select2-selection__placeholder"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
      </div>
      </div>
    </div>
    <div class="d-flex mg-b-10">
      <div class="align">
        <div class="input-container">
        <select id="text-align" class="form-control wd-250">
          <option label="Text Alignment"></option>
          <option value=""></option>

          <option value="left">Left</option>
          <option value="center">Center</option>
          <option value="right">Right</option>
          <option value="justify">Justify</option>
        </select>
        </div>
      </div>
    </div>
    
    <div class="pd-y-10">
      <div>Font Size</div>
      <input type="range" min="1" max="100" value="50" class="slider" id="btnTextSize">
      <div>Letter Spacing</div>
      <input type="range" min="1" max="100" value="50" class="slider" id="slider-font-spacing">
    </div>
    <div>
      
      <button id="btnAddText" class="btn btn-outline-primary active  btn-block mg-b-10">Add Text</button>
    </div>
    
<!--     
    <div class="color">
      <div class="input-container">
      <label>Text Color</label>
      <input id="color-picker" value="black">
      </div>
    </div> -->
  </div>
  </div>
  </div>
