
<div class="text-section">

 
 <div class="card pd-b-20 txt-ctrl">
  <div class="pd-b-10">
    <select class="form-control select2" id="predefinedText" data-placeholder="Please Choose...">
      <option value="">Please Choose...</option>
      <%customText?.forEach((item)=>{%>
     
        <option value="<%=item.content%>" ><%=item.content%></option>
      
        <%})%>

     
    </select>
  </div>

  <div class="tx-12" >
      <textarea id="textarea" rows="2" class="form-control " placeholder="Enter your text here.."  ></textarea>
  </div>

  <div class="tx-12 pd-t-10 d-flex"  >
    <div><a href="#" id="btnAddText" class="tx-uppercase btn btn-primary tx-bold tx-14 pd-x-20">Add Text</a></div>   
  </div>  

</div>
<div>
</div>
</div>

