<div class="workarea">
            <div class="canvas-holder" id="canvas-holder">
                <small class="lbl-width"></small>
                <div class="content">
                    <canvas id="c"></canvas>
            </div>
                </div>
</div>
