
<div class="row row-sm">
      
    <%for(var i=0; i<categoryItems.length;i++){%>
        <div class="col-lg-2">
            <div class="card pd-15">
                <img src="<%=categoryItems[i].base64%>" style="border:dashed 1px #ccc">
                <p>
                    <small><%= categoryItems[i].title %></small><br>
                    <small><%= categoryItems[i].desc %></small><br>
                </p>
            </div>
    </div>
    <%}%>
</div>