<div class="card pd-20 pd-sm-40 mg-t-50">
    <h6 class="card-body-title">FAQs</h6>
    <p class="mg-b-20 mg-sm-b-30">Please enter the FAQs.</p>
    <div id="summernote"></div>
  </div>
  <script>
 $(document).ready(function() {
  $('#summernote').summernote({
    height:"300px"
  });
  $(".am-mainpanel").attr("style","margin-left:75px;margin-top:91px");
  $(".am-pagetitle").attr("style","left:73px");

  
});
</script>