<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3 pd-0">
    <div class="card">
      <%- include('../../partials/admin/dashboard-panel'); %>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <div class="card bd-b pd-10 tx-uppercase tx-bold tx-inverse">Add FAQ</div>

    <div class="card pd-20 mg-t-20">
      <div id="summernote"></div>
      <button  type="button" data-value="faq" class="hidden btn btn-primary tx-uppercase tx-bold" id="btnSaveContent"> Save Content </button>
      <button  type="button"  class="btn btn-primary tx-uppercase tx-bold" id="btnEditContent"> Edit Content </button>
    </div>
  </div>
</div>

  <script>
 $(document).ready(function() {

  $('#summernote').summernote({
    height:"300px"
  });
  $(".am-pagetitle").attr("style","left:73px");
  $('#summernote').summernote('editor.pasteHTML', unescape('<%-escape(content.content)%>'));
  $('#summernote').summernote('disable');

});
</script>