<div class="row row-sm mg-t-15 mg-sm-t-20">
    <!-- col-4 -->
  
  <div class="row row-sm mg-t-15 mg-sm-t-20">
    <div class="col-lg-12">
        <div class="card">
            <%- include('../../partials/admin/workspace') %>
        </div>
    </div>
    <!-- <%- include('../../partials/admin/rightpanel'); %> -->
</div>