<html lang="en">
    <head><%- include('../../partials/admin/head'); %> </head>

  <body data-new-gr-c-s-check-loaded="14.1063.0" data-gr-ext-installed="">
    <form  method="POST">
    <div class="am-signin-wrapper">
        <%- include('../../partials/client/topbar',{user:null}); %>

      <div class="am-signin-box">
        <div class="row no-gutters">
          <div class="col-lg-5">
            <div>
              <h2>Hi, Admin</h2>
              <p>Please enter your username and password.</p>
              <p>If you don't have username and password please contact - Super Admin.</p>
              <hr>
            </div>
          </div>
          <div class="col-lg-7">
            <%- include('../../partials/client/messages'); %>

            <h5 class="tx-gray-800 mg-b-25">Sign In to Your Account</h5>
            

            <div class="form-group">
              <label class="form-control-label">Email:</label>
              <input type="email" name="email" class="form-control" placeholder="Enter your email address">
            </div><!-- form-group -->

            <div class="form-group">
              <label class="form-control-label">Password:</label>
              <input type="password" name="password" class="form-control" placeholder="Enter your password">
            </div><!-- form-group -->
            <!--<input type="hidden" name="admin" class="form-control" value="true">-->
            <!-- <div class="form-group mg-b-20"><a href="">Reset password</a></div> -->

            <button type="submit" class="btn btn-block">Sign In</button>
          </div><!-- col-7 -->
        </div><!-- row -->
        <p class="tx-12 mg-t-15" style="text-align:right; padding-right:12%" >Copyright © KakePrints  <%=new Date().getFullYear();%> | <a href="#" class='tx-bold tx-underline' style="text-decoration: underline" id="privacy-window" > Privacy Policy.</a></p>
      </div><!-- signin-box -->
    </div><!-- am-signin-wrapper -->
</form>
    <script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/popper.js/popper.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>

    <script src="../js/amanda.js"></script>
  <script>
    $("#privacy-window").on("click",function(e){
        var win = window.open("/app/privacy-policy", "Privacy Policy", "toolbar=no, location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width="+(screen.width/2)+",height=500,top="+(screen.height-400)+",left="+(screen.width-200));
    })
  </script>

</body></html>