
<div class="row">
    <div class="col-lg-3 pd-0">
        <div class="card">
            <%- include('../../partials/admin/report-panel'); %>
        </div>

    </div>
    <div class="col-lg-9 ">
        <div class="card bd-b pd-10 tx-uppercase tx-bold tx-inverse">User Report</div>

        <div class="card pd-20  mg-t-20">
            <h6 class="card-body-title">Filter Users</h6>
  <div class="row mg-b-10">
    <div class="col-lg-4 mg-t-20 mg-lg-t-0">
      <label class="form-control-label">Name: <span class="tx-danger"></span></label>
                    <div class="input-group">

                      

                      <input type="text" class="form-control " placeholder="Enter Name" id="inputName">
                    </div>
    </div>
    <div class="col-lg-4 mg-t-20 mg-lg-t-0">
      <label class="form-control-label">Email: <span class="tx-danger"></span></label>
                    <div class="input-group">

                      
                      <input type="email" class="form-control " placeholder="Enter Email" id="inputEmail">
                    </div>
    </div>
    <div class="col-lg-4 mg-t-20 mg-lg-t-0"></div>
  </div>
  <div class="pd-t-20">
    <h6 class="card-body-title">Filter Downloads</h6>

  </div>
            <div class="row">
              <div class="col-lg-4">
                <label class="form-control-label">From Date: </label>
                    <div class="input-group">

                      
                      <span class="input-group-addon"><i class="icon ion-calendar tx-16 lh-0 op-6" id="btnDatepickerFrom"></i></span>
                      <input type="text" class="form-control " placeholder="MM/DD/YYYY" id="datepickerFrom">
                    </div>
                
              </div>
              <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                <label class="form-control-label">To Date: </label>
                <div class="input-group">
                   
                    <span class="input-group-addon"><i class="icon ion-calendar tx-16 lh-0 op-6" id="btnDatepickerTo"></i></span>
                    <input type="text" class="form-control" placeholder="MM/DD/YYYY" id="datepickerTo">
                  </div>
              </div>
             

              <div class="col-lg-4 mg-t-20 mg-lg-t-0">

                <div class="btn-group pd-t-30" role="group" aria-label="Basic example">
                    <button type="button" id="btnFilterUsers" class="btn btn-primary pd-x-25 active tx-bold tx-uppercase tx-12">Search</button>
                    <button type="button" id="btnFilterUserClear" class="btn btn-primary pd-x-25 tx-bold tx-uppercase tx-12">Clear</button>                
                  </div>
                </div>

             
            </div><!-- row -->
  
            
          </div>
          <div class="card pd-20  mg-t-20">
            <h6 class="card-body-title">Records (<span id="lblTotalRecords">0</span>)</h6>

            <table id="userDT" class="display tx-center" style="width:100%">
              <thead>
                <tr class="tx-uppercase tx-12 tx-center" >
                    <th >Name</th>
                    <th >Email</th>
                    <th >Active</th>
                    <!-- <th >Created Date</th> -->
                    <th >Project Limit</th>
                    <th >Projects</th>
                    <th >PDF Downloads</th>
                    <th >Watermark</th>
                    <th >Edit</th>
                   
                </tr>
            </thead></table>
          </div>
    </div>

</div>
<%- include('../../partials/admin/popups/PopupPDFDownloadHistory'); %>
<%- include('../../partials/admin/popups/PopupUserProjectHistory'); %>
<%- include('../../partials/admin/popups/edit-user'); %>

<div id="confirmbox" class="modal fade show">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content bd-0 tx-14">
      <div class="modal-header pd-x-20">
        <h6 id="confirmBoxTitle" class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Are you sure?</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pd-20">
        <p class="mg-b-5" id="confirmBoxBody"></p>
      </div>
      <div class="modal-footer justify-content-center">
        <div class="btn-group">

        <button type="button" id="btnModelContinue" data-dismiss="modal" class="tx-12 tx-uppercase tx-bold  btn btn-success pd-x-20">Continue</button>
        <button type="button" class="btn btn-warning pd-x-20 tx-12 tx-uppercase tx-bold " data-dismiss="modal">Close</button>
      </div>

      </div>
    </div>
  </div><!-- modal-dialog -->
</div>
<script type="text/javascript"> 
(function(){


    $(document).ready(function () {
    var dt = $('#userDT').DataTable();
    $btnSearch = $("#btnFilterUsers"); 
    $inputDatepickerFrom = $("#datepickerFrom"); 
    $inputDatepickerTo = $("#datepickerTo"); 
    $btnClearSearch = $("#btnFilterUserClear");
    $lblTotalRecords =$("#lblTotalRecords");
    $btnDatepickerFrom = $("#btnDatepickerFrom"); 
    $btnDatepickerTo = $("#btnDatepickerTo"); 
    $inputName = $("#inputName"); 
    $inputEmail = $("#inputEmail");

    let filter = {

      startDate : null,  
      endDate   : null,
      name      : null, 
      email     : null
    
    }; 

    $btnDatepickerFrom.on("click",function(e){
      $('#datepickerFrom').datepicker('show');
      
    })
    $btnDatepickerTo.on("click",function(e){
      $('#datepickerTo').datepicker('show');
    })

    $inputDatepickerFrom.on("change",function(e){
      filter.startDate = e.currentTarget.value; 
    })
    $inputDatepickerTo.on("change",function(e){
      filter.endDate = e.currentTarget.value; 
    })

    $inputName.on("blur",function(e){
      filter.name = e.currentTarget.value; 
    })
    $inputEmail.on("blur",function(e){
      filter.email = e.currentTarget.value; 
    })


    $btnClearSearch.on("click",function(e){
      $('#datepickerFrom').datepicker('setDate', null);
      $('#datepickerTo').datepicker('setDate', null);
      $("#inputName").val("");
      $("#inputEmail").val("");

    })
    $btnSearch.on("click",function(e){
      if(
        !filter.startDate &&
        !filter.endDate &&
        !filter.name &&
        !filter.email 
         ){ 
          toast("Please enter any one search value")
          return;}
        dt.clear().draw();
          $loader.removeClass("hidden");
          
      $.ajax({
                type: "POST",
                url: "/api/filter/users",
                data: filter, 
                async: false,
                success: function (res) {
                  $loader.addClass("hidden");
                  let d = [];
                  if(res.data)
                  { 
                    d = res.data.users.map(i=>{
                      let projects = (res.data.projects.filter(p=>p.uploaded_by == i._id)?.length || 0); 
                      let downloads = (res.data.downloads.filter(d=>d.user_id == i._id)?.length || 0); 
                      return [
                        i.fname, 
                        i.email, 
                        (i.active==true)?"<i title='Enabled' class='tx-20 text-success ion-checkmark-circled' ></i>":"<i title='Enabled' class='tx-20 text-danger ion-close-circled' ></i>", 
                        // new Date(i.created_dt)?.toLocaleString("en-US")?.split(',')[0],                         
                        i.project_limit,
                         projects == 0?projects:`<a href='#' onclick='getUserSavedProjects("${i._id}","${i.fname}")' data-target='#popupProjectHistory' data-toggle='modal' class='tx-bold tx-underline'>${projects}</a>`,
                         downloads == 0?downloads:`<a href='#' data-target='#popupDownloadHistory' onclick='getUserDownloads("${i._id}","${i.fname}")' data-toggle='modal' class='tx-bold tx-underline'>${downloads}</a>`,
                        (i.watermark==true)?"<i title='Enabled' class='tx-20 text-success ion-checkmark-circled' ></i>":"<i title='Enabled' class='tx-20 text-danger ion-close-circled' ></i>", 
                        `<i class='ion-ios-compose tx-20 text-primary hand' onclick='editCustomer(${JSON.stringify(i)})'  data-target='#edituser' data-toggle='modal'></i>`  
                      ]
                    })
                    dt.rows.add(d).draw(false); }
                    $lblTotalRecords.text(d.length);
                },error: function (request, status, error) {
                  $lblTotalRecords.text(0);
                  $loader.addClass("hidden");
                },
               
            });
    })});})($);
</script>