<div class="admin-template-designer-bg" style="min-height: 1050px">
    <div class="ht-100v tx-center" id="template-container">
        <canvas id="admin-main-canvas"></canvas>
    </div>
</div>
<script>
    $(".tab-content .tab-pane").each((i,e)=>
    { $(e).removeClass("active"); })
    
   $("#templatepanel").addClass("active");
</script>