


<div class="row mg-r-0">
  <div class="col-lg-3 pd-0">
<div class="card">
  <%- include('../../partials/admin/imgupload'); %>
  </div>
  <div class="list-group widget-list-group">
    <div class="list-group-item pd-20">
    
      <h6 class="card-body-title">Template Details</h6>

      <p>Please enter template details and save your changes.</p>
    </div><!-- list-group-item -->
    </div>

  
  <div class="card">
  <div class="pd-20 admin-design-ctrl">
        <div class="pd-b-10">
             <div class="mg-y-5">
                <input class="form-control" maxlength="50" minlength="3"   pattern=".{3,50}" title="Minimum 3 and maximum 50 characters." placeholder="Title" id="admin-design-title" type="text">
            </div> 
           <div class="mg-y-5">
                <input class="form-control" readonly placeholder="File name" id="admin-file-name" type="text">
            </div>
            <!-- <div class="tx-left mg-y-5">
                <select id="admin-page-size" class="form-control  select2 select2-hidden-accessible" data-placeholder="Choose one" tabindex="-1" aria-hidden="true">
                    <option label="Page Size"></option>
                    <option value="8.5”x11”">8.5”x11”</option>
                    <option value="11”x17”">11”x17”</option>
                    <option value="A4">A4</option>
                    <option value="A3">A3</option>
                  </select>
                </div> -->
            <div class="d-flex tx-left">
                <!-- <div class="mg-y-5 mg-r-10">
                    <small>Logos per page:</small>
                    <input class="form-control"  id="admin-logo-count" min="1"  type="number">
                </div> -->
                <div class="mg-y-5" >
                    <small>Display order:</small>
                    <input class="form-control" oninput="this.value = 
                    !!this.value  && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"  id="admin-display-order" min="1" max="1000" type="number">

                </div>
            </div>
            <div class="mg-y-5">
                <input class="form-control" maxlength="100" minlength="3"  pattern=".{3,100}" title="Minimum 3 and maximum 100 characters."  placeholder="KopyKake Webstore Link" id="admin-design-link" type="text">
            </div>
            <div class="mg-y-5">
                <input class="form-control" id="admin-kopykake-part" maxlength="20" minlength="3"   pattern=".{3,20}" title="Minimum 3 and maximum 20 characters."  placeholder="KopyKake Part #" id="admin-design-link" type="text">
            </div>
            <div class="d-flex pd-y-10">
                <label class="ckbox">
                    <input type="checkbox" checked="" id="design-active"><span>Active</span>
                  </label>
                  <label class="ckbox mg-l-20">
                    <input type="checkbox" id="design-default" ><span>Default</span>
                  </label>
              
            </div>
    </div>
        <div id="save-image-ctrl" >
          <div class="btn-group" role="group">
            <button type="button" id="save-design" class="btn  btn-primary " id="btnSave">Upload</button>
            <button type="button" id="cancel-design" class="btn btn-secondary" id="btnCancelSaveDesign">Cancel</button>
          </div>

        
        </div>
    </div>

</div>
  </div>
  <div class="col-lg-9 pd-x-15 ">
    <div class="card pd-x-15 pd-y-10 tx-primary tx-bold ">
        PREVIEW
    </div>
    <div class="card">
      <div class="admin-template-designer-bg" style="min-height: 800px">
        <div class="ht-100v tx-center" id="template-container">
          <canvas id="admin-main-canvas" style="max-width: 612px; max-height:792px" ></canvas>
      </div>
    </div>

     
  </div>
  </div>
  
</div>

<script>
    $(".tab-content .tab-pane").each((i,e)=>
    { $(e).removeClass("active"); })    
   $("#template-designer").addClass("active");
</script>