


<div class="row mg-r-0">
  <div class="col-lg-3 pd-0">
<div class="card">
  <%- include('../../partials/admin/imgupload'); %>
  </div>
  <div class="list-group widget-list-group">
    <div class="list-group-item pd-20">
      <div class="d-flex justify-content-between align-items-center tx-12 mg-b-20">
        <a href="" class="tx-danger">All fields are mandatory. (*)</a>
    
      </div><!-- d-flex -->
      <h6 class="mg-b-10"><a href="" class="tx-inverse">Template Details</a></h6>
      <p class="tx-13 mg-b-0">Please enter template details and save your changes.</p>
    </div><!-- list-group-item -->
    </div>

  
  <div class="card">
  <div class="pd-x-20 admin-design-ctrl">

    

     
        <div class="pd-b-10">
            <!-- <div class="mg-y-5">
                <input class="form-control" placeholder="Design name" id="admin-design-name" type="text">
            </div> -->
             <div class="mg-y-5">
                <input class="form-control" placeholder="Title" id="admin-design-title" type="text">
            </div> 
           <div class="mg-y-5">
                <input class="form-control" placeholder="File name" id="admin-file-name" type="text">
            </div>
            <div class="tx-left mg-y-5">
                <select id="admin-page-size" class="form-control  select2 select2-hidden-accessible" data-placeholder="Choose one" tabindex="-1" aria-hidden="true">
                    <option label="Page Size"></option>
                    <option value="8.5”x11”">8.5”x11”</option>
                    <option value="11”x17”">11”x17”</option>
                    <option value="A4">A4</option>
                    <option value="A3">A3</option>
                  </select>
                </div>
            <div class="d-flex tx-left">
                <div class="mg-y-5 mg-r-10">
                    <small>Logos per page:</small>
                    <input class="form-control"  id="admin-logo-count" min="1"  type="number">
                </div>
                <div class="mg-y-5" >
                    <small>Display order:</small>
                    <input class="form-control"  id="admin-display-order" min="1" type="number">

                </div>
            </div>
            <div class="mg-y-5">
                <input class="form-control"  placeholder="KopyKake Webstore Link" id="admin-design-link" type="text">
            </div>
            <div class="mg-y-5">
                <input class="form-control" id="admin-kopykake-part"  placeholder="KopyKake Part #" id="admin-design-link" type="text">
            </div>
            <div class="d-flex pd-y-10">
                <label class="ckbox">
                    <input type="checkbox" checked="" id="design-active"><span>Active</span>
                  </label>
                  <label class="ckbox mg-l-20">
                    <input type="checkbox" id="design-default" ><span>Default</span>
                  </label>
              
            </div>
    </div>
        <div id="save-image-ctrl" >
          <div>
            <button type="button" id="save-design" class="btn  btn-primary mg-r-5" id="btnSave">Save Template</button>
            <button type="button" id="cancel-design" class="btn btn-secondary" id="btnCancelSaveDesign">Cancel</button>
          </div>

        
        </div>
    </div>

</div>
  </div>
  <div class="col-lg-9 pd-x-15 ">
    <div class="card pd-x-15 pd-y-10 tx-primary tx-bold ">
        PREVIEW
    </div>
    <div class="card">
      <div class="admin-template-designer-bg" style="min-height: 800px">
        <div class="ht-100v tx-center" id="template-container">
          <canvas id="admin-main-canvas" style="max-width: 612px; max-height:792px" ></canvas>
      </div>
    </div>

     
  </div>
  </div>
  
</div>

<script>
    $(".tab-content .tab-pane").each((i,e)=>
    { $(e).removeClass("active"); })    
   $("#template-designer").addClass("active");
</script>