<div class="admin-template-designer-bg" style="min-height: 1050px">
  <div class="ht-100v d-flex align-items-center justify-content-center" id="upload-template-splash">
      <div class="wd-lg-70p wd-xl-50p tx-center pd-x-40">
          <i class="ion-ios-keypad-outline" style="font-size:200px"></i>
        <h5 class="tx-xs-24 tx-normal tx-orange lh-5">Please select a template to Edit.</h5>
        <p class="tx-16 mg-b-30">Please select a template to upload a template information.</p>
      </div>
    </div>
    
  
  <div class="ht-100v tx-center" id="template-container">
      <canvas id="admin-main-canvas"></canvas>
  </div>
</div>

<script>
  $(".tab-content .tab-pane").each((i,e)=>
  { $(e).removeClass("active"); })    
 $("#templatepanel").addClass("active");
</script>