<div class="row row-sm ">
    <div class="col-lg-9">
        <%- include('../../partials/admin/templatedesignerworkspace'); %>
    </div>
    <%- include('../../partials/admin/templatedesignerrightpanel'); %>
</div>
