
<div class="row">
    <div class="col-lg-3 pd-0">
        <div class="card">
            <%- include('../../partials/admin/report-panel'); %>
        </div>

    </div>
    <div class="col-lg-9 ">
        <div class="card bd-b pd-10 tx-uppercase tx-bold tx-inverse">Template Usage Report</div>

        <div class="card pd-20  mg-t-20">
            <h6 class="card-body-title">Filter Templates</h6>
  <div class="row mg-b-10">
    <div class="col-lg-4 mg-t-20 mg-lg-t-0">
      <label class="form-control-label">Template Name: <span class="tx-danger"></span></label>
                    <div class="input-group">

                      
                      <input type="text" class="form-control " placeholder="Enter Name" id="inputName">
                    </div>
    </div>
    <div class="col-lg-4 mg-t-20 mg-lg-t-0">
      <label class="form-control-label">Template Part No: <span class="tx-danger"></span></label>
                    <div class="input-group">

                      

                      <input type="text" class="form-control " placeholder="Enter Part No" id="inputPartNo">
                    </div>
    </div>
    <div class="col-lg-4 mg-t-20 mg-lg-t-0"></div>
  </div>
            <div class="row">
              <div class="col-lg-4">
                <label class="form-control-label">From Date:</label>
                    <div class="input-group">

                      
                      <span class="input-group-addon"><i class="icon ion-calendar tx-16 lh-0 op-6" id="btnDatepickerFrom"></i></span>
                      <input type="text" class="form-control " placeholder="MM/DD/YYYY" id="datepickerFrom">
                    </div>
                
              </div>
              <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                <label class="form-control-label">To Date: </label>
                <div class="input-group">
                   
                    <span class="input-group-addon"><i class="icon ion-calendar tx-16 lh-0 op-6" id="btnDatepickerTo"></i></span>
                    <input type="text" class="form-control" placeholder="MM/DD/YYYY" id="datepickerTo">
                  </div>
              </div>
             

              <div class="col-lg-4 mg-t-20 mg-lg-t-0">

                <div class="btn-group pd-t-30" role="group" aria-label="Basic example">
                    <button type="button" id="btnFilterUsers" class="btn btn-primary pd-x-25 active tx-bold tx-uppercase tx-12">Search</button>
                    <button type="button" id="btnFilterUserClear" class="btn btn-primary pd-x-25 tx-bold tx-uppercase tx-12">Clear</button>                
                  </div>
                </div>

             
            </div><!-- row -->
  
            
          </div>
          <div class="card pd-20  mg-t-20">
            <h6 class="card-body-title">Records (<span id="lblTotalRecords">0</span>)</h6>

            <table id="userDT" class="display tx-center" style="width:100%">
              <thead>
                <tr>
                    <th>Template</th>
                    <th class="tx-center">Template Name</th>
                    <th class="tx-center">Part No</th>
                    <th class="tx-center">Usage</th>
                    <th class="tx-center">Created Date</th>                   
                </tr>
            </thead></table>
          </div>
    </div>

</div>
<script type="text/javascript"> 
(function(){


    $(document).ready(function () {
    var dt = $('#userDT').DataTable();
    $btnSearch = $("#btnFilterUsers"); 
    $inputDatepickerFrom = $("#datepickerFrom"); 
    $inputDatepickerTo = $("#datepickerTo"); 
    $btnClearSearch = $("#btnFilterUserClear");
    $lblTotalRecords =$("#lblTotalRecords");
    $btnDatepickerFrom = $("#btnDatepickerFrom"); 
    $btnDatepickerTo = $("#btnDatepickerTo"); 

    $inputName = $("#inputName"); 
    $inputPartNo = $("#inputPartNo");

    let filter = {

      startDate : null,  
      endDate   : null,
      name      : null, 
      partNo     : null
    
    }; 

    $btnDatepickerFrom.on("click",function(e){
      $('#datepickerFrom').datepicker('show');
      
    })
    $btnDatepickerTo.on("click",function(e){
      $('#datepickerTo').datepicker('show');
    })

    $inputDatepickerFrom.on("change",function(e){
      filter.startDate = e.currentTarget.value; 
    })
    $inputDatepickerTo.on("change",function(e){
      filter.endDate = e.currentTarget.value; 
    })

    $inputName.on("blur",function(e){
      filter.name = e.currentTarget.value; 
    })
    $inputPartNo.on("blur",function(e){
      filter.partNo = e.currentTarget.value; 
    })


    $btnClearSearch.on("click",function(e){
      $('#datepickerFrom').datepicker('setDate', null);
      $('#datepickerTo').datepicker('setDate', null);
      $("#inputName").val("");
      $("#inputPartNo").val("");

    })
    $btnSearch.on("click",function(e){
      if(
        !filter.startDate &&
        !filter.endDate &&
        !filter.name &&
        !filter.partNo 
         ){ 
          toast("Please enter any one search value")
          return;}
        dt.clear().draw();
          $loader.removeClass("hidden");
      $.ajax({
                type: "POST",
                url: "/api/filter/templates",
                data: filter, 
                async: false,
                success: function (res) {
                  $loader.addClass("hidden");
                  if (isSessionExpired(res)) {
                    return;
                  }
                
                  let d = [];
                  if(res.data)
                  { 
                    d = res.data.map(i=>{
                      return [
                        `<img src='/uploads/admin/template/template-${i.code}.png' class='wd-50' ></img>`,
                        i.title, 
                        i.ref_code,
                        i.count, 
                        new Date(i.created_dt)?.toLocaleString("en-US")?.split(',')[0],                         
                        ]
                    })
                    dt.rows.add(d).draw(false); }
                    $lblTotalRecords.text(d.length);
                },error: function (request, status, error) {
                  $lblTotalRecords.text(0);
                  $loader.addClass("hidden");
                },
               
            });
    })

});

})($);
</script>