
<div class="row pd-15 " >
<div class="col-lg-8" id="ruler-area">
  <div class="ht-100v tx-center" id="template-container">
    <div class="tx-center pd-t-30">
      <i class="ion-ios-keypad-outline tx-100 tx-blue"></i>
      <h5 class="tx-22 tx-blue">Template Designer</h5>
      <p class="">Please upload the SVG Template and provide the mandatory information.</p>
    </div>
  </div>
</div>
<div class="col-lg-4 hidden" id="template-info-panel">
  <div class="card pd-20">
    <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Template Info</h6>
    <div class="mg-b-10 ">
       
        <div class="form-group">
            <label class="form-control-label">Template Category:
            </label>
            <select id="dropdownTemplateSize" class="form-control select2 select2-hidden-accessible " data-placeholder="Choose one (with optgroup)" tabindex="-1" aria-hidden="true">
                <option label="Choose one"></option>
                <option value="8.5x11" >Letter : 8.5" x 11"</option>
                <option value="11x17" >Ledger : 11" x 17"</option>
                <option value="8.3x11.7" selected>A4 : 8.3" x 11.7"</option>
                <option value="11.7x16.5" >A3 : 11.7" x 16.5"</option>

               
            </select>
            <small id="lblSheetSize"></small>
        </div>
        <div class="form-group">
            <label class="form-control-label">Select Shape
            </label>
            <select id="dropdownCanvasShape" class="form-control select2 select2-hidden-accessible " data-placeholder="Choose one (with optgroup)" tabindex="-1" aria-hidden="true">
                <option label="Choose one"></option>
                <option value="circle" selected>Circle</option>
                <option value="square">Square</option>
                <option value="rectangle">Rectangle</option>
                <option value="heart">Heart</option>
                <option value="Star">Star</option>
                <option value="diamond">Diamond</option>
                <option value="other">Other</option>
            </select>
            <small id="lblSheetSize"></small>
        </div>
      
        <div class="d-flex mg-b-10" id="shapeWidthHeight">
            <div class="pd-r-10" >
                <label class="tx-12" >Width (in) </label>
             <input type="text" pattern="[0-9]" class="form-control" id="inputTemplateShapeWidth">
            </div>
            <div >
                <label class="tx-12">Height (in) </label>
                <input type="text" pattern="[0-9]" class="form-control" id="inputTemplateShapeHeight">
            </div>

        </div>
        <!-- <div class="" id="shapeDiameter"  >
          <label class="tx-12" >Diameter (in)</label>
       <input type="number" pattern="[0-9]" class="form-control" id="inputTemplateDiameter">
      </div> -->
        <div class="d-flex mg-b-10" id="shapePosition">
            <div class="pd-r-10" >
                <label class="tx-12" >Left (cm) </label>
             <input type="number" pattern="[0-9]" class="form-control" id="inputTemplateShapeLeft">
            </div>
            <div  >
                <label class="tx-12">Top (cm) </label>
                <input type="number" pattern="[0-9]" class="form-control" id="inputTemplateShapeTop">
            </div>
        </div>
       
        <div class="d-flex mg-b-10 ">
            
            <div class="pd-r-10" >
                <label class="tx-12">Rows </label>
                <input type="text" pattern="[0-9]" class="form-control" id="inputRows" >
            </div>
            <div  >
                <label class="tx-12" >Columns </label>
             <input type="text" pattern="[0-9]" class="form-control" id="inputColumns" >
            </div>
        </div>
        <p class="tx-12 mg-b-0">Leave empty if only one image is priented.</p>
        <div class="form-group">
            <div >
                <label class="tx-12">Title :</label>
                <input type="text" class="form-control" id="templateTitle" placeholder="Template description.">
            </div>
        </div>

    </div>
    <button class="btn btn-outline-success active btn-block mg-b-10" id="saveTemplate">Save</button>
  </div><!-- card -->
</div>
</div>

<div id="snackbar"></div>
