<div class="card pd-20 mg-r-20 t-20">
  <h6 class="card-body-title">Terms & Conditions</h6>
  <p class="mg-b-20 ">Please enter the Terms & Conditions.</p>
  <div id="summernote"></div>
  <button  type="button" data-value="terms-conditions" class="btn btn-primary" id="btnSaveContent"> Save </button>
</div>
  <script>
 $(document).ready(function() {
  $('#summernote').summernote({
    height:"300px"
  });
  $('#summernote').summernote('editor.pasteHTML', '<%-content.content%>');

  


});
</script>