<%if( user != null)  {%> 
  
    <div class="am-header-right">
            <%if(typeof designButtons != 'undefined' ){ %>
            <div>
                    <ul class="nav nav-white-800 flex-column flex-md-row justify-content-end" style="flex-wrap:nowrap" role="tablist">
                        <li class="nav-item ">
                            <a href="#" onclick="$('#btn-menu-peview').click()" class=" btn-shadow lh-1 hand soft btn btn-sm btn-success tx-12 tx-uppercase tx-bold bd-0 pd-x-10"
                                id="ws-btn-preview">Preview <br> Your Design</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" data-toggle="modal" data-target="#downloadPDFModel" class="btn-shadow lh-1  hand soft btn btn-sm btn-success tx-12 tx-uppercase tx-bold  bd-0 pd-x-10 hidden"
                                id="ws-btn-download" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><i
                                    class="ion-checkmark-circled mg-r-5"></i> Finalize &amp; Download <br> your PDF</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" onclick="$('#menu-save-design').click()" class="btn-shadow lh-1  hand soft btn btn-success btn-sm tx-12 tx-uppercase tx-bold bd-0 pd-x-10"
                                id="ws-btn-save"><i class="fa fa-floppy-o mg-r-5"></i>Save <br>Your Project</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#" onclick="backFromPreview()" class=" btn-shadowlh-1  hand soft btn btn-danger tx-12 btn-sm tx-uppercase tx-bold  bd-0 pd-x-10 hidden"
                                id="ws-btn-back"><i class="fa fa-pencil-square-o mg-r-5"></i> Continue Editing <br> Your Design</a>
                        </li>
                        <li class="nav-item ">
            
                            <a href="#" id="btnStartOverModel" data-toggle="modal" data-target="#confirmbox" class="btn-shadow lh-1  soft btn btn-sm btn-danger bd-0 pd-x-10 mg-l-1 tx-12 tx-uppercase tx-bold">
                                <i class="ion-refresh mg-r-5"></i>Restart Designing from <br>the Beginning</a>
                        </li>
            
                    </ul>
            </div>
            <%}%>
            <a href="#" id="terms-window" class="tx-white tx-underline tx-bold mg-r-5 nav-link nav-link-profile ">Terms and
                Conditions</a>
            <a href="#" id="faq-window" class="tx-white tx-underline tx-bold mg-r-5 nav-link nav-link-profile">FAQ</a>
        <div class="dropdown dropdown-profile">
            <a href="#" class="nav-link nav-link-profile" data-toggle="dropdown" aria-expanded="false">
    
                <span class="logged-name">
                    <span class="hidden-xs-down"><%= user.fname %></span>
                    <i class="fa fa-angle-down mg-l-3"></i>
                </span>
            </a>
    
            <div class="dropdown-menu wd-200" x-placement="bottom-start" style="position: absolute; transform: translate3d(20px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
                <ul class="list-unstyled user-profile-nav">
                    <!-- <li>
                        <a href="/app/profile">
                            <i class="icon ion-ios-person-outline"></i>
                            Edit Profile</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon ion-ios-gear-outline"></i>
                            Settings</a>
                    </li>
                   -->
                  
                    <li>
                        <a href="/app/signout">
                            <i class="icon ion-power"></i>
                            Sign Out</a>
                    </li>
                </ul>
            </div>
            <!-- dropdown-menu -->
        </div>
    
        <!-- dropdown -->
    </div>
    <%}%>