
   
    <div class="card">
        <div class="pd-10 admin-design-ctrl">
                <div class="pd-b-10">
                <div class="mg-y-5">
                        <input class="form-control" placeholder="Title" id="admin-design-title" type="text">
                    </div>
                  <div class="d-flex pd-y-10">
                        <label class="ckbox">
                            <input type="checkbox" checked="" id="design-active"><span>Active</span>
                          </label>
                    </div>
            </div>
                <div id="save-image-ctrl" class="tx-center">
                    <div class="btn-group" role="group" >
                        <button type="button" id="save-design" class="btn btn-primary  pd-x-25 active ">Upload</button>
                        <button type="button" id="cancel-design" class="btn btn-secondary pd-x-25 ">Reset</button>
                      </div>
                </div>
            </div>
    </div>
  
