  
    <div class="card">
        <div class="pd-x-15 admin-design-ctrl">

                <div class="pd-b-10">
                    <div class="tx-left">
                        <select id="admin-categories" class="form-control  select2 select2-hidden-accessible" data-placeholder="Choose one" tabindex="-1" aria-hidden="true">
                            <option label="Categories"></option>
                            <%for(var i=0; i<categories.length;i++){%>
                                <option value="<%=categories[i]._id%>"><%=categories[i].name%></option>
                           <%}%>
                          </select>
                        </div>
    
                  
                    <div class="mg-y-5">
                        <input class="form-control" placeholder="Enter ClipArt Name" id="inputClipArtName" type="text">
                    </div>
                   
    


                    <div class="d-flex pd-y-10">
                        <label class="ckbox">
                            <input type="checkbox"   id="cbClipArtActive"><span>Active</span>
                        </label>
                          <!-- <label class="ckbox mg-l-20">
                            <input type="checkbox" id="design-default" ><span>Default</span>
                          </label>
                       -->
                    </div>
                    <div id="save-image-ctrl  class="tx-center">
                        <input type="hidden" id="selectedClipartId">
                        <button type="button" id="btnUploadClipart" class="tx-bold btn-xs tx-uppercase btn btn-success  pd-x-25 active pd-y-10">Upload</button>
                        <button type="button" id="btnUpdateClipart" class="hidden btn-xs tx-bold tx-uppercase btn btn-success  pd-x-25 active pd-y-10">Save Changes</button>
                        <button type="button" id="btnDeleteClipart" class="hidden btn-xs tx-bold tx-uppercase btn btn-danger  pd-x-25 active pd-y-10">Delete</button>
                        <button type="button" id="btnCancelClipart" class="tx-bold btn-xs tx-uppercase btn btn-primary pd-x-25 pd-y-10">Cancel</button>
                </div>
            </div>
               
            </div>
    </div>
  
