<ul class="nav am-sideleft-menu">
   
    <li class="nav-item">
      <a href="#" class="nav-link with-sub show-sub">
        <i class="icon ion-ios-filing-outline"></i>
        <span>Content Management</span>
      </a>
      <ul class="nav-sub">
        <!-- <li class="nav-item"><a href="/app/admin/categories" class="nav-link">Categories</a></li> -->
        <li class="nav-item"><a href="/app/admin/Privacy" class="nav-link">Privacy</a></li>
        <li class="nav-item"><a href="/app/admin/terms" class="nav-link">Terms & Conditions</a></li>
        <li class="nav-item"><a href="/app/admin/faq" class="nav-link">FAQs</a></li>   
        <li class="nav-item"><a href="/app/admin/custom-text" class="nav-link">Custom Text</a></li>    
        <li class="nav-item"><a href="/app/admin/fonts" class="nav-link">Fonts</a></li>         
        <li class="nav-item"><a href="/app/admin/watermark" class="nav-link">Add Watermark</a></li>         

      </ul>
    </li><!-- nav-item -->
   
   
  </ul>