<ul class="nav am-sideleft-menu">
    <!-- <li class="nav-item">
      <a href="/app/admin/dashboard" class="nav-link">
        <i class="icon ion-ios-home-outline"></i>
        <span>Dashboard</span>
      </a>
    </li> -->
    <!-- <li class="nav-item">
      <a href="/app/admin/user-management" class="nav-link">
        <i class="ion-ios-people-outline"></i>
        <span>User Management</span>
      </a>
      
    </li>
    <li class="nav-item">
        <a href="/app/admin/reporting" class="nav-link ">
          <i class="icon ion-ios-analytics-outline"></i>
          <span>Reporting</span>
        </a>
     
      </li> -->
    <li class="nav-item">
      <a href="#" class="nav-link with-sub show-sub">
        <i class="icon ion-ios-filing-outline"></i>
        <span>Content Management</span>
      </a>
      <ul class="nav-sub">
        <!-- <li class="nav-item"><a href="/app/admin/categories" class="nav-link">Categories</a></li> -->
        <li class="nav-item"><a href="/app/admin/Privacy" class="nav-link">Privacy</a></li>
        <li class="nav-item"><a href="/app/admin/terms" class="nav-link">Terms & Conditions</a></li>
        <li class="nav-item"><a href="/app/admin/faq" class="nav-link">FAQs</a></li>   
        <li class="nav-item"><a href="/app/admin/custom-text" class="nav-link">Custom Text</a></li>    
        <li class="nav-item"><a href="/app/admin/fonts" class="nav-link">Fonts</a></li>         
      </ul>
    </li><!-- nav-item -->
    <!-- <li class="nav-item">
      <a href="/app/admin/settings" class="nav-link">
        <i class="ion-ios-gear-outline"></i>
        <span>Settings</span>
      </a>
    
    </li> -->
   
  </ul>