
  <div id="mainMenu" class="">
    <ul class="nav am-sideleft-menu">
      <li class="nav-item">
        <a href="#" class="nav-link tx-uppercase tx-bold tx-12 text-primary">
          <i class="ion-social-buffer"></i>
          <span>Content Management</span>
        </a>
      </li><!-- nav-item -->
   
      </li><!-- nav-item -->
      <li class="nav-item">
        <a href="/app/admin/watermark" class="nav-link tx-uppercase tx-bold tx-12 text-primary">
          <i class="ion-ios-star-half"></i>
          <span>Add Watermark</span>
        </a>
        
      </li><!-- nav-item -->
      <li class="nav-item">
        <a href="/app/admin/fonts" class="nav-link tx-uppercase tx-bold tx-12 text-primary">
          <i class="ion-social-facebook"></i>
          <span>Add Fonts</span>
        </a>
       
      </li><!-- nav-item -->
      <li class="nav-item">
        <a href="/app/admin/custom-text" class="nav-link tx-uppercase tx-bold tx-12 text-primary">
          <i class="ion-social-tumblr"></i>
          <span>Customized Text</span>
        </a>
      </li><!-- nav-item -->
      <li class="nav-item">
        <a href="/app/admin/terms" class="nav-link tx-uppercase tx-bold tx-12 text-primary">
          <i class="icon ion-ios-list-outline"></i>
          <span>Terms & Conditions</span>
        </a>
      </li><!-- nav-item -->
      <li class="nav-item">
        <a href="/app/admin/Privacy" class="nav-link  tx-uppercase tx-bold tx-12 text-primary">
          <i class="icon ion-ios-bookmarks-outline"></i>
          <span>Privacy & Policy</span>
        </a>
   
      </li><!-- nav-item -->
      <li class="nav-item">      
        <a href="/app/admin/faq" class="nav-link tx-uppercase tx-bold tx-12 text-primary">
          <i class="ion-clipboard"></i>
          <span>FAQ</span>
        </a>
      </li>
      <li class="nav-item">      
        <a href="/app/admin/categories" class="nav-link tx-uppercase tx-bold tx-12 text-primary">
          <i class="ion-ios-list-outline"></i>
          <span>Add Category</span>
        </a>
      </li>
    </ul>
  </div>