
        <div class="tx-center admin-design-ctrl">


            <div class=" mg-auto">
                <div class="d-flex">


                    <div class="d-r-5">
                        <label class="ckbox">
                            <input type="checkbox" id="editTemplateActive" ><span>Active</span>
                          </label>
                    </div>
                    <div class="pd-l-5 pd-x-10">
                        <label class="ckbox">
                            <input type="checkbox" id="editTemplateDefault" ><span>Default</span>
                          </label>

                    </div>
                    <div class="mg-l-auto"  id="admin-delete-template">
                        <i class="ion-trash-a tx-24" title="delete template" ></i>

                    </div>
                </div>

            </div>
            <div class="pd-b-10">
                <div class="mg-y-5">
                    <input class="form-control" placeholder="Design name" id="admin-design-name" type="text">
                </div>
                <div class="mg-y-5">
                    <input class="form-control" placeholder="Thumbnail name" id="admin-design-title" type="text">
                </div>
                <div class="mg-y-5">
                    <input class="form-control" placeholder="File name" id="admin-file-name" type="text">
                </div>
                <div class="tx-left mg-y-5">
                    <select id="admin-page-size" class="form-control  select2 select2-hidden-accessible" data-placeholder="Choose one" tabindex="-1" aria-hidden="true">
                        <option label="Page Size"></option>
                        <option value="8.5”x11”">8.5”x11”</option>
                        <option value="11”x17”">11”x17”</option>
                        <option value="A4">A4</option>
                        <option value="A3">A3</option>
                      </select>
                    </div>
                <div class="d-flex tx-left">
                    <div class="mg-y-5 mg-r-10">
                        <small>Logos per page:</small>
                        <input class="form-control"  id="admin-logo-count" type="text">
                    </div>
                    <div class="mg-y-5" >
                        <small>Display order:</small>
                        <input class="form-control"  id="admin-display-order" type="number">

                    </div>
                </div>
                <div class="mg-y-5">
                    <input class="form-control"  placeholder="KopyKake Webstore Link" id="admin-design-link" type="text">
                </div>
                <div class="mg-y-5">
                    <input class="form-control" id="admin-kopykake-part"  placeholder="KopyKake Part #" id="admin-design-link" type="text">
                </div>
                <input class="form-control" id="edit-template-id" value=""  type="hidden">
        </div>
            <div id="save-image-ctrl" class="tx-center">
                <div class="btn-group" role="group" >
                    <button type="button" id="btnUpdateDesign" class="btn btn-primary  pd-x-25 active ">Update</button>
                    <button type="button"  class="btn btn-secondary  pd-x-25 ">Cancel</button>


                  </div>
            </div>
        </div>
