<div class="pd-15" id="admin-image-upload">
    <div class="pd-15 text-center drag-drop-input">
        <h1 class="ion-ios-cloud-upload icon-imgupload"></h1>
        <br>
            <p class="tx-12 "><%= locals.uploadmessage %></p>
            </div>
</div>
<input id="admin-image-upload-hidden" type="file" accept="image/*" multiple="multiple" hidden="hidden">

