
    <i class="tx-80  tx-gray-800 icon-imgupload ion-ios-cloud-upload-outline" id="admin-image-upload"></i>

<p class="tx-12 pd-t-20 pd-x-30 tx-center">Upload SVG Templates Only.</p>
<input id="admin-image-upload-hidden" data-page-id="<%=locals.page.id%>" type="file" accept="image/*" multiple="multiple" hidden="hidden">
    <input id="design-type" value="template" hidden="hidden">
