
    
    <div class="list-group widget-list-group bg-app-primary">
        <div class="list-group-item d-flex">
          <div class="media d-block d-sm-flex">
            <div class="d-block d-sm-flex mg-sm-r-20">
              <i class="ion-ios-cloud-upload-outline tx-24 tx-white"></i>
            </div><!-- d-flex -->
            <div class="media-body mg-t-10 mg-sm-t-0">
              <h6 class="mg-b-5 tx-14">Upload Template</h6>
              <p class="mg-b-0 tx-12 tx-white-5">SVG Template only.</p>
            </div><!-- media-body -->
          </div><!-- media -->
          <a href="#" id="admin-image-upload" class="btn btn-primary pd-lg-x-20 mg-l-auto">Upload</a>
          <input id="admin-image-upload-hidden" data-page-id="<%=locals.page.id%>" type="file" accept="image/*" multiple="multiple" hidden="hidden">
        <input id="design-type" value="template" hidden="hidden">

        </div>
      </div>

