<div
    class="am-sideleft" id="toolbar">
    <!-- <%- include('../../partials/client/toolbar'); %> -->
    <div class="d-flex flex-column flex-shrink-0 bg-light sidebar ">

        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center main-buttons ">
            <li class="nav-item">
                <a href="/app/admin/dashboard" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="icon ion-ios-gear-outline tx-24 tx-white"></i>
                    <div class="visually-hidden tx-12 tx-white">Dashboard</div>
                </a>
            </li>
            <li>
                <a href="/app/admin/template-designer" id="btn-upload-template" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="ion-ios-cloud-upload-outline tx-24 tx-white"></i>
                    <div class="visually-hidden tx-12 tx-white my-proj">Upload Templates
                    </div>
                </a>
            </li>
            <li>
                <a href="/app/admin/templates" id="btn-upload-template" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="ion-ios-keypad-outline tx-24 tx-white"></i>
                    <div class="visually-hidden tx-12 tx-white my-proj">View/Edit Templates
                    </div>
                </a>
            </li>
            <li>
                <a href="/app/admin/cliparts" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="ion-ios-paw tx-24 tx-white"></i>
                    <div class="visually-hidden tx-12 tx-white">Upload Cliparts</div>
                </a>
            </li>
           
          
            <li>
                <a href="/app/admin/pre-designed" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="ion-ios-keypad tx-24 tx-white"></i>
                    <div class="visually-hidden tx-12 tx-white">Custom Designs</div>
                </a>
            </li>
            <!-- <li>
                <a href="#textmenu" id="btnTextMenu" class="nav-link pd-y-10 lh-1  border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="ion-social-tumblr tx-24 tx-white"></i>
                    <div class="visually-hidden tx-12 tx-white">Custom Text</div>
                </a>
            </li> 
            <li class="nav-item">
                <a href="#savedesign" id="menu-save-design" class="nav-link pd-y-10 lh-1  border-bottom hidden" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="ion-bookmark tx-24 tx-white"></i>
                    <div class="visually-hidden tx-12 tx-white my-proj">Save to Library</div>
                </a>
              </li>
-->
          
        </ul>


    </div>

        </div>
