<!-- <div id="admin-image-upload">
    <div class="pd-t-15 text-center drag-drop-input">
        <h1 class="ion-ios-cloud-upload icon-imgupload"></h1>
        <br>
            <p class="tx-12 "><%= locals.uploadmessage %></p>
        </div>
</div>
    <input id="admin-image-upload-hidden" data-page-id="<%= locals.page.id %>" type="file" accept="image/*" multiple="multiple" hidden="hidden">
       -->
       <div class="card pd-t-20 pd-0" >
        <button type="button" class="btn-upload" id="admin-image-upload"> Upload Image</button>
        <p class="tx-12 pd-t-20 pd-x-30 tx-center">Upload (SVG,JPG,PNG) Images.</p>
        <input id="admin-image-upload-hidden" type="file" accept="image/*" multiple="multiple" hidden="hidden">
    </div>
    <div class="pd-10 admin-design-ctrl">

        <div class="tx-12"><b>Design Info</b><span class="text-danger"> (All fields are mandatory)</span></div>

           
                <div class="d-flex">


                    <div class="d-r-5">
                        <small class="pd-y-10">Active</small>
                        <div class="toggle toggle-light primary mg-auto disabled" id="design-active" style="height: 22px; width: 50px;">
                            <div class="toggle-slide">
                                <div class="toggle-inner" style="width: 78px; margin-left: -28px;">
                                    <div class="toggle-on" style="height: 22px; width: 39px; text-indent: -7.33333px; line-height: 22px;">ON</div>
                                    <div class="toggle-blob" style="height: 22px; width: 22px; margin-left: -11px;"></div>
                                    <div class="toggle-off active" style="height: 22px; width: 39px; margin-left: -11px; text-indent: 7.33333px; line-height: 22px;">OFF</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="pd-l-5">
                        <small class="pd-y-10">Default</small>
                        <div class="toggle toggle-light primary mg-auto disabled" id="design-default" style="height: 22px; width: 50px;">
                            <div class="toggle-slide">
                                <div class="toggle-inner" style="width: 78px; margin-left: -28px;">
                                    <div class="toggle-on" style="height: 22px; width: 39px; text-indent: -7.33333px; line-height: 22px;">ON</div>
                                    <div class="toggle-blob" style="height: 22px; width: 22px; margin-left: -11px;"></div>
                                    <div class="toggle-off active" style="height: 22px; width: 39px; margin-left: -11px; text-indent: 7.33333px; line-height: 22px;">OFF</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div> -->
            <div class="pd-b-10">
                <div class="mg-y-5">
                    <input class="form-control" placeholder="Design name" id="admin-design-name" type="text">
                </div>
                <div class="mg-y-5">
                    <input class="form-control" placeholder="Thumbnail name" id="admin-design-title" type="text">
                </div>
                <div class="mg-y-5">
                    <input class="form-control" placeholder="File name" id="admin-file-name" type="text">
                </div>

                <div class="mg-y-5">
                    <input class="form-control"  placeholder="KopyKake Webstore Link" id="admin-design-link" type="text">
                </div>
                <div class="mg-y-5">
                    <input class="form-control" id="kopykakePartNo"  placeholder="KopyKake Part #" id="admin-design-link" type="text">
                </div>
                <div class="d-flex pd-y-10">
                    <label class="ckbox">
                        <input type="checkbox" checked="" id="design-active"><span>Active</span>
                      </label>
                      <label class="ckbox mg-l-20">
                        <input type="checkbox" id="design-default" ><span>Default</span>
                      </label>
                  
                </div>
        </div>
            <div id="save-image-ctrl" class="tx-center">
                <div class="btn-group" role="group" >
                    <button type="button" id="btnSavePreDesign" class="btn btn-primary  pd-x-25 active ">Save Design</button>
                    <button type="button" id="cancel-design" class="btn btn-secondary pd-x-25 ">Cancel</button>
                  </div>
            </div>
        </div>
