
  <div id="mainMenu" class="">
    <ul class="nav am-sideleft-menu">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="ion-android-list "></i>
          <span>User Report</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class=" ion-android-list "></i>
          <span>Frosting Sheet Report</span>
        </a>
      </li>
     
    </ul>
  </div>