
  <div id="mainMenu" class="">
    <ul class="nav am-sideleft-menu">
      <li class="nav-item">
        <a href="/app/admin/reports" class="nav-link">
          <i class="ion-android-list tx-primary"></i>
          <span class='tx-uppercase tx-primary tx-12 tx-bold'>User Report</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/app/admin/template-report" class="nav-link">
          <i class=" ion-android-list tx-primary"></i>
          <span class="tx-uppercase tx-primary tx-12 tx-bold">Template Usage Report</span>
        </a>
      </li>
     
    </ul>
  </div>