<!-- <div class="list-group widget-list-group bd-b">
    <div class="list-group-item d-flex">
      <div class="media d-block d-sm-flex">
        
        <div class="media-body mg-t-10 mg-sm-t-0">
          <h6 class="mg-b-5 tx-14"><a href="#"  class="hover-primary tx-bold tx-primary">Request a Quote</a></h6>
          <p class="mg-b-0 tx-12">Send us your PDF to  Print.</p>
        </div>
      </div>
      <a href="#" data-toggle="modal" data-target="#rfq" class="btn btn-primary tx-uppercase tx-12 tx-bold pd-lg-x-20 mg-l-auto">Quote</a>
    </div>
  
  </div> -->
  <div id="accordion" class="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h6 class="mg-b-0 tx-14">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="tx-gray-800 transition">
                    <b>Template Details</b>
                    <div class="arrow down pull-right"></div>
                </a>
            </h6>
        </div>
        <!-- card-header -->

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          
            <div class="mail-item d-flex pd-10 bd-b bd-gray-200" id="template-info-panel">
                <div>
                    <img id="imgSelectedTemplate" class="wd-80 " alt=""></div>
                    <div class="mg-l-10">
                       
                        <p class="tx-13 mg-b-10">
                            <p>
                            <span class="template-name tx-bold"></span><br>
                            <span >Sheet size:</span> <span class="page-size tx-bold"></span><br>
                             Total Logos: <span class="total-logos tx-bold"></span><br>
                             Logo Size: <span class="logo-size tx-bold"></span> <br>
                             Part #: <span class="ref_code tx-bold"></span><br>
                             <a href="#" target="_blank" class="webstore-link underline tx-bold" style="text-decoration: underline;"> KopyKake Web Store</a> 
                            </p>
                          
                           
                        </p>
                      
                    </div>
                </div>

            </div>
        </div>
    <div class="card ">
        <div class="card-header" role="tab" id="col-layers">
            <h6 class="mg-b-0 tx-14">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-layers" aria-expanded="true" aria-controls="collapse-layers" class="tx-gray-800 transition">
                    <b>Layers</b>
                    <div class="arrow pull-right"></div>
                </a>
            </h6>
        </div>
        <!-- card-header -->

        <div id="collapse-layers" class="collapse" role="tabpanel" aria-labelledby="col-layers" style="max-height: 200px;overflow-y:auto">
            <div class="card pd-10 bg-b-1 ">
                <%- include('../../partials/client/layers'); %>
            </div>
        </div>
    </div>
    <div class="card img-ctrl hidden">
        <div class="card-header" role="tab" id="headingThree">
            <h6 class="mg-b-0 tx-14">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="tx-gray-800 transition">
                    <b>Color & Brightness</b>
                    <div class="arrow pull-right"></div>
                </a>
            </h6>
        </div>
        <!-- card-header -->

        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="collapseThree">
            <div class="card pd-20 bg-b-1 img-ctrl hidden">
                <div class="tx-12">
                    <div>
                        <b>Brightness
                            <span id="brightnessVal"></span>
                        </b>
                    </div>
                    <input type="range" min="-1" max="1" value="0.0" class="slider " step="0.003921" style="width:100%;height:2px" id="brightness-value">
                        <div>
                            <b>Contrast
                                <span id="contrastVal"></span>
                            </b>
                        </div>
                        <input type="range" min="-1" max="1" value="0.0" class="slider" step="0.003921" style="width:100%;height:2px" id="contrast-value">
                          
                        <div>
                            <label class="ckbox ">
                                <input type="checkbox" id="btnGrayscale">
                                    <span class="tx-14 tx-bold">Grayscale</span>
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="card img-ctrl hidden">
                <div class="card-header" role="tab" id="headingFour">
                    <h6 class="mg-b-0 tx-14">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="headingFour" class="tx-gray-800 transition">
                            <b>Resize Image</b>
                            <div class="arrow pull-right"></div>
                        </a>
                    </h6>
                </div>
                <!-- card-header -->

                <div id="collapseFour" class="collapse " role="tabpanel" aria-labelledby="headingFour">
                    <div class="card pd-20 mg-t-1 ">
                        <h6 class="tx-12 tx-uppercase tx-inverse tx-bold mg-b-15">Size</h6>
                        <div
                            class="d-flex mg-b-10">
                            <!-- <div class="bd-r pd-r-10">
                                                                                            <label class="tx-12 ">Crop</label>
                                                                                            <p class="tx-center tx-22">
                                                                                                <i class="ion-crop" id="crop"></i>
                                                                                            </p>
                                                        
                                                                                        </div> -->
                            <div class="bd-r pd-x-10">
                                <label class="tx-12 ">Rotate</label>
                                <p class="tx-center tx-22">
                                    <i class="ion-loop " id="rotate"></i>
                                </p>
                            </div>
                            <div class="bd-r pd-x-10">
                                <label class="tx-12 ">Crop</label>
                                <p class="tx-center tx-22">
                                    <i class="ion-crop" data-toggle="modal" id="btnCropModal" data-target="#cropModal" ></i>
                                </p>
                            </div>
                            

                            <div class="pd-x-10 img-ctrl bd-r">
                                <label class="tx-12">FlipX</label>
                                <p class="tx-center tx-22">
                                    <i class="ion-arrow-swap" id="flipW"></i>
                                </p>
                            </div>
                            <div class="pd-l-10 img-ctrl">
                                <label class="tx-12">FlipY</label>
                                <p class="tx-center tx-22" style="transform:rotate(90deg)">
                                    <i class="ion-arrow-swap" id="flipH"></i>
                                </p>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="card txt-ctrl hidden">
                <div class="card-header" role="tab" id="headingFive">
                    <h6 class="mg-b-0 tx-14">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="headingFive" class="tx-gray-800 transition">
                            <b>Font Styles</b>
                            <div class="arrow pull-right"></div>
                        </a>
                    </h6>
                </div>
                <!-- card-header -->

                <div id="collapseFive" class="collapse txt-ctrl hidden" role="tabpanel" aria-labelledby="headingFive">
                    <div class="card pd-10">
                        <div class="dropdown" id="font-list-container">
                            <button class="btn btn-block dropdown-toggle" type="button" id="fontlist" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Arial (sans-serif)
                            </button>
                            <div class="dropdown-menu"  aria-labelledby="fontlist">
                                <%fonts?.forEach((item)=>{%>
                                    <a class="dropdown-item" href="#" style="font-family: <%=item.content.replace('.ttf','')%>" data-value="<%=item.content.replace('.ttf','')%>" ><%=item.label%></a>
                                <%})%>
                              
                            </div>
                          </div>
                          

                    </div>
                </div>
            </div>
            <div class="card txt-ctrl hidden">
                <div class="card-header" role="tab" id="heading8">
                    <h6 class="mg-b-0 tx-14">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="heading8" class="tx-gray-800 transition">
                            <b>Font Format & Alignments</b>
                            <div class="arrow pull-right"></div>
                        </a>
                    </h6>
                </div>
                <!-- card-header -->

                <div id="collapse8" class="collapse txt-ctrl hidden" role="tabpanel" aria-labelledby="heading8">
                    <div class="card mg-t-1 pd-x-20 txt-ctrl hidden" id="font-panel">
                        <div class=" pd-y-10 font-style">
                            <i class="fa fa-bold text-decoration" data-value="bold" id="bold" title="bold"></i>
                            <i class="fa fa-italic text-decoration" data-value="italic" id="italic" title="italic"></i>
                            <i class="fa fa-underline text-decoration" data-value="underline" id="underline" title="underline"></i>
                            <i class="fa fa-align-left text-decoration " data-value="left" aria-hidden="true"></i>
                            <i class="fa fa-align-justify text-decoration" data-value="center" aria-hidden="true"></i>
                            <i class="fa fa-align-right text-decoration " data-value="right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card txt-ctrl hidden">
                <div class="card-header" role="tab" id="heading9">
                    <h6 class="mg-b-0 tx-14">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="heading9" class="tx-gray-800 transition">
                            <b>Stroke</b>
                            <div class="arrow pull-right"></div>
                        </a>
                    </h6>
                </div>
                <!-- card-header -->

                <div id="collapse9" class="collapse txt-ctrl hidden" role="tabpanel" aria-labelledby="heading9">
                    <div class="row mg-0 txt-ctrl hidden" id="font-panel">
                        <div class="col-lg-12 pd-10">
                        <div >
                            <label class="ckbox ">
                                <input type="checkbox" id="inputStrokeText">
                                    <span class="tx-14 tx-bold">Show Stroke
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                            <label>Stroke Color</label>
                                <input id="strokecolor" style="height: 40px; width:100px; font-size:10px" data-jscolor="{preset:'dark', closeButton:'true',closeText:'Close', width:250, paletteCols:15, value:'#FF70CE', onChange:'onChangeFontColor(this,\'stroke-color\')'}">                         
                            </div>
                        <div class="col-lg-6 ">
                            <label>Stroke Size</label>

                            <select id="text-stroke-width" class="form-control select2 select2-hidden-accessible" data-placeholder="Choose one" tabindex="-1" aria-hidden="true">
                                <option value="1" >1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4" >4</option>
                                <option value="5" >5</option>   
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8" >8</option>
                                <option value="9">9</option>  
                                <option value="10" selected>10</option>    
                                <option value="11" >11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14" >14</option>
                                <option value="15" >15</option>   
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18" >18</option>
                                <option value="19">19</option>  
                                <option value="20">20</option>                              
                            </select>
                            <!-- <input type="range" min="1" max="120" value="" step="1" class="slider" id="btnTextSize-range"> -->


                        </div>
                    </div>
                </div>
                <div class="card txt-ctrl hidden">
                    <div class="card-header" role="tab" id="headingSix">
                        <h6 class="mg-b-0 tx-14">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="headingSix" class="tx-gray-800 transition">
                                <b>Font Size and Colors</b>
                                <div class="arrow pull-right"></div>
                            </a>
                        </h6>
                    </div>
                    <!-- card-header -->

                    <div id="collapseSix" class="collapse txt-ctrl hidden" role="tabpanel" aria-labelledby="headingSix">
                        <div class=" mg-0 row">
                            <div class="col-lg-4 pd-10">
                                <Label>Font Color</Label>
                                <!-- <button class="swatchy-button swatchy-trigger">
                                    <span class="swatchy-button-top">Select a Color</span>
                                  </button> -->
                                  <!-- <input type="text" class="swatchy-button swatchy-output swatchy-display swatchy-trigger" data-id="text-color" > -->
                                  <!-- <button id="fontColorBox" data-jscolor="{preset:'dark', closeButton:'true',closeText:'Close', width:250, paletteCols:15, value:'#000', onChange:'onChangeFontColor(this,\'font-color\')'}" ></button> -->
                                  <input id="fontColorBox" style="height: 40px; width:100px; font-size:10px" data-jscolor="{preset:'dark', closeButton:'true',closeText:'Close', width:250, paletteCols:15, value:'#000', onChange:'onChangeFontColor(this,\'font-color\')'}">                            </div>
    
    
                            <div class="col-lg-4 pd-10">
                                <label>Text Size</label>
                                <select id="btnTextSize" class="form-control select2 select2-hidden-accessible" data-placeholder="Choose one" tabindex="-1" aria-hidden="true">
                                    <option value="10">10</option>
                                    <option value="12">12</option>
                                    <option value="14" >14</option>
                                    <option value="16">16</option>
                                    <option value="18" >18</option>
                                    <option value="20">20</option>
                                    <option value="22" selected >22</option>
                                    <option value="24">24</option>
                                    <option value="26">26</option>
                                    <option value="28">28</option>
                                    <option value="30">30</option>
                                    <option value="32">32</option>
                                    <option value="34" >34</option>
                                    <option value="36"  >36</option>
                                    <option value="38">38</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="55">55</option>
                                    <option value="60">60</option>
                                    <option value="65">65</option>
                                    <option value="70">70</option>
                                    <option value="75">75</option>
                                    <option value="80">80</option>
                                    <option value="85">85</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>

                                </select>
                                <!-- <input type="range" min="1" max="120" value="" step="1" class="slider" id="btnTextSize-range"> -->

                            </div>

                            <div class="col-lg-4 pd-10">
                                <label>Letter Space</label>
                                <select id="text-letter-spacing" class="form-control select2 select2-hidden-accessible" data-placeholder="Choose one" tabindex="-1" aria-hidden="true">
                                    <option value="10" selected>10</option>
                                    <option value="12">12</option>
                                    <option value="24" >24</option>
                                    <option value="28">28</option>
                                    <option value="32">32</option>
                                    <option value="36">36</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                </select>
                                <!-- <input type="range" min="1" max="120" value="" step="1" class="slider" id="text-letter-spacing-range">-->
                            </div>

                        </div>
                    </div>

                </div>


                <div class="card txt-ctrl hidden">
                    <div class="card-header" role="tab" id="heading11">
                        <h6 class="mg-b-0 tx-14">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true" aria-controls="heading11" class="tx-gray-800 transition">
                                <b>Multi-Line Height Spacing</b>
                                <div class="arrow pull-right"></div>
                            </a>
                        </h6>
                    </div>
                    <!-- card-header -->

                    <div id="collapse11" class="collapse txt-ctrl hidden" role="tabpanel" aria-labelledby="collapse11">
                        <div class="card pd-15">
                            <input type="range" value="1" min="0.1" max="10" step="0.1" class="slider" id="text-line-height"></div>
                        </div>
                    </div>

                    <div class="card txt-ctrl hidden">
                        <div class="card-header" role="tab" id="heading12">
                            <h6 class="mg-b-0 tx-14">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="true" aria-controls="heading12" class="tx-gray-800 transition">
                                    <b>Circular Text</b>
                                    <div class="arrow pull-right"></div>
                                </a>
                            </h6>
                        </div>
                        <!-- card-header -->
    
                        <div id="collapse12" class="collapse txt-ctrl hidden" role="tabpanel" aria-labelledby="collapse12">
                            <div class="row mg-0">
                                    <div class="col-lg-6 ">
                                        <div class="pd-y-15">
                                            
                                            
                                            <div>
                                                <label class="ckbox ">
                                                    <input type="checkbox" id="inputCurvedText">
                                                        <span class="tx-14 tx-bold">Circular Text
                                                        </span>
                                                    </label>
                                                </div>
                                                <div >
                                                    <input type="range"  value="500" min="200" max="2500" step="2" class="slider" id="curveTextCtrl"  >
                                                </div>
                                                </div>
                                    </div>
                                    <div class="col-lg-3 pd-0">
                                        <div class="pd-y-15" >
                                            <label class="ckbox ">
                                                <input type="checkbox" id="inputFlipText">
                                                    <span class="tx-14 tx-bold">Flip
                                                    </span>
                                                </label>
                                            </div>
                                    </div>
                                    <div class="col-lg-3 pd-0">
                                        <div class="pd-y-15" >
                                            <div class="bd-r pd-x-10 tx-center">
                                                <label class="tx-14 tx-bold ">Rotate</label>
                                                <p class="tx-center tx-24">
                                                    <i class="ion-loop " id="rotateText"></i>
                                                </p>
                                            </div>
                                            </div>
                                    </div>
                            </div>
                           
                        </div>
                            </div>
                            

                        </div>
                        <div class="card hidden" id="kpweblink-panel">
                            <div class="list-group-item pd-y-20">
                                <div class="media">
                                    <div class="d-flex mg-r-10 wd-50">
                                        <i class="ion-link tx-primary tx-40"></i>
                                    </div>
                                    <!-- d-flex -->
                                    <div class="media-body">
                                        <h6 class="tx-inverse tx-14">KakePrints Web link</h6>
                                        <p class="mg-b-0">
                                            <a href="#" id="kp-link">Here's a link to order more.</a>
                                        </p>
                                    </div>
                                    <!-- media-body -->
                                </div>
                                <!-- media -->
                            </div>
                        </div>