
  <div id="mainMenu" class="">
    <ul class="nav am-sideleft-menu">
   
   
      
      <li class="nav-item">
        <a href="#" data-toggle="modal" data-target="#popup-fileupload-max" class="nav-link tx-uppercase tx-bold tx-12 text-primary">
          <i class="ion-upload"></i>
          <span>File Upload Limit</span>
        </a>
        
      </li>
      <li class="nav-item">
        <a href="#" data-toggle="modal" data-target="#popup-banner-delay" class="nav-link tx-uppercase tx-bold tx-12 text-primary">
          <i class="ion-images"></i>
          <span>Banner Delay</span>
        </a>
        
      </li>
      <li class="nav-item">
        <a href="#" data-toggle="modal"  class="nav-link tx-uppercase tx-bold tx-12 text-primary">
          <i class="ion-power"></i>
          <span>Shutdown</span>
        </a>
      </li>
    </ul>
  </div>