<div class="workarea">
    <div>
        <!-- <div id="lbltemplatepreview">8.3 x 11" (21.1 x 27.9 cm)</div> -->
        <div  id="templatepreview">            
            <canvas id="templateCanvas" ></canvas>
        </div>
    </div>
</div>
