<div class="am-header">
    <div class="am-header-left">
        <span id="naviconLeftx" href="#" class="am-navicon d-none d-lg-flex">
            <img src="/images/icon.jpg" height="40px" />
        </span> 
        <a id="naviconLeftMobile" href="#" class="am-navicon d-lg-none">
            <i class="icon ion-navicon-round"></i>
        </a>
        <span class="am-logo">KakePrints <span class="tx-normal">by</span> <a href="https://www.kopykake.com" target="_blank" class="tx-white tx-underline tx-normal">Kopykake</a> </span>

    </div>
    <!-- am-header-left -->

    <%- include('../../partials/admin/authmenu'); %>
    <!-- am-header-right -->
</div>