    
<div class="table-responsive">
        <div class="workarea" id="workarea" >
         
          <div  id="canvas-holder">
              <div class="content tx-center" >
                  <canvas id="admin-main-canvas"   ></canvas>
                  <canvas id="admin-main-canvas-logo"   ></canvas>                    
              </div>
          </div>
          <div class="paste-clipboard"  style="display: none;"  id="pasteClipboard">
           <span  onclick="parseClipboardData();"  > Paste from Clipboard</span>
        </div>
      </div>
</div>