
<div class="workarea" id="workarea" >
  <div class=" bg-primary bd-b pd-5 bd-t">
   <ul class="nav nav-white-800 flex-column flex-md-row justify-content-end" role="tablist">
     <li class="nav-item "><button type="button" onclick="$('#btn-menu-peview').click()" class=" hand soft hidden btn btn-sm btn-success tx-12 tx-uppercase tx-bold bd-0 pd-x-20 " id="ws-btn-preview">Preview <br> Your Design</button>
   </li>
     <li class="nav-item "><button type="button" data-toggle="modal" data-target="#downloadPDFModel" class=" soft btn btn-sm btn-success tx-12 tx-uppercase tx-bold  bd-0 pd-x-20 hidden" id="ws-btn-download" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?" data-toggle="popover" ><i class="ion-checkmark-circled mg-r-5"></i> Finalize & Download <br> your PDF</button>
   </li>
     <li class="nav-item "><button type="button"  class=" hand soft hidden btn btn-success btn-sm tx-12 tx-uppercase tx-bold bd-0 pd-x-20" id="ws-btn-save"><i class="fa fa-floppy-o mg-r-5"></i>Save To<br>Shared Library</button></li>
     <li class="nav-item "><button type="button" onclick="backFromPreview()" class=" hand soft btn btn-danger tx-12 btn-sm tx-uppercase tx-bold  bd-0 pd-x-20 hidden" id="ws-btn-back"><i class="fa fa-pencil-square-o mg-r-5"></i> Continue Editing <br> Your Design</button>
   </li>
     <li class="nav-item "><a href="#" id="btnStartOverModel"   class="soft btn btn-sm btn-danger bd-0 pd-x-20 mg-l-1 tx-12 tx-uppercase tx-bold" ><i class="ion-refresh mg-r-5"></i>Restart Designing from <br>the Beginning</a>
   </li>
   </ul>
 </div>
 <div class=" bg-primary" id="quick-tool">
   <ul class="nav nav-white-800 flex-column flex-md-row justify-content-center" role="tablist">
     <!-- <li class="nav-item bd-r"><span  class=" nav-link lh-4 tx-center tx-bold tx-uppercase tx-11"  >      <input type="checkbox"  id="btnDisplayBorder" ><br><span>Border</span></span></li> -->
     <li class="nav-item bd-r"><span  class=" nav-link lh-4 tx-center tx-bold tx-uppercase tx-11"  >      <input type="checkbox"  id="btnDisplayGrid" ><br><span>Grid</span></span></li>
     <li class="nav-item bd-r"><span class=" nav-link lh-4 tx-center tx-bold tx-uppercase tx-11" ><input type="checkbox"  id="btnDisplayRuler" ><br><span>Ruler</span></span></li>
     <li class="nav-item bd-r"><a id="btnToolbarLarger" class=" nav-link lh-4 tx-center tx-bold tx-uppercase tx-11"  data-toggle="tab" href="#" role="tab"><i class="ion-android-add-circle tx-22"></i> <br>Larger</a></li>
     <li class="nav-item bd-r"><a id="btnToolbarSmaller"  class=" nav-link lh-4 tx-center tx-bold tx-uppercase tx-11" data-toggle="tab" href="#" role="tab"><i class="ion-android-remove-circle tx-22"></i><br>Smaller</a></li>
     <li class="nav-item bd-r"><a id="btnToolbarRotate" class=" nav-link lh-4 tx-center tx-bold tx-uppercase tx-11" data-toggle="tab" href="#" role="tab"><i class="ion-android-refresh tx-22"></i><br>Rotate</a></li>
     <li class="nav-item bd-r"><a id="btnToolbarFlip" class=" nav-link lh-4 tx-center tx-bold tx-uppercase tx-11" data-toggle="tab" href="#" role="tab"><i class="ion-arrow-swap tx-22"></i><br>Flip</a></li>
     <li class="nav-item bd-r"><a  class=" nav-link lh-4 tx-center tx-bold tx-uppercase tx-11" id="undo" data-toggle="tab" href="#" role="tab"><i class="ion-reply tx-22"></i> <br>Undo</a></li>
     <li class="nav-item"><a  class=" nav-link lh-4 tx-center tx-bold tx-uppercase tx-11" id="redo" data-toggle="tab" href="#" role="tab"><i class="ion-forward tx-22"></i><br>Redo</a></li>
   </ul>
 </div>
 <div  id="canvas-holder" >
     <div class="content tx-center" id="canvas-holder-inner" >
         <canvas id="admin-main-canvas"   ></canvas>
         <canvas id="admin-main-canvas-logo"   ></canvas>                    
     </div>
 </div>

 <div class="paste-clipboard"  style="display: none;"  id="pasteClipboard">
  <span  onclick="parseClipboardData();"  > Paste from Clipboard</span>
</div>
</div>