<div class="">
    <div >
        <div >
            <div class="canvas-holder" id="canvas-holder">              
                <div class="content">
                    <canvas id="c"></canvas>  
                </div>
            </div>
        </div>
    </div>
</div>
